.logo-slider {
  padding: 50px 0;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .logo-slider ul {
    display: flex;
    align-items: center;
  }
}
.logo-slider .logo {
  text-align: center;
}
.logo-slider .testimonials {
  margin: 50px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .logo-slider .testimonials {
    margin: 0px;
    margin-top: 100px;
  }
}
.logo-slider .controls .control:before {
  color: #68a2d7;
  cursor: pointer;
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .logo-slider .controls .control:before {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .logo-slider .controls .control:before {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1366px) {
  .logo-slider .controls .control:before {
    font-size: 38px;
  }
}
.logo-slider .controls .control.prev:before {
  content: "\e901";
  transform: translate(-50%, -50%);
  left: -25px;
}
.logo-slider .controls .control.next:before {
  content: "\e901";
  right: 0;
  transform: translate(-50%, -50%) rotate(180deg);
  right: -30px;
}
.logo-slider .tns-ovh {
  padding-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
