@import "mixins.scss";

.logo-slider {
    padding: 50px 0;
    position:relative;
    // &:before {
    //     content:"";
    //     position:absolute;
    //     top:0;
    //     bottom:0;
    //     left:0;
    //     right:0;
    //     background:url('/wp-content/themes/aspirico/blocks/testimonial-slider/bg.png');
    //     background-repeat: no-repeat;
    //     background-position: right;
    //     z-index: -1;
    //     background-size: 200%;
    //     z-index: -1;
    //     height: 1000px;
    //     @include screen(1024) {
    //         background-size: contain;
    //         height: 1500px;
    //     }
    //     @include screen(1366) {
    //         height: 2000px;
    //     }
    // }
    // .flex {
    //     margin: 0 50px;
    //     @include screen(768) {
    //         margin: 0;
    //         margin-bottom: 25px;
    //     }
    // }
    // .wrapper {
    // }
    // .items {
    //     margin-top:25px;
    // }
    ul {
        @include screen(1024) {
            display:flex;
            align-items: center;
        }
    }
    li {
    }
    .logo {
        text-align: center;
    }
    .testimonials {
        margin: 50px;
        position: relative;
        @include screen(768) {
            margin: 0px;
            margin-top:100px;
        }
    }
    .controls {
        .control {
            &:before {
                color: #68a2d7;
                cursor:pointer;
                font-family: "icomoon";
                position: absolute;
                top: 50%;
                font-size: 16px;
                @include screen(768) {
                    font-size: 25px;
                }
                @include screen(1280) {
                    font-size: 30px;
                }
                @include screen(1366) {
                    font-size: 38px;
                }
            }
            &.prev {
                &:before {
                    content: "\e901";
                    transform: translate(-50%,-50%);
                    left: -25px;
                }
            }
            &.next {
                &:before {
                    content: "\e901";
                    right: 0;
                    transform: translate(-50%,-50%) rotate(180deg);
                    right: -30px;
                }
            }

        }
    }
    .tns-ovh {
        padding-bottom: 25px;
    }
}
