{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="testimonials">
                <ul>
                    {% for item in fields.content.items %}
                        <li class="testimonial">
<div class="logo">{{imageElement(item.logo)}}</div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="controls">
                    <div class="control prev"></div>
                    <div class="control next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  var testimonials = tns({
    container: '.testimonials ul',
    controlsContainer: '.logo-slider .controls',
    items: 1,
    loop:true,
    slideBy: 'page',
    autoplay: false,
    nav: false,
    autoplayButtonOutput: false,
    gutter:20,
    mouseDrag:true,
    center:true,
    speed: 800,
    responsive: {
        1024: {
            items: 4,
            gutter:50,
            center:false
        }
    }

  });
</script>
{% endblock %}
