@import "mixins.scss";

.colorful-hero {
    position: relative;
    padding:100px 50px 50px 50px;
    min-height: 70px;
    @include screen(1024) {
        padding: 150px 50px 100px 50px;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: linear-gradient(270deg, rgba(237,25,111,1) 0%, rgba(52,75,160,1) 100%);
        z-index: -2;
    }
    h1 {
        color:white;
    }
    .shape {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }
    &.is-style-orange {
        &:before {
            background: linear-gradient(90deg, rgba(241, 88, 34, 1) 0%, rgba(52,75,160,1) 100%);
        }
    }
}