.colorful-hero {
  position: relative;
  padding: 100px 50px 50px 50px;
  min-height: 70px;
}
@media only screen and (min-width: 1024px) {
  .colorful-hero {
    padding: 150px 50px 100px 50px;
  }
}
.colorful-hero:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(270deg, rgb(237, 25, 111) 0%, rgb(52, 75, 160) 100%);
  z-index: -2;
}
.colorful-hero h1 {
  color: white;
}
.colorful-hero .shape {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
}
.colorful-hero .shape svg {
  height: 100%;
  width: auto;
  display: block;
}
.colorful-hero.is-style-orange:before {
  background: linear-gradient(90deg, rgb(241, 88, 34) 0%, rgb(52, 75, 160) 100%);
}

/*# sourceMappingURL=style.css.map */
