{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
    <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200" viewBox="16 50 220 200">
            <defs>
                <clipPath id="clip-path">
                <rect id="Rectangle_18" data-name="Rectangle 18" width="206.749" height="185.483" transform="translate(0 0)" fill="#2b2e74"/>
                </clipPath>
                <clipPath id="clip-path-2">
                <rect id="Rectangle_17" data-name="Rectangle 17" width="206.749" height="185.483" fill="#2b2e74"/>
                </clipPath>
            </defs>
            <g id="Group_15635" data-name="Group 15635" transform="translate(131.156) rotate(45)" style="mix-blend-mode: multiply;isolation: isolate">
                <g id="Group_10" data-name="Group 10" transform="translate(0 0)" clip-path="url(#clip-path)">
                <g id="Group_9" data-name="Group 9" transform="translate(0 0)">
                    <g id="Group_8" data-name="Group 8" clip-path="url(#clip-path-2)">
                    <g id="Group_7" data-name="Group 7" opacity="0.1">
                        <g id="Group_6" data-name="Group 6">
                        <g id="Group_5" data-name="Group 5" clip-path="url(#clip-path-2)">
                            <path id="Path_20" data-name="Path 20" d="M206.749,103.375a104.414,104.414,0,0,1-.816,13.043,103.386,103.386,0,0,0-205.116,0,103.379,103.379,0,1,1,205.932-13.043" transform="translate(0 0)" fill="#2b2e74"/>
                            <path id="Path_21" data-name="Path 21" d="M111.6,126.928a74.9,74.9,0,0,1-7.385,6.45A74.336,74.336,0,0,0,0,29.162a74.346,74.346,0,1,1,111.6,97.765" transform="translate(56.206 52.104)" fill="#2b2e74"/>
                            <path id="Path_22" data-name="Path 22" d="M105.373,52.686a53.169,53.169,0,0,1-.416,6.522,52.674,52.674,0,0,0-104.54,0,52.681,52.681,0,1,1,104.956-6.522" transform="translate(48.898 83.344)" fill="#2b2e74"/>
                            <path id="Path_23" data-name="Path 23" d="M20.885,10.443A10.443,10.443,0,1,0,10.443,20.885,10.442,10.442,0,0,0,20.885,10.443" transform="translate(91.142 103.125)" fill="#2b2e74"/>
                            <path id="Path_24" data-name="Path 24" d="M19.207,0a60.273,60.273,0,0,0,2.915,68.86A39.082,39.082,0,0,1,19.207,0" transform="translate(19.12 107.513)" fill="#2b2e74"/>
                        </g>
                        </g>
                    </g>
                    </g>
                </g>
                </g>
            </g>
        </svg>
    </div>
</section>
{% endblock %}
