.book-a-demo .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 9px 3px 18px rgba(0, 0, 0, 0.05);
  padding: 25px 0;
  position: relative;
  z-index: 1;
  background: white;
  padding-top: 100px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .wrapper {
    padding-top: 0px;
    margin-right: 50px;
  }
}
.book-a-demo .left svg {
  max-width: 100%;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .left svg {
    padding-left: 25px;
    max-width: 600px;
  }
}
@media only screen and (min-width: 1366px) {
  .book-a-demo .left svg {
    padding-left: 100px;
    max-width: 650px;
  }
}
@media only screen and (min-width: 1920px) {
  .book-a-demo .left svg {
    max-width: 838px;
  }
}
.book-a-demo .left {
  position: absolute;
  margin-right: 50px;
  z-index: 1;
  top: -185px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .left {
    top: 0;
    margin-right: 0px;
    position: relative;
    flex: 0 0 50vw;
    max-width: 50vw;
  }
}
.book-a-demo .right {
  flex: 0 0 calc(100% - 50px);
  max-width: calc(100% - 50px);
  position: relative;
  z-index: 2;
  background: white;
  margin-left: 50px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .right {
    padding: 50px 0;
    margin-left: 0px;
    flex: 0 0 calc(50vw - 60px);
    max-width: calc(50vw - 60px);
  }
}
.book-a-demo .inner {
  padding-right: 6vw;
  padding: 50px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .inner {
    padding: 0;
    padding-right: 6vw;
  }
}
.book-a-demo .wp-block-button__link {
  min-width: 179px;
  padding: 17px;
  font-size: 13px;
  min-width: 80px;
  padding: 11px;
  display: block;
  width: fit-content;
  text-align: center;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo .wp-block-button__link {
    min-width: 179px;
    padding: 17px;
    font-size: 16px;
  }
}
.book-a-demo .input input {
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 3px;
  color: rgb(43, 46, 116);
  font-weight: 700;
  padding-left: 15px;
  font-size: 16px;
  height: 32px;
  width: 145px;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo .input input {
    height: 79px;
    border-radius: 6px;
    padding-left: 35px;
  }
}
.book-a-demo .input input::placeholder {
  color: rgb(43, 46, 116);
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .form {
    margin-top: 40px;
  }
}
.book-a-demo .form .fields:nth-child(1) {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.book-a-demo .form .fields:nth-child(1) .input {
  flex: 0 0 calc(50% - 20px);
}
.book-a-demo .form .fields:nth-child(1) .input input {
  width: calc(100% - 35px);
}
.book-a-demo .form .fields:not(:first-child) input {
  width: calc(100% - 35px);
}
.book-a-demo .form .fields + .fields {
  margin-top: 25px;
}
.book-a-demo .form .submit {
  margin-top: 35px;
}

.book-a-demo .gform_title {
  display: none;
}
.book-a-demo .gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 15px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .gform_fields {
    column-gap: 50px;
    row-gap: 30px;
  }
}
.book-a-demo .gform_submission_error {
  font-size: 15px;
  color: #E42313;
  margin: 25px 0;
  border: 2px solid #E42313;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.book-a-demo .gform_validation_errors:focus-visible {
  outline: none;
}
.book-a-demo .gform_footer {
  margin-top: 25px;
}
.book-a-demo .gform_button {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #ed196f;
  border: 1px solid #ed196f;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px;
  min-width: 150px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .gform_button {
    font-size: 15px;
    min-width: 215px;
    padding: 17px;
  }
}
.book-a-demo .gform_button:hover {
  background: white;
  color: #ed196f;
}
.book-a-demo .gfield {
  box-sizing: border-box;
}
.book-a-demo .gfield_validation_message {
  color: red;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.book-a-demo .gfield_error {
  border: 1px solid red !important;
  padding: 15px;
}
.book-a-demo .gfield_label {
  display: none;
}
.book-a-demo .gfield--width-half {
  flex: 0 0 calc(50% - 12.5px);
  max-width: calc(50% - 12.5px);
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .gfield--width-half {
    flex: 0 0 calc(50% - 25px);
    max-width: calc(50% - 25px);
  }
}
.book-a-demo .gfield--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
.book-a-demo .gfield--type-checkbox {
  border: none;
}
.book-a-demo .gfield--type-checkbox legend {
  display: none;
}
.book-a-demo .gfield--type-checkbox input {
  min-height: unset !important;
  width: fit-content !important;
  margin-bottom: 3px !important;
  margin-right: 15px;
}
.book-a-demo .gfield--type-checkbox .gchoice {
  display: flex;
}
.book-a-demo .gfield--type-honeypot {
  display: none;
}
.book-a-demo .gfield input {
  outline: none;
  border: 1px solid rgba(43, 46, 116, 0.25);
  border-radius: 3px;
  color: rgb(43, 46, 116);
  font-weight: 700;
  padding-left: 15px;
  font-size: 12px;
  height: 32px;
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .gfield input {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .book-a-demo .gfield input {
    height: 79px;
    border-radius: 6px;
    padding-left: 35px;
  }
}
.book-a-demo .gfield input::placeholder {
  color: rgb(43, 46, 116);
  opacity: 0.5;
  font-size: 12px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo .gfield input::placeholder {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
