@import "mixins.scss";

@import "mixins.scss";

.book-a-demo {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 9px 3px 18px rgb(0 0 0 / 5%);
        padding: 25px 0;
        position: relative;
        z-index: 1;
        background: white;
        padding-top: 100px;
        @include screen(1024) {
            padding-top: 0px;
            margin-right: 50px;
        }
    }
    .left svg {
        max-width: 100%;
        @include screen(1024) {
            padding-left: 25px;
            max-width: 600px;
        }
        @include screen(1366) {
            padding-left: 100px;
            max-width: 650px;
        }
        @include screen(1920) {
            max-width: 838px;
        }
    }
    .left {
        position:absolute;
        margin-right: 50px;
        z-index: 1;
        top: -185px;
        @include screen(1024) {
            top: 0;
            margin-right: 0px;
            position:relative;
            flex:0 0 50vw;
            max-width: 50vw;
        }
    }
    .right {
        flex:0 0 calc(100% - 50px);
        max-width: calc(100% - 50px);
        position: relative;
        z-index: 2;
        background:white;
        margin-left: 50px;
        @include screen(1024) {
            padding: 50px 0;
            margin-left: 0px;
            flex:0 0 calc(50vw - 60px);
            max-width: calc(50vw - 60px);
        }
    }
    .inner {
        padding-right: 6vw;
        padding: 50px;
        @include screen(1024) {
            padding:0;
            padding-right: 6vw;
        }
    }
    .wp-block-button__link {
        min-width: 179px;
        padding: 17px;
        font-size: 13px;
        min-width: 80px;
        padding: 11px;
        display: block;
        width: fit-content;
        text-align: center;
        @include screen(1280) {
            min-width: 179px;
            padding: 17px;
            font-size: 16px;
        }
    }
    .input {
        input {
            outline: none;
            border: 1px solid rgba(218, 218, 218, 1);
            border-radius: 3px;
            color: rgba(43, 46, 116, 1);
            font-weight: 700;
            padding-left: 15px;
            font-size: 16px;
            height: 32px;
            width: 145px;
            @include screen(1280) {
                height: 79px;
                border-radius: 6px;
                padding-left: 35px;
            }
            &::placeholder {
                color: rgba(43, 46, 116, 1);
            }
        }
    }
    .form {
        @include screen(1024) {
            margin-top:40px;
        }
        .fields {
            &:nth-child(1) {
                display:flex;
                justify-content: space-between;
                gap: 35px;
                .input {
                    flex: 0 0 calc(50% - 20px);
                    input {
                        width: calc(100% - 35px);
                    }
                }
            }
            &:not(:first-child) {
                input {
                    width: calc(100% - 35px);
                }
            }
            & + .fields {
                margin-top:25px;
            }
        }
        .submit {
            margin-top:35px;
        }
    }
}

.book-a-demo {
    .gform {
        &_title {
            display:none;
        }
        &_fields {
            display:flex;
            flex-wrap:wrap;
            column-gap:25px;
            row-gap:15px;
            @include screen(1024) {
                column-gap:50px;
                row-gap:30px;
            }
        }
        &_submission_error {
            font-size: 15px;
            color: #E42313;
            margin: 25px 0;
            border: 2px solid #E42313;
            border-radius: 3px;
            padding: 20px;
            outline: none;
        }
        &_validation_errors {
            &:focus-visible {
                outline: none;
            }
        }
        &_footer {
            margin-top: 25px;
        }
        &_button {
            font-family: "Figtree",sans-serif;
            font-weight: 500;
            cursor:pointer;
            transition:all 0.3s ease-out;
            background:#ed196f;
            border:1px solid #ed196f;
            color:white;
            font-size: 14px;
            border-radius: 5px;
            padding: 12px;
            min-width: 150px;
            @include screen(1024) {
                font-size: 15px;
                min-width: 215px;
                padding: 17px;
            }
            &:hover {
                background: white;
                color:#ed196f;;
            }
        }
    }
    .gfield {
        box-sizing: border-box;
        &_validation_message {
            color: red;
            font-size: 14px;
            margin-top: 15px;
            font-weight: 700;
        }
        &_error {
            border: 1px solid red !important;
            padding: 15px;
        }
        &_label {
            display:none;
        }
        &--width {
            &-half {
                flex:0 0 calc(50% - 12.5px);
                max-width: calc(50% - 12.5px);
                @include screen(1024) {
                    flex:0 0 calc(50% - 25px);
                    max-width: calc(50% - 25px);
                }
            }
            &-full {
                flex:0 0 100%;
                max-width: 100%;
            }
        }
        &--type {
            &-checkbox {
                border:none;
                legend {
                    display:none;
                }
                a {
                    // color:red;
                }
                input {
                    min-height: unset !important;
                    width: fit-content !important;
                    margin-bottom: 3px !important;
                    margin-right: 15px;
                }
                .gchoice {
                    display: flex;
                }
            }
            &-honeypot {
                display:none;
            }
    
        }
    }
    
    .gfield {
        input {
            outline: none;
            border: 1px solid rgba(43, 46, 116, 0.25);
            border-radius: 3px;
            color: rgba(43, 46, 116, 1);
            font-weight: 700;
            padding-left: 15px;
            font-size: 12px;
            height: 32px;
            width: 100%;
            box-sizing: border-box;
            @include screen(1024) {
                font-size: 16px;
            }
            @include screen(1280) {
                height: 79px;
                border-radius: 6px;
                padding-left: 35px;
            }
            &::placeholder {
                color: rgba(43, 46, 116, 1);
                opacity:0.5;
                font-size: 12px;
                @include screen(1024) {
                    font-size: 16px;
                }
            }
        }
    }
}