{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="left">
            <svg xmlns="http://www.w3.org/2000/svg" width="738" height="822.621" viewBox="0 0 738 822.621">
            <g id="Group_14372" data-name="Group 14372" transform="translate(0 -6800.063)">
                <path id="Path_13752" data-name="Path 13752" d="M822.621,51.9A415.089,415.089,0,0,0,819.369,0C793.856,202.654,620.89,359.406,411.311,359.406S28.765,202.654,3.252,0A415.088,415.088,0,0,0,0,51.9c0,227.155,184.155,411.31,411.311,411.31S822.621,279.05,822.621,51.9" transform="translate(463.205 6800.063) rotate(90)" fill="#122262"/>
                <path id="Path_13753" data-name="Path 13753" d="M444.035,25.665A298.9,298.9,0,0,0,414.652,0c89.027,116,80.535,282.795-25.666,388.995S115.992,503.688,0,414.66a298.641,298.641,0,0,0,25.657,29.383c115.535,115.526,302.844,115.526,418.379,0s115.535-302.843,0-418.378" transform="translate(738 7023.698) rotate(90)" fill="#0c3b90"/>
                <path id="Path_13754" data-name="Path 13754" d="M419.257,25.952A210.252,210.252,0,0,0,417.6,0C404.807,103.522,316.613,183.68,209.624,183.68S14.441,103.522,1.657,0A210.231,210.231,0,0,0,0,25.952C0,141.729,93.856,235.585,209.624,235.585S419.257,141.729,419.257,25.952" transform="translate(567.193 6994.628) rotate(90)" fill="#336bb3"/>
                <path id="Path_13755" data-name="Path 13755" d="M83.1,41.548A41.549,41.549,0,1,1,41.549,0,41.548,41.548,0,0,1,83.1,41.548" transform="translate(493.413 7162.705) rotate(90)" fill="#122262"/>
                <path id="Path_13756" data-name="Path 13756" d="M76.421,273.98A239.8,239.8,0,0,1,88.013,0,155.5,155.5,0,0,0,76.421,273.98" transform="translate(701.755 6876.139) rotate(90)" fill="#4b92d0"/>
            </g>
            </svg>
        </div>
        <div class="right">
            <div class="inner">
                <InnerBlocks/>
                <div class="form">
                    {{fn('do_shortcode', [gravityform id="{{fields.content.form_id}}" title="false"] )}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
