@import "mixins.scss";

.youtube-embed {
    padding: 50px;
    @include screen(1024) {
        padding: 75px 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        color:#68A2D7;
    }
    .top,
    .mid,
    .bot {
        margin-bottom: 25px;
        @include screen(768) {
            margin-bottom: 50px;
        }
        @include screen(1024) {
            margin-bottom: 75px;
        }
    }
    iframe {
        width: 100%;
        min-height: 300px;
        @include screen(768) {
            min-height: 400px;
        }
        @include screen(1024) {
            min-height: 600px;
        }
        @include screen(1200) {
            min-height: 768px;
        }
    }
}
