.youtube-embed {
  padding: 50px;
}
@media only screen and (min-width: 1024px) {
  .youtube-embed {
    padding: 75px 0;
  }
}
.youtube-embed h1,
.youtube-embed h2,
.youtube-embed h3,
.youtube-embed h4,
.youtube-embed h5 {
  color: #68A2D7;
}
.youtube-embed .top,
.youtube-embed .mid,
.youtube-embed .bot {
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .youtube-embed .top,
  .youtube-embed .mid,
  .youtube-embed .bot {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .youtube-embed .top,
  .youtube-embed .mid,
  .youtube-embed .bot {
    margin-bottom: 75px;
  }
}
.youtube-embed iframe {
  width: 100%;
  min-height: 300px;
}
@media only screen and (min-width: 768px) {
  .youtube-embed iframe {
    min-height: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .youtube-embed iframe {
    min-height: 600px;
  }
}
@media only screen and (min-width: 1200px) {
  .youtube-embed iframe {
    min-height: 768px;
  }
}

/*# sourceMappingURL=style.css.map */
