{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top container">
        <div class="inner">
            {{fields.top.content}}
        </div>
    </div>
    <div class="mid container">
        <div class="inner">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{fields.video.youtube_video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="bot container">
        <div class="inner">
            {{fields.bottom.content}}
        </div>
    </div>
</section>
{% endblock %}
