.colorful-content {
  padding: 50px;
}
.colorful-content .flex {
  margin-bottom: 25px;
}
.colorful-content .wrapper {
  background: #f4f4f8;
  padding: 25px;
  color: rgb(43, 46, 116);
  border-radius: 15px;
}
@media only screen and (min-width: 1024px) {
  .colorful-content .wrapper {
    padding: 40px;
  }
}
@media only screen and (min-width: 1366px) {
  .colorful-content .wrapper {
    padding: 80px;
  }
}
.colorful-content .items {
  margin-top: 25px;
}
@media only screen and (min-width: 1024px) {
  .colorful-content .items {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .colorful-content .items {
    margin-top: 75px;
  }
}
.colorful-content .item-icon {
  max-width: 120px;
  flex: 0 0 120px;
}
.colorful-content .item-icon img {
  display: block;
}
.colorful-content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media only screen and (min-width: 1024px) {
  .colorful-content ul {
    row-gap: 50px;
    column-gap: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .colorful-content ul {
    row-gap: 70px;
    column-gap: 30px;
  }
}
.colorful-content li {
  display: flex;
  align-items: center;
  column-gap: 25px;
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .colorful-content li {
    column-gap: 44px;
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}
.colorful-content li::marker {
  color: rgb(254, 190, 18);
}
.colorful-content li p {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .colorful-content li .item-icon {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
.colorful-content.yellow h2 {
  color: rgb(254, 190, 18);
}

@media only screen and (min-width: 1280px) {
  .colorful-content .wrapper {
    flex-direction: row;
  }
  .colorful-content .wp-block-image {
    margin-bottom: 60px;
  }
  .colorful-content .wp-block-buttons {
    margin-top: 40px;
  }
  .colorful-content .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
