@import "mixins.scss";

.colorful-content {
    padding: 50px;
    .flex {
        margin-bottom: 25px;
    }
    .wrapper {
        background:#f4f4f8;
        padding:25px;
        color:rgba(43, 46, 116, 1);
        border-radius: 15px;
        @include screen(1024) {
            padding:40px;
        }
        @include screen(1366) {
            padding:80px;
        }
    }
    .items {
        margin-top:25px;
        @include screen(1024) {
            margin-top:50px;
        }
        @include screen(1280) {
            margin-top:75px;
        }
    }
    .item {
        &-icon {
            max-width: 120px;
            flex: 0 0 120px;
            img {
                display:block;
            }
        }
    }
    ul {
        display:flex;
        flex-wrap: wrap;
        gap: 30px;
        @include screen(1024) {
            row-gap: 50px;
            column-gap: 30px;
        }
        @include screen(1280) {
            row-gap: 70px;
            column-gap: 30px;
        }
    }
    li {
        display:flex;
        align-items: center;
        column-gap:25px;
        flex: 0 0 100%;
        max-width: 100%;
        @include screen(768) {
            column-gap:44px;
            flex: 0 0 calc(50% - 15px);
            max-width: calc(50% - 15px);
        }
        &::marker {
            color:rgba(254, 190, 18, 1);
        }
        p {
            margin:0;
        }
        .item-icon {
            @include screen(0,767) {
                flex: 0 0 30%;
                max-width: 30%;
            }
        }
    }
    &.yellow {
        h2 {
            color:rgba(254, 190, 18, 1);
        }
    }
}

@include screen(1280) {
    .colorful-content {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
    }
}