{% extends "block-base.twig" %}

{% block content %}
<section class="colorful-content {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="items">
                <ul>
                    {% for item in fields.content.items %}
                        <li class="item">
                            <div class="item-icon">{{imageElement(item.icon)}}</div>
                            <div class="item-content">{{item.content}}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
