.colorful-numbered-list {
  color: rgb(43, 46, 116);
  position: relative;
  padding: 7.5vh 50px;
  padding: 0;
  margin: 7.5vh 0;
}
@media only screen and (min-width: 1280px) {
  .colorful-numbered-list {
    margin: 0;
    padding: 15vh 50px;
  }
}
.colorful-numbered-list .wrapper {
  background: rgb(254, 190, 18);
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 7vh 9vw;
}
@media only screen and (min-width: 1024px) {
  .colorful-numbered-list .wrapper {
    padding: 10vh 4vw;
  }
}
.colorful-numbered-list h2 {
  font-weight: 400;
}
.colorful-numbered-list h2 strong {
  font-weight: 700;
}
.colorful-numbered-list .items {
  margin-top: 50px;
}
.colorful-numbered-list li {
  display: flex;
  align-items: flex-start;
  line-height: 1.3;
}
.colorful-numbered-list li .label {
  font-weight: 300;
  color: #2B2E74;
  font-size: 25px;
  margin-right: 1.5vw;
  flex: 0 0 40px;
  max-width: 40px;
}
@media only screen and (min-width: 768px) {
  .colorful-numbered-list li .label {
    flex: 0 0 60px;
    max-width: 60px;
    margin-right: 6vw;
    font-size: 35px;
  }
}
@media only screen and (min-width: 1280px) {
  .colorful-numbered-list li .label {
    flex: 0 0 75px;
    max-width: 75px;
    line-height: 0.8;
    font-size: 55px;
    margin-right: 3vw;
  }
}
.colorful-numbered-list li p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  letter-spacing: 0.5px;
}
@media only screen and (min-width: 768px) {
  .colorful-numbered-list li p {
    font-size: 18px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .colorful-numbered-list li p {
    font-size: 20px;
    line-height: 28px;
  }
}
.colorful-numbered-list li strong {
  color: #2B2E74;
}
.colorful-numbered-list li + li {
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .colorful-numbered-list li + li {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
