@import "mixins.scss";

.colorful-numbered-list {
    color:rgba(43, 46, 116, 1);
    position: relative;
    padding: 7.5vh 50px;
    padding: 0;
    margin: 7.5vh 0;
    @include screen(1280) {
        margin:0;
        padding: 15vh 50px;
    }
    .wrapper {
        background:rgba(254, 190, 18, 1);
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 7vh 9vw;
        @include screen(1024) {
            padding: 10vh 4vw;
        }
    }
    h2 {
        font-weight: 400;
        strong {
            font-weight: 700;
        }
    }
    .items {
        margin-top: 50px;
    }
    li {
        display: flex;
        align-items: flex-start;
        line-height: 1.3;
        .label {
            font-weight: 300;
            color:#2B2E74;
            font-size: 25px;
            margin-right: 1.5vw;
            flex: 0 0 40px;
            max-width: 40px;
            @include screen(768) {
                flex: 0 0 60px;
                max-width: 60px;
                margin-right: 6vw;
                font-size: 35px;
            }
            @include screen(1280) {
                flex: 0 0 75px;
                max-width: 75px;
                line-height: 0.8;
                font-size: 55px;
                margin-right: 3vw;
            }
        }
        p {
            font-size: 14px;
            line-height: 16px;
            margin-top:0;
            letter-spacing: 0.5px;
            @include screen(768) {
                font-size: 18px;
                line-height: 20px;
            }
            @include screen(1280) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        strong {
            color:#2B2E74;
        }
        & + li {
            margin-top:25px;
            @include screen(768) {
                margin-top:40px;
            }
        }
    }
}