.image-text .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.image-text .flex {
  flex: 0 0 48.5%;
  max-width: 623px;
  margin-bottom: 25px;
  padding: 0 50px;
}
@media only screen and (min-width: 768px) {
  .image-text .flex {
    padding: 0;
  }
}
.image-text .media {
  flex: 0 0 48.5%;
  max-width: 430px;
  position: relative;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .image-text .media {
    margin: 50px 0;
  }
}
.image-text .wp-block-image {
  margin-bottom: 30px;
}
.image-text .wp-block-buttons {
  margin-top: 30px;
}
.image-text img {
  max-width: 100%;
  height: auto;
}
.image-text h5 {
  color: #1F7A8C;
}
.image-text.is-style-home .wp-block-image {
  max-width: 240px;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .image-text.is-style-home .wp-block-image {
    max-width: 100%;
  }
}
.image-text.is-style-home .media {
  max-width: unset;
}
.image-text.reverse .wrapper {
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .image-text.reverse .wrapper {
    flex-direction: row-reverse;
  }
}
.image-text.sector {
  padding-top: 0;
}
.image-text.yellow h2 {
  color: rgb(254, 190, 18);
}
.image-text.is-style-about h2 {
  color: rgb(104, 166, 144);
  font-weight: 400;
}
.image-text.is-style-about .flex {
  flex: 0 0 60%;
  max-width: 800px;
}

@media only screen and (min-width: 1024px) {
  .image-text {
    padding: 80px 0;
  }
  .image-text .wrapper {
    flex-direction: row;
  }
  .image-text .wp-block-buttons {
    margin-top: 40px;
  }
  .image-text .flex {
    margin-bottom: 0px;
  }
  .image-text ul {
    max-width: 450px;
  }
  .image-text .media {
    margin: 0;
  }
  .image-text .media:before {
    height: 242px;
    width: 251px;
    left: -12px;
    top: -12px;
  }
  .image-text .media:after {
    height: 242px;
    width: 251px;
    right: -12px;
    bottom: -12px;
  }
}

/*# sourceMappingURL=style.css.map */
