@import "mixins.scss";

.image-text {
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .flex {
        flex:0 0 48.5%;
        max-width: 623px;
        margin-bottom: 25px;
        padding: 0 50px;
        @include screen(768) {
            padding: 0;
        }
    }
    .media {
        flex:0 0 48.5%;
        max-width: 430px;
        position: relative;
        margin: 25px 0;
        @include screen(768) {
            margin: 50px 0;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h5 {
        color:#1F7A8C;
    }
    &.is-style-home {
        .wp-block-image {
            max-width: 240px;
            margin: auto;
            @include screen(1024) {
                max-width: 100%;
            }
        }
        .media {
            max-width: unset;
        }
    }
    &.reverse {
        .wrapper {
            flex-direction: column;
            @include screen(1024) {
                flex-direction: row-reverse;
            }
        }
    }
    &.sector {
        padding-top: 0;
    }
    &.yellow {
        h2 {
            color:rgba(254, 190, 18, 1);
        }
    }
    &.is-style-about {
        h2 {
            color:rgba(104, 166, 144, 1);
            font-weight: 400;
        }
        .flex {
            flex:0 0 60%;
            max-width:800px;
        }
    }
}

@include screen(1024) {
    .image-text {
        padding: 80px 0;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
        .media {
            margin:0;
            &:before {
                height: 242px;
                width: 251px;
                left: -12px;
                top: -12px;
            }
            &:after {
                height: 242px;
                width: 251px;
                right: -12px;
                bottom: -12px;
            }
        }
    }
}