@import "mixins.scss";

.contact-block-one {
    position:relative;
    padding: 75px 50px;
    &:before {
        content:"";
        position: absolute;
        z-index:1;
        background:url('/wp-content/themes/aspirico/blocks/contact-block-one/bg-one.png');
        top: 300px;
        right: 0;
        left: 0;
        height: 1377px;
    }
    &:after {
        content:"";
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        bottom:0;
        left:0;
        z-index:2;
        background:url('/wp-content/themes/aspirico/blocks/contact-block-one/bg-two.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    h2 {
        color:#ED196F;
        letter-spacing: 1.13px;
    }
    label {
        display:none;
    }
    .wrapper {
        margin: 25px 0;
    }
    input {
        font-family: "Figtree",sans-serif;
        height: 44px;
        box-shadow: 0 6px 9px rgb(0 0 0 / 16%);
        border: none;
        border-radius: 5px;
        color:#2B2E74;
        font-weight: 600;
        outline:none;
        width: calc(100% - 30px);
        padding-left: 30px;
        @include screen(1024) {
            font-size: 20px;
            height: 66px;
            padding-top: 10px;
        }
        &[type="submit"] {
            cursor:pointer;
            padding-left: 0;
            box-shadow: none;
            color: white;
            background: #ED196F;
            width: fit-content;
            min-width: 150px;
            @include screen(1024) {
                font-size: 20px;
                padding-top: 0;
                min-width: 325px;
                font-weight: 400;
            }
        }
        &::placeholder {
            font-size: 14px;
            font-family: "Figtree",sans-serif;
            color:#2B2E74;
            font-weight: 600;
            @include screen(1024) {
                font-size: 20px;
            }
        }
    }
    textarea {
        padding-left: 30px;
        padding-top: 15px;
        font-family: "Figtree",sans-serif;
        box-shadow: 0 6px 9px rgb(0 0 0 / 16%);
        border: none;
        border-radius: 5px;
        color:#2B2E74;
        font-weight: 600;
        outline:none;
        width: calc(100% - 30px);
        @include screen(1024) {
            font-size: 20px;
        }
        &::placeholder {
            font-size: 14px;
            font-family: "Figtree",sans-serif;
            color:#2B2E74;
            font-weight: 600;
            @include screen(1024) {
                font-size: 20px;
            }
        }
    }
    .form-field {
        @include screen(1024) {
            display:flex;
            column-gap: 4vw;
        }
        &.half {
            & > div {
                @include screen(1024) {
                    flex: 0 0 calc(50% - 2vw);
                    max-width: calc(50% - 2vw);
                }
            }
        }
        &:not(.half) {
            & > div {
                @include screen(1024) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .top {
        @include screen(1024) {
            padding-top: 15vh;
        }
    }
    .wrapper {
        @include screen(1024) {
            padding: 50px;
        }
    }
    .form {
        @include screen(1024) {
            margin-top:50px;
        }
        &-submit {
            @include screen(1024) {
                text-align: right;
            }
        }
    }
    .top,
    .bot {
        position: relative;
        z-index: 4;
    }
}
