.contact-block-one {
  position: relative;
  padding: 75px 50px;
}
.contact-block-one:before {
  content: "";
  position: absolute;
  z-index: 1;
  background: url("/wp-content/themes/aspirico/blocks/contact-block-one/bg-one.png");
  top: 300px;
  right: 0;
  left: 0;
  height: 1377px;
}
.contact-block-one:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: url("/wp-content/themes/aspirico/blocks/contact-block-one/bg-two.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-block-one h2 {
  color: #ED196F;
  letter-spacing: 1.13px;
}
.contact-block-one label {
  display: none;
}
.contact-block-one .wrapper {
  margin: 25px 0;
}
.contact-block-one input {
  font-family: "Figtree", sans-serif;
  height: 44px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 5px;
  color: #2B2E74;
  font-weight: 600;
  outline: none;
  width: calc(100% - 30px);
  padding-left: 30px;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one input {
    font-size: 20px;
    height: 66px;
    padding-top: 10px;
  }
}
.contact-block-one input[type=submit] {
  cursor: pointer;
  padding-left: 0;
  box-shadow: none;
  color: white;
  background: #ED196F;
  width: fit-content;
  min-width: 150px;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one input[type=submit] {
    font-size: 20px;
    padding-top: 0;
    min-width: 325px;
    font-weight: 400;
  }
}
.contact-block-one input::placeholder {
  font-size: 14px;
  font-family: "Figtree", sans-serif;
  color: #2B2E74;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one input::placeholder {
    font-size: 20px;
  }
}
.contact-block-one textarea {
  padding-left: 30px;
  padding-top: 15px;
  font-family: "Figtree", sans-serif;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 5px;
  color: #2B2E74;
  font-weight: 600;
  outline: none;
  width: calc(100% - 30px);
}
@media only screen and (min-width: 1024px) {
  .contact-block-one textarea {
    font-size: 20px;
  }
}
.contact-block-one textarea::placeholder {
  font-size: 14px;
  font-family: "Figtree", sans-serif;
  color: #2B2E74;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one textarea::placeholder {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .form-field {
    display: flex;
    column-gap: 4vw;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .form-field.half > div {
    flex: 0 0 calc(50% - 2vw);
    max-width: calc(50% - 2vw);
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .form-field:not(.half) > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .top {
    padding-top: 15vh;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .wrapper {
    padding: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .form {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .form-submit {
    text-align: right;
  }
}
.contact-block-one .top,
.contact-block-one .bot {
  position: relative;
  z-index: 4;
}

/*# sourceMappingURL=style.css.map */
