{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">
        <h1>Contact Us</h1>
        </div>
    </div>
    <div class="bot">
        <div class="container">
            <div class="wrapper">
                <div class="flex">
                    <h2>Send us a message</h2>
                </div>
                <div class="form">
                {{fn('do_shortcode', fields.content.shortcode )}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
