.webinar-feed {
  padding: 50px 0;
}
@media only screen and (min-width: 1024px) {
  .webinar-feed {
    padding: 100px 0;
  }
}
.webinar-feed h2 {
  color: rgb(241, 88, 34);
}
.webinar-feed .related {
  padding: 50px 0 !important;
}
.webinar-feed .related-list {
  display: flex;
}
.webinar-feed .related-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  background: white;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 45px;
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .webinar-feed .related-item {
    flex: 0 0 33.33%;
    max-width: 440px;
  }
}
.webinar-feed .related-item h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.webinar-feed .related-sum p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
.webinar-feed .related-list {
  flex-wrap: wrap;
  column-gap: 15px;
  margin-top: 25px;
}
@media only screen and (max-width: 1023px) {
  .webinar-feed .related-list {
    justify-content: center;
  }
}
.webinar-feed .related-container {
  display: flex;
  flex-direction: column;
}
.webinar-feed .related-info {
  flex-grow: 1;
  display: flex;
  margin-bottom: 25px;
}
.webinar-feed .related-read .read-more {
  position: relative;
  transition: all 0.3s ease-out;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(241, 88, 34);
  color: rgb(241, 88, 34);
  padding: 20px;
}
.webinar-feed .related-read .read-more span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.webinar-feed .related-read .read-more:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e901";
  color: rgb(241, 88, 34);
  font-family: "icomoon";
  right: 0;
  transform: rotate(180deg);
  right: 25px;
}
.webinar-feed .related-read .read-more:hover {
  background: rgb(241, 88, 34);
  color: white;
}
.webinar-feed .related-read .read-more:hover:before {
  color: white;
}
.webinar-feed .related-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.webinar-feed .related-image img {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .webinar-feed .related-image img {
    max-width: 250px;
    height: auto;
  }
}
.webinar-feed .related-image label {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #92D400;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: max-content;
  text-align: center;
  display: block;
  padding: 0 10px;
}
.webinar-feed .related-video {
  margin-bottom: 25px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  height: 200px;
  position: relative;
  background: var(--bg);
  background-size: cover;
  background-position: center;
}
.webinar-feed .related-video:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: black;
  opacity: 0.35;
  mix-blend-mode: multiply;
}
.webinar-feed .related-video-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.webinar-feed .see-all {
  margin: auto;
  color: #f15822;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  min-width: 300px;
  display: block;
  width: fit-content;
  text-align: center;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  .webinar-feed .see-all {
    margin: 0;
  }
}
.webinar-feed .see-all:hover {
  color: white;
  background: #f15822;
}

.csf-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
