.case-study-feed-three {
  background: rgba(43, 46, 116, 0.05);
  padding: 50px 0;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-three {
    padding: 100px 0;
  }
}
.case-study-feed-three h2 {
  color: #febe12;
}
.case-study-feed-three .related {
  padding: 50px 0 !important;
}
.case-study-feed-three .related-list {
  display: flex;
}
.case-study-feed-three .related-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  background: white;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 45px;
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-three .related-item {
    flex: 0 0 33.33%;
    max-width: 440px;
  }
}
.case-study-feed-three .related-item h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.case-study-feed-three .related-sum p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
.case-study-feed-three .related-list {
  flex-wrap: wrap;
  column-gap: 15px;
  margin-top: 25px;
}
@media only screen and (max-width: 1023px) {
  .case-study-feed-three .related-list {
    justify-content: center;
  }
}
.case-study-feed-three .related-container {
  display: flex;
  flex-direction: column;
}
.case-study-feed-three .related-info {
  flex-grow: 1;
  display: flex;
}
.case-study-feed-three .related-read .read-more {
  position: relative;
  transition: all 0.3s ease-out;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(254, 190, 18);
  color: rgb(254, 190, 18);
  padding: 20px;
}
.case-study-feed-three .related-read .read-more span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.case-study-feed-three .related-read .read-more:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e901";
  color: rgb(254, 190, 18);
  font-family: "icomoon";
  right: 0;
  transform: rotate(180deg);
  right: 25px;
}
.case-study-feed-three .related-read .read-more:hover {
  background: rgb(254, 190, 18);
  color: white;
}
.case-study-feed-three .related-read .read-more:hover:before {
  color: white;
}
.case-study-feed-three .related-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}
.case-study-feed-three .related-image img {
  display: block;
  transition: 0.5s ease;
  width: 352px;
  height: 198px;
  object-fit: cover;
}
.case-study-feed-three .related-image label {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #92D400;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: max-content;
  text-align: center;
  display: block;
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
