{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="csf-container container">
        <div class="csf-top row">
            <div class="csf-button hide-mobile">
                <a class="btn primary" href="{{fields.button.url}}" target="{{fields.button.target}}"><span>{{fields.button.title}}</span></a>
            </div>
        </div>
        <div class="">
            <div id="filter-container" class="all">
                <ul class="rl related-list {{fields.post_type}}">
                    {% for item in objects %}
                        <li class="related-item">{% include ['related-item-feed.twig'] %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="csf-button hide-desktop">
            <a class="btn primary" href="{{fields.button.url}}" target="{{fields.button.target}}"><span>{{fields.button.title}}</span></a>
        </div>
    </div>
</section>
{% endblock %}

