@import "mixins.scss";

footer {
    background:#2B2E74;
    @include screen(768) {
        padding-top: 50px;
    }
    .top {
        padding:25px;
    }
    .bot {
        padding: 25px 35px;
        background:#344BA0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .footer-menu-one {
        li {
            &:not(:first-child) {
                a {
                    &:before{
                        @include screen(768) {
                            content:"|";
                            color:#68A2D7;
                            margin-left: 12px;
                            margin-right: 12px;
                        }
                        @include screen(1280) {
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                    }
                }
            }
            &:nth-child(1) {
                a {
                    color:#febe12;
                }
            }
        }
        a {
            font-weight: 500;
            color:#68A2D7;
            font-size:12px;
            line-height: 24px;
            @include screen(768) {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.5px;
            }
            @include screen(1200) {
                font-size: 18px;
                line-height: 22px;
            }
            @include screen(1366) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .footer-menu-two {
        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 25px;
            row-gap: 10px;
            column-gap: 25px;
            @include screen(768) {
                gap:0;
                padding:0;
                padding-bottom: 25px;
                justify-content: flex-end;
            }
        }
        li {
            &:not(:first-child) {
                a {
                    &:before{
                        @include screen(768) {
                            content:"|";
                            color:#68A2D7;
                            margin-left: 15px;
                            margin-right: 15px;
                        }
                        @include screen(1200) {
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                        @include screen(1536) {
                            margin-left: 35px;
                            margin-right: 35px;
                        }
                    }
                }
            }
        }
        a {
            font-weight: 500;
            color:#68A2D7;
            font-size:15px;
            line-height: 24px;
            @include screen(768) {
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.55px;
            }
            @include screen(1200) {
                font-size: 20px;
                line-height: 25px;
            }
            @include screen(1366) {
                font-size: 22px;
                line-height: 27px;
            }
        }
    }
    .two {
        border-bottom:1px solid rgba(104, 162, 215, 0.5);
        @include screen(0,767) {
            margin: 25px 0;
            border-top:1px solid rgba(104, 162, 215, 0.5);
        }
        @include screen(768) {
            margin: 15px 0;
        }
    }
    .three {
        display: flex;
        justify-content: space-between;
        @include screen(768) {
            padding-bottom: 25px;
        }
        @include screen(1280) {
            padding-bottom: 50px;
        }
        .contact-info-border {
            width: 1px;
            background: rgba(104, 162, 215, 0.5);
            min-height: 132px;
        }
        .contact-info-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .info-two {
            margin-top: 15px;
            min-height: 66px;
            @include screen(768) {
                margin-top: 20px;
            }
        }
        .yellow {
            color:#febe12;
        }
        a {
            font-weight: 500;
            color:white;
            font-size:15px;
            line-height: 22px;
            @include screen(768) {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.6px;
            }
            @include screen(1200) {
                font-size: 20px;
                line-height: 30px;
            }
            @include screen(1366) {
                font-size: 24px;
                line-height: 35px;
            }
        }
    }
    .cp {
        color:white;
        font-size: 14px;
    }
    .bot-menu {
        display: flex;
        a {
            color:white;
            font-size: 15px;
            line-height: 22px;
        }
        li {
            position:relative;
            &:not(:first-child) {
                &:before {
                    font-size: 16px;
                    content:"|";
                    color:white;
                    margin-right: 7px;
                    margin-left: 7px;
                }
            }
        }
    }
    .social {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        @include screen(1024) {
            margin-bottom: 0;
        }
        a {
            &:before {
                color:white;
                font-size: 25px;
                font-family:"icomoon";
                @include screen(1024) {
                    font-size: 40px;
                }
            }
        }
        .tw {
            &:before {
                content: "\e903";
            }
        }
        .li {
            &:before {
                content: "\e907";
            }
        }
    }
    .wrapper {
        @include screen(768) {
            display:flex;
            gap: 2vw;
        }
        @include screen(1200) {
            gap: 2.5vw;
        }
        @include screen(1366) {
            gap: 6vw;
        }
    }
    .top {
        flex-grow: 1;
    }
    .footer-logo {
        @include screen(768) {
            padding-top:15px;
        }
        @include screen(1280) {
            padding-top:25px;
        }
        img {
            @include screen(768) {
                width: 1750px;
            }
            @include screen(1200) {
                width: 200px;
            }
            @include screen(1366) {
                width: 280px;
            }
        }
    }
    .footer-menu-one {
        ul {
            @include screen(768) {
                display:flex;
            }
        }
    }
    .one {
        display: flex;
        justify-content: space-between;
        @include screen(768) {
            justify-content: flex-end;
        }
    }

    .info-one {
        li + li{
            margin-top: 10px;
        }
    }
}

.fade {
    &-up {
        opacity: 0;
        transform: translate3d(0,100px,0);
        transition-property: opacity,transform;
        transition-duration: 1.5s;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    }
    
}