footer {
  background: #2B2E74;
}
@media only screen and (min-width: 768px) {
  footer {
    padding-top: 50px;
  }
}
footer .top {
  padding: 25px;
}
footer .bot {
  padding: 25px 35px;
  background: #344BA0;
}
footer .bot .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  footer .footer-menu-one li:not(:first-child) a:before {
    content: "|";
    color: #68A2D7;
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .footer-menu-one li:not(:first-child) a:before {
    margin-left: 20px;
    margin-right: 20px;
  }
}
footer .footer-menu-one li:nth-child(1) a {
  color: #febe12;
}
footer .footer-menu-one a {
  font-weight: 500;
  color: #68A2D7;
  font-size: 12px;
  line-height: 24px;
}
@media only screen and (min-width: 768px) {
  footer .footer-menu-one a {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}
@media only screen and (min-width: 1200px) {
  footer .footer-menu-one a {
    font-size: 18px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1366px) {
  footer .footer-menu-one a {
    font-size: 20px;
    line-height: 24px;
  }
}
footer .footer-menu-two ul {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  row-gap: 10px;
  column-gap: 25px;
}
@media only screen and (min-width: 768px) {
  footer .footer-menu-two ul {
    gap: 0;
    padding: 0;
    padding-bottom: 25px;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-menu-two li:not(:first-child) a:before {
    content: "|";
    color: #68A2D7;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  footer .footer-menu-two li:not(:first-child) a:before {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1536px) {
  footer .footer-menu-two li:not(:first-child) a:before {
    margin-left: 35px;
    margin-right: 35px;
  }
}
footer .footer-menu-two a {
  font-weight: 500;
  color: #68A2D7;
  font-size: 15px;
  line-height: 24px;
}
@media only screen and (min-width: 768px) {
  footer .footer-menu-two a {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.55px;
  }
}
@media only screen and (min-width: 1200px) {
  footer .footer-menu-two a {
    font-size: 20px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1366px) {
  footer .footer-menu-two a {
    font-size: 22px;
    line-height: 27px;
  }
}
footer .two {
  border-bottom: 1px solid rgba(104, 162, 215, 0.5);
}
@media only screen and (max-width: 767px) {
  footer .two {
    margin: 25px 0;
    border-top: 1px solid rgba(104, 162, 215, 0.5);
  }
}
@media only screen and (min-width: 768px) {
  footer .two {
    margin: 15px 0;
  }
}
footer .three {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  footer .three {
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .three {
    padding-bottom: 50px;
  }
}
footer .three .contact-info-border {
  width: 1px;
  background: rgba(104, 162, 215, 0.5);
  min-height: 132px;
}
footer .three .contact-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .three .info-two {
  margin-top: 15px;
  min-height: 66px;
}
@media only screen and (min-width: 768px) {
  footer .three .info-two {
    margin-top: 20px;
  }
}
footer .three .yellow {
  color: #febe12;
}
footer .three a {
  font-weight: 500;
  color: white;
  font-size: 15px;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  footer .three a {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.6px;
  }
}
@media only screen and (min-width: 1200px) {
  footer .three a {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1366px) {
  footer .three a {
    font-size: 24px;
    line-height: 35px;
  }
}
footer .cp {
  color: white;
  font-size: 14px;
}
footer .bot-menu {
  display: flex;
}
footer .bot-menu a {
  color: white;
  font-size: 15px;
  line-height: 22px;
}
footer .bot-menu li {
  position: relative;
}
footer .bot-menu li:not(:first-child):before {
  font-size: 16px;
  content: "|";
  color: white;
  margin-right: 7px;
  margin-left: 7px;
}
footer .social {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) {
  footer .social {
    margin-bottom: 0;
  }
}
footer .social a:before {
  color: white;
  font-size: 25px;
  font-family: "icomoon";
}
@media only screen and (min-width: 1024px) {
  footer .social a:before {
    font-size: 40px;
  }
}
footer .social .tw:before {
  content: "\e903";
}
footer .social .li:before {
  content: "\e907";
}
@media only screen and (min-width: 768px) {
  footer .wrapper {
    display: flex;
    gap: 2vw;
  }
}
@media only screen and (min-width: 1200px) {
  footer .wrapper {
    gap: 2.5vw;
  }
}
@media only screen and (min-width: 1366px) {
  footer .wrapper {
    gap: 6vw;
  }
}
footer .top {
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  footer .footer-logo {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .footer-logo {
    padding-top: 25px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-logo img {
    width: 1750px;
  }
}
@media only screen and (min-width: 1200px) {
  footer .footer-logo img {
    width: 200px;
  }
}
@media only screen and (min-width: 1366px) {
  footer .footer-logo img {
    width: 280px;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-menu-one ul {
    display: flex;
  }
}
footer .one {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  footer .one {
    justify-content: flex-end;
  }
}
footer .info-one li + li {
  margin-top: 10px;
}

.fade-up {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*# sourceMappingURL=style.css.map */
