.image-with-numbers {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
@media only screen and (min-width: 1280px) {
  .image-with-numbers {
    padding-top: 20vh;
    padding-bottom: 10vh;
  }
}
.image-with-numbers .flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 75px;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1280px) {
  .image-with-numbers .flex {
    flex-direction: row;
  }
}
.image-with-numbers h2 {
  color: #68A2D7;
  max-width: 80%;
  margin-bottom: 35px;
}
@media only screen and (min-width: 768px) {
  .image-with-numbers h2 {
    margin-bottom: 45px;
  }
}
@media only screen and (min-width: 1366px) {
  .image-with-numbers h2 {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1536px) {
  .image-with-numbers h2 {
    margin-bottom: 63px;
  }
}
.image-with-numbers .label {
  font-size: 14px;
  line-height: 1.2;
  color: #2B2E74;
  font-weight: 500;
  margin-top: 10px;
}
@media only screen and (min-width: 1200px) {
  .image-with-numbers .label {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1366px) {
  .image-with-numbers .label {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1536px) {
  .image-with-numbers .label {
    font-size: 20px;
  }
}
.image-with-numbers .number {
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
}
@media only screen and (min-width: 1200px) {
  .image-with-numbers .number {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1366px) {
  .image-with-numbers .number {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1536px) {
  .image-with-numbers .number {
    font-size: 55px;
  }
}
.image-with-numbers ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10vw;
}
@media only screen and (min-width: 768px) {
  .image-with-numbers ul {
    column-gap: 125px;
  }
}
.image-with-numbers li {
  flex: 0 0 calc(50% - 25px);
  max-width: calc(50% - 25px);
}
@media only screen and (min-width: 768px) {
  .image-with-numbers li {
    flex: 0 0 calc(45% - 55px);
    max-width: calc(45% - 55px);
  }
}
.image-with-numbers li:not(:nth-child(5)):not(:nth-child(6)) {
  margin-bottom: 50px;
}
@media only screen and (min-width: 1600px) {
  .image-with-numbers .container {
    max-width: 1536px;
  }
}
.image-with-numbers .left,
.image-with-numbers .right {
  padding: 0 10vw;
}
@media only screen and (min-width: 1280px) {
  .image-with-numbers .left,
  .image-with-numbers .right {
    padding: 0;
    flex: 0 0 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}
.image-with-numbers .left img,
.image-with-numbers .right img {
  margin-top: 25px;
}
@media only screen and (min-width: 7698px) {
  .image-with-numbers .left img,
  .image-with-numbers .right img {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
