@import "mixins.scss";

.image-with-numbers {
    padding-top: 10vh;
    padding-bottom: 10vh;
    @include screen(1280) {
        padding-top: 20vh;
        padding-bottom: 10vh;
    }
    .flex {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 75px;
        flex-direction: column-reverse;
        @include screen(1280) {
            flex-direction: row;
        }

    }
    h2 {
        color:#68A2D7;
        max-width: 80%;
        margin-bottom: 35px;
        @include screen(768) {
            margin-bottom: 45px;
        }
        @include screen(1366) {
            margin-bottom: 50px;
        }
        @include screen(1536) {
            margin-bottom: 63px;
        }
    }
    .label {
        font-size: 14px;
        line-height: 1.2;
        color:#2B2E74;
        font-weight: 500;
        margin-top:10px;
        @include screen(1200) {
            font-size: 16px;
        }
        @include screen(1366) {
            font-size: 18px;
        }
        @include screen(1536) {
            font-size: 20px;
        }
    }
    .number {
        font-size: 25px;
        line-height: 1;
        font-weight: 700;
        @include screen(1200) {
            font-size: 35px;
        }
        @include screen(1366) {
            font-size: 45px;
        }
        @include screen(1536) {
            font-size: 55px;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10vw;
        @include screen(768) {
            column-gap: 125px;
        }
    }
    li {
        flex: 0 0 calc(50% - 25px);
        max-width: calc(50% - 25px);
        @include screen(768) {
            flex: 0 0 calc(45% - 55px);
            max-width: calc(45% - 55px);
        }
        &:not(:nth-child(5)):not(:nth-child(6)) {
            margin-bottom: 50px;
        }
    }
    .container {
        @include screen(1600) {
            max-width: 1536px;
        }
    }
    .left,
    .right {
        padding: 0 10vw;
        @include screen(1280) {
            padding:0;
            flex:0 0 calc(50% - 40px);
            max-width: calc(50% - 40px);
        }
        img {
            margin-top:25px;
            @include screen(7698) {
                margin-top:0;
            }
        }
    }
}