{% extends "block-base.twig" %}

{% block content %}
<section class="image-with-numbers {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container flex">
        <div class="left">
            <div class="inner">
                {{imageElement(fields.content.image)}}
            </div>
        </div>
        <div class="right">
        <h2>Our Real Performance Metrics…</h2>
            <ul class="rl primary">
                <li>
                    <div class="number"><span class="">5495</span>+</div>
                    <div class="label">Services with iplanit deployed</div>
                </li>
                <li>
                    <div class="number"><span class="">337365</span>+</div>
                    <div class="label">iplanit users per month</div>
                </li>
                <li>
                    <div class="number"><span class="">238739</span>+</div>
                    <div class="label">Real-life outcomes on iplanit</div>
                </li>
                <li>
                    <div class="number"><span class="">112322</span>+</div>
                    <div class="label">People supported with iplanit</div>
                </li>
                <li>
                    <div class="number"><span class="">287376</span>+</div>
                    <div class="label">Support plans on iplanit</div>
                </li>
                <li>
                    <div class="number"><span class="">1</span></div>
                    <div class="label">Verified iplanit-planned Skydive</div>
                </li>
            </ul>
        </div>
    </div>
</section>
<script>
const animationDuration = 2000;
const frameDuration = 1000 / 60;
const totalFrames = Math.round( animationDuration / frameDuration );
const easeOutQuad = t => t * ( 2 - t );

const animateCountUp = el => {
	let frame = 0;
  const formatter = new Intl.NumberFormat('en-IE', {});
	const countTo = parseInt( el.innerHTML, 10 );
	const counter = setInterval( () => {
		frame++;
		const progress = easeOutQuad( frame / totalFrames );
		const currentCount = Math.round( countTo * progress );
		if ( parseInt( el.innerHTML, 10 ) !== currentCount ) {
			el.innerHTML = formatter.format(currentCount);
		}
		if ( frame === totalFrames ) {
			clearInterval( counter );
		}
	}, frameDuration );
};

const runAnimations = () => {
	const countupEls = document.querySelectorAll( '.number span');
	countupEls.forEach( animateCountUp );
};

function onVisible(element, callback) {
  new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if(entry.intersectionRatio > 0) {
        callback(element);
        observer.disconnect();
      }
    });
  }).observe(element);
}

onVisible(document.querySelector(".image-with-numbers"), () => runAnimations());

</script>
{% endblock %}
