{% extends "block-base.twig" %}

{% block content %}
{% set image = fn('get_field', 'profile_image',  'user_' ~ post.author.id) %}
<section class="{{blockClasses(block)}}">
    <div class="hero">
        <div class="container">
            <div class="inner">
                <div class="left hide-mobile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="358.937" height="322.016" viewBox="0 0 358.937 322.016">
                        <g id="Group_15641" data-name="Group 15641" transform="translate(-1357.396 -191)">
                            <path id="Path_516720" data-name="Path 516720" d="M457.225,53.319a181.11,181.11,0,0,0-1.419-22.644,179.487,179.487,0,0,1-356.1,0A179.476,179.476,0,1,0,457.225,53.319" transform="translate(1259.108 280.228)" fill="#122262"/>
                            <path id="Path_516721" data-name="Path 516721" d="M317,11.2A130.419,130.419,0,0,0,304.179,0,129.055,129.055,0,0,1,123.252,180.931,129.071,129.071,0,1,0,317,11.2" transform="translate(1331.723 191)" fill="#0c3b90"/>
                            <path id="Path_516722" data-name="Path 516722" d="M302.943,30.391a91.74,91.74,0,0,0-.723-11.324,91.446,91.446,0,0,1-181.49,0A91.459,91.459,0,1,0,302.943,30.391" transform="translate(1322.284 246.462)" fill="#336bb3"/>
                            <path id="Path_516723" data-name="Path 516723" d="M175.027,45.432A18.129,18.129,0,1,1,156.9,27.3a18.129,18.129,0,0,1,18.129,18.129" transform="translate(1376.859 270.419)" fill="#122262"/>
                            <path id="Path_516724" data-name="Path 516724" d="M140.125,123.593A104.635,104.635,0,0,1,145.183,4.046a67.85,67.85,0,0,0-5.058,119.547" transform="translate(1283.81 202.769)" fill="#4b92d0"/>
                        </g>
                    </svg>
                </div>
                <div class="right">
                    <h1>{{post.title}}</h1>
                    <ul class="post-details">
                        <li>by {{post.author}}</li>
                        <li>{{post.date}}</li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if fields.display_featured_image %}
    <div class="featured">
        <div class="container">
            <div class="inner">
                <img src="{{post.thumbnail.src}}" alt="Featured Image">
            </div>
        </div>
    </div>
    {% endif %}
    <div class="post-content">
        <div class="container">
            <div class="wrapper">
                <div class="flex">
                    <InnerBlocks/>
                </div>
            </div>
        </div>
    </div>
    <div class="post-credits">
        <div class="container">
            <div class="inner">
                <div class="profile-image">
                    {{imageElement(image)}}
                </div>
                <div class="post-info">
                    <div class="author"><h3>{{post.author}}</h3></div>
                    <div class="bio hide-mobile">{{post.author.description}}</div>
                </div>
                <div class="post-info full hide-desktop">
                    <div class="bio">{{post.author.description}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


