@import "mixins.scss";

.colorful-hero-two {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding:100px 50px 50px 50px;
    min-height: 70px;
    @include screen(1024) {
        padding: 150px 50px 100px 50px;
        min-height: 500px;
    }
    @include screen(1536) {
        min-height: 700px;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: linear-gradient(270deg, rgba(52, 75, 160, 1) 0%, rgba(43, 46, 116, 1) 100%);
        z-index: -2;
    }
    h1 {
        color:white;
    }
    .wp-block-buttons {
        margin-top:50px;
        @include screen(1024) {
            margin-top:100px;
        }
    }
    .flex {
        position: relative;
        z-index: 3;
        @include screen(1024) {
            max-width: 500px;
        }
    }
    .container {
        width: 100%;
    }
    .shape {
        position: absolute;
        top: 0;
        right: 16%;
        height: 100%;
        width: auto;
        svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }
    &.is-style-orange {
        &:before {
            background: linear-gradient(90deg, rgba(241, 88, 34, 1) 0%, rgba(52,75,160,1) 100%);
        }
    }
}