.colorful-hero-two {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 100px 50px 50px 50px;
  min-height: 70px;
}
@media only screen and (min-width: 1024px) {
  .colorful-hero-two {
    padding: 150px 50px 100px 50px;
    min-height: 500px;
  }
}
@media only screen and (min-width: 1536px) {
  .colorful-hero-two {
    min-height: 700px;
  }
}
.colorful-hero-two:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(270deg, rgb(52, 75, 160) 0%, rgb(43, 46, 116) 100%);
  z-index: -2;
}
.colorful-hero-two h1 {
  color: white;
}
.colorful-hero-two .wp-block-buttons {
  margin-top: 50px;
}
@media only screen and (min-width: 1024px) {
  .colorful-hero-two .wp-block-buttons {
    margin-top: 100px;
  }
}
.colorful-hero-two .flex {
  position: relative;
  z-index: 3;
}
@media only screen and (min-width: 1024px) {
  .colorful-hero-two .flex {
    max-width: 500px;
  }
}
.colorful-hero-two .container {
  width: 100%;
}
.colorful-hero-two .shape {
  position: absolute;
  top: 0;
  right: 16%;
  height: 100%;
  width: auto;
}
.colorful-hero-two .shape svg {
  height: 100%;
  width: auto;
  display: block;
}
.colorful-hero-two.is-style-orange:before {
  background: linear-gradient(90deg, rgb(241, 88, 34) 0%, rgb(52, 75, 160) 100%);
}

/*# sourceMappingURL=style.css.map */
