{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
    <div class="shape">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="743.127" height="789.179" viewBox="0 0 743.127 789.179">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_1528" data-name="Rectangle 1528" width="652.999" height="585.83" transform="translate(0 0)" fill="#68a2d7"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <rect id="Rectangle_1527" data-name="Rectangle 1527" width="652.999" height="585.83" fill="#68a2d7"/>
    </clipPath>
  </defs>
  <g id="Group_15681" data-name="Group 15681" transform="translate(743.127 161.477) rotate(106)" opacity="0.945">
    <g id="Group_15680" data-name="Group 15680" transform="translate(0 0)" clip-path="url(#clip-path)">
      <g id="Group_15679" data-name="Group 15679" transform="translate(0 0)">
        <g id="Group_15678" data-name="Group 15678" clip-path="url(#clip-path-2)">
          <g id="Group_15677" data-name="Group 15677" opacity="0.1">
            <g id="Group_15676" data-name="Group 15676">
              <g id="Group_15675" data-name="Group 15675" clip-path="url(#clip-path-2)">
                <path id="Path_545079" data-name="Path 545079" d="M653,326.5a329.792,329.792,0,0,1-2.578,41.2C630.164,206.825,492.865,82.4,326.5,82.4S22.835,206.825,2.58,367.7A329.419,329.419,0,0,1,0,326.5C0,146.179,146.179,0,326.5,0S653,146.179,653,326.5" transform="translate(0 0)" fill="#68a2d7"/>
                <path id="Path_545080" data-name="Path 545080" d="M352.481,400.89a236.566,236.566,0,0,1-23.324,20.372c70.672-92.08,63.926-224.486-20.372-308.783S92.08,21.433,0,92.107A236.606,236.606,0,0,1,20.374,68.783c91.709-91.709,240.4-91.711,332.107,0s91.709,240.4,0,332.109" transform="translate(177.522 164.567)" fill="#68a2d7"/>
                <path id="Path_545081" data-name="Path 545081" d="M332.81,166.4A167.924,167.924,0,0,1,331.5,187a166.365,166.365,0,0,0-330.18,0A166.388,166.388,0,1,1,332.81,166.4" transform="translate(154.441 263.235)" fill="#68a2d7"/>
                <path id="Path_545082" data-name="Path 545082" d="M65.964,32.982A32.982,32.982,0,1,0,32.982,65.964,32.981,32.981,0,0,0,65.964,32.982" transform="translate(287.865 325.71)" fill="#68a2d7"/>
                <path id="Path_545083" data-name="Path 545083" d="M60.664,0A190.366,190.366,0,0,0,69.87,217.489,123.436,123.436,0,0,1,60.664,0" transform="translate(60.388 339.571)" fill="#68a2d7"/>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>

    </div>
</section>
{% endblock %}
