.link-cards-one {
  padding: 25px 0;
  position: relative;
}
.link-cards-one:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/aspirico/blocks/link-cards-one/bg-one.png");
  position: absolute;
  height: 1000px;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .link-cards-one:before {
    height: 2221px;
  }
}
.link-cards-one .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin: 30px 0;
}
@media only screen and (min-width: 1280px) {
  .link-cards-one .cards {
    justify-content: center;
    gap: 35px;
    margin: 75px 0;
  }
}
.link-cards-one .card {
  position: relative;
  flex: 1 0 161px;
  max-width: 100%;
  display: block;
  text-align: center;
  transition: all 0.3s ease-out;
  padding: 20px 10px;
  box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  height: 141px;
}
@media only screen and (min-width: 768px) {
  .link-cards-one .card {
    padding: 20px;
    flex: 0 0 26%;
    max-width: 428px;
    height: unset;
  }
}
@media only screen and (min-width: 1200px) {
  .link-cards-one .card {
    padding: 25px;
  }
}
@media only screen and (min-width: 1366px) {
  .link-cards-one .card {
    padding: 30px;
  }
}
.link-cards-one .card-title {
  position: relative;
  transition: all 0.3s ease-out;
  color: #2B2E74;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .link-cards-one .card-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .link-cards-one .card-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1366px) {
  .link-cards-one .card-title {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.link-cards-one .card-image {
  position: relative;
  margin: 15px 0;
}
@media only screen and (min-width: 1280px) {
  .link-cards-one .card-image {
    margin: 50px 0;
  }
}
@media only screen and (max-width: 767px) {
  .link-cards-one .card-image svg {
    max-width: 63px;
  }
}
.link-cards-one .card svg path {
  transition: all 0.3s ease-out;
}
.link-cards-one .card:before {
  transition: all 0.3s ease-out;
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(45deg, rgb(104, 166, 144) 0%, rgb(52, 75, 160) 100%);
}
.link-cards-one .card:hover:before {
  opacity: 1;
}
.link-cards-one .card:hover .card-title {
  color: white;
}
.link-cards-one .card:hover:nth-child(1) svg path:not(#one) {
  fill: white;
}
.link-cards-one .card:hover:nth-child(2) svg path:not(#two) {
  fill: white;
}
.link-cards-one .card:hover:nth-child(3) svg path:not(#three) {
  fill: white;
}
.link-cards-one .card:hover:nth-child(4) svg path:not(#four) {
  fill: white;
}
.link-cards-one .card:hover:nth-child(5) svg path:not(#five) {
  fill: white;
}
.link-cards-one .card:nth-child(1) svg #one {
  fill: #68A690;
}
.link-cards-one .card:nth-child(2) svg #two {
  fill: #68A690;
}
.link-cards-one .card:nth-child(3) svg #three {
  fill: #68A690;
}
.link-cards-one .card:nth-child(4) svg #four {
  fill: #68A690;
}
.link-cards-one .card:nth-child(5) svg #five {
  fill: #68A690;
}
.link-cards-one .top {
  margin-left: 10vw;
}
@media only screen and (max-width: 1279px) {
  .link-cards-one .bot {
    padding: 15px;
  }
}
.link-cards-one.is-style-who-we-help {
  padding-top: 50px;
}
@media only screen and (min-width: 1024px) {
  .link-cards-one.is-style-who-we-help {
    padding-top: 150px;
  }
}
.link-cards-one.is-style-who-we-help:before {
  height: unset;
  content: "";
  position: absolute;
  top: -150px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgb(104, 166, 144) 0%, rgb(52, 75, 160) 100%);
}
.link-cards-one.is-style-who-we-help .top {
  margin-left: unset;
  padding: 0 50px;
}
@media only screen and (min-width: 1024px) {
  .link-cards-one.is-style-who-we-help .top {
    padding: 0;
  }
}
.link-cards-one.is-style-who-we-help .top h2,
.link-cards-one.is-style-who-we-help .top p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
