@import "mixins.scss";

.link-cards-one {
    padding: 25px 0;
    position:relative;
    &:before {
        content:"";
        top:0;
        left:0;
        right:0;
        background:url('/wp-content/themes/aspirico/blocks/link-cards-one/bg-one.png');
        position: absolute;
        height: 1000px;
        z-index: -1;
        @include screen(1280) {
            height: 2221px;
        }
    }
    .cards {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap:15px;
        margin: 30px 0;
        @include screen(1280) {
            justify-content: center;
            gap:35px;
            margin: 75px 0;
        }
    }
    .card {
        position:relative;
        flex: 1 0 161px;
        max-width: 100%;
        display:block;
        text-align: center;
        transition:all 0.3s ease-out;
        padding: 20px 10px;
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        background-color:white;
        height: 141px;
        @include screen(768) {
            padding: 20px;
            flex: 0 0 26%;
            max-width: 428px;
            height: unset;
        }
        @include screen(1200) {
            padding: 25px;
        }
        @include screen(1366) {
            padding: 30px;
        }
        &-title {
            position: relative;
            transition:all 0.3s ease-out;
            color:#2B2E74;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.2;
            @include screen(768) {
                font-size: 25px;
                margin-bottom: 15px;
            }
            @include screen(1200) {
                font-size: 30px;
                margin-bottom: 20px;
            }
            @include screen(1366) {
                font-size: 35px;
                margin-bottom: 30px;
            }

        }
        &-image {
            position: relative;
            margin: 15px 0;
            @include screen(1280) {
                margin: 50px 0;
            }
            svg {
                @include screen(0,767) {
                    max-width: 63px;
                }
            }
        }
        svg {
            path {
                transition:all 0.3s ease-out;
            }
        }
        &:before {
            transition:all 0.3s ease-out;
            content:"";
            position: absolute;
            border-radius: 10px;
            top:0;
            bottom:0;
            left:0;
            right:0;
            opacity:0;
            background: linear-gradient(45deg, rgba(104,166,144,1) 0%, rgba(52,75,160,1) 100%);
        }
        &:hover {
            &:before {
                opacity:1;
            }
            .card-title {
                color:white;
            }
            &:nth-child(1) {
                svg {
                    path:not(#one) {
                        fill:white;
                    }
                }
            }
            &:nth-child(2) {
                svg {
                    path:not(#two) {
                        fill:white;
                    }
                }
            }
            &:nth-child(3) {
                svg {
                    path:not(#three) {
                        fill:white;
                    }
                }
            }
            &:nth-child(4) {
                svg {
                    path:not(#four) {
                        fill:white;
                    }
                }
            }
            &:nth-child(5) {
                svg {
                    path:not(#five) {
                        fill:white;
                    }
                }
            }
        }
        &:nth-child(1) {
            svg {
                #one {
                    fill:#68A690;
                }
            }
        }
        &:nth-child(2) {
            svg {
                #two {
                    fill:#68A690;
                }
            }
        }
        &:nth-child(3) {
            svg {
                #three {
                    fill:#68A690;
                }
            }
        }
        &:nth-child(4) {
            svg {
                #four {
                    fill:#68A690;
                }
            }
        }
        &:nth-child(5) {
            svg {
                #five {
                    fill:#68A690;
                }
            }
        }
    }
    .top {
        margin-left: 10vw;
    }
    .bot {
        @include screen(0,1279) {
            padding:15px;

        }
    }
    &.is-style-who-we-help {
        padding-top:50px;
        @include screen(1024) {
            padding-top: 150px;
        }
        &:before {
            height: unset;
            content:"";
            position:absolute;
            top:-150px;
            bottom:0;
            left:0;
            right:0;
            z-index: -1;
            background: linear-gradient(0deg, rgba(104,166,144,1) 0%, rgba(52,75,160,1) 100%);
        }
        .top {
            margin-left: unset;
            padding: 0 50px;
            @include screen(1024) {
                padding:0;
            }
            h2,
            p {
                color:white;
            }
        }
    }
}

