{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container"><InnerBlocks/>{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="container">
            <div class="cards">
            {% for card in fields.content.cards %}
                <a class="card" href="{{card.link.url}}">
                    <div class="card-image">
                        <svg class="hide-mobile" xmlns="http://www.w3.org/2000/svg" width="150.156" height="134.71" viewBox="0 0 150.156 134.71">
                            <g id="Group_1507" data-name="Group 1507" transform="translate(-845 -3117)">
                                <g id="Group_101" data-name="Group 101" transform="translate(845 3117)">
                                    <path id="five" data-name="Path 37" d="M248.444,40.148a75.773,75.773,0,0,0-.594-9.473,75.086,75.086,0,0,1-148.969,0,75.081,75.081,0,1,0,149.563,9.473" transform="translate(-98.288 19.485)" fill="#344ba0"/>
                                    <path id="four" data-name="Path 38" d="M204.3,4.685A54.555,54.555,0,0,0,198.94,0a53.988,53.988,0,0,1-75.688,75.69,54,54,0,1,0,81.051-71" transform="translate(-82.431 0)" fill="#344BA0"/>
                                    <path id="three" data-name="Path 39" d="M196.536,23.8a38.371,38.371,0,0,0-.3-4.737,38.255,38.255,0,0,1-75.924,0A38.261,38.261,0,1,0,196.536,23.8" transform="translate(-84.492 12.111)" fill="#344ba0"/>
                                    <path id="one" data-name="Path 40" d="M153.937,34.887a7.584,7.584,0,1,1-7.584-7.584,7.584,7.584,0,0,1,7.584,7.584" transform="translate(-72.575 17.343)" fill="#344ba0"/>
                                    <path id="two" data-name="Path 41" d="M120.73,54.057a43.772,43.772,0,0,1,2.116-50.011,28.384,28.384,0,0,0-2.116,50.011" transform="translate(-92.894 2.57)" fill="#344ba0"/>
                                </g>
                            </g>
                        </svg>
                        <svg class="hide-desktop" xmlns="http://www.w3.org/2000/svg" width="150.156" height="50" viewBox="0 0 150.156 134.71">
                            <g id="Group_1507" data-name="Group 1507" transform="translate(-845 -3117)">
                                <g id="Group_101" data-name="Group 101" transform="translate(845 3117)">
                                    <path id="five" data-name="Path 37" d="M248.444,40.148a75.773,75.773,0,0,0-.594-9.473,75.086,75.086,0,0,1-148.969,0,75.081,75.081,0,1,0,149.563,9.473" transform="translate(-98.288 19.485)" fill="#344ba0"/>
                                    <path id="four" data-name="Path 38" d="M204.3,4.685A54.555,54.555,0,0,0,198.94,0a53.988,53.988,0,0,1-75.688,75.69,54,54,0,1,0,81.051-71" transform="translate(-82.431 0)" fill="#344BA0"/>
                                    <path id="three" data-name="Path 39" d="M196.536,23.8a38.371,38.371,0,0,0-.3-4.737,38.255,38.255,0,0,1-75.924,0A38.261,38.261,0,1,0,196.536,23.8" transform="translate(-84.492 12.111)" fill="#344ba0"/>
                                    <path id="one" data-name="Path 40" d="M153.937,34.887a7.584,7.584,0,1,1-7.584-7.584,7.584,7.584,0,0,1,7.584,7.584" transform="translate(-72.575 17.343)" fill="#344ba0"/>
                                    <path id="two" data-name="Path 41" d="M120.73,54.057a43.772,43.772,0,0,1,2.116-50.011,28.384,28.384,0,0,0-2.116,50.011" transform="translate(-92.894 2.57)" fill="#344ba0"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="card-title">
                        {{card.link.title}}
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
