.single-case-study .post-content h1,
.single-case-study .post-content h2,
.single-case-study .post-content h3,
.single-case-study .post-content h4,
.single-case-study .post-content h5 {
  color: #F15822;
  margin: 0.25em 0;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .container.short {
    max-width: 80vw;
  }
}
@media only screen and (min-width: 1366px) {
  .single-case-study .container.short {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1920px) {
  .single-case-study .container.short {
    max-width: 62.5vw;
  }
}
.single-case-study .featured {
  margin: 40px 0;
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .featured {
    padding: 0;
    margin: 75px 0;
  }
}
.single-case-study .featured iframe {
  min-height: 215px;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .featured iframe {
    min-height: 675px;
  }
}
.single-case-study .featured .inner {
  position: relative;
  background: #000000;
  min-height: 215px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .featured .inner {
    min-height: 675px;
  }
}
.single-case-study .hero h1 {
  color: #344BA0;
  margin-bottom: 0.25em;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .hero .inner {
    display: flex;
    align-items: center;
    gap: 90px;
  }
}
.single-case-study .hero .left {
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 0;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .hero .left {
    padding: 0;
  }
}
.single-case-study .hero .right {
  position: relative;
  z-index: 5;
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .hero .right {
    padding: 0;
    flex: 0 0 680px;
  }
}
.single-case-study .hero .post-details {
  display: inline-flex;
}
.single-case-study .hero .post-details li {
  font-weight: 500;
  color: rgb(104, 162, 215);
}
.single-case-study .hero .post-details li:not(:first-child):before {
  content: "|";
  margin: 0 5px;
}
.single-case-study .post-content {
  padding: 0 50px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .post-content {
    padding: 0;
  }
}
.single-case-study .post-credits {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .post-credits {
    padding: 0;
  }
}
.single-case-study .post-credits .inner {
  background: rgba(43, 46, 116, 0.05);
  padding: 25px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-end;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .post-credits .inner {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 60px 50px;
    gap: 60px;
  }
}
.single-case-study .post-credits h3 {
  color: rgb(43, 46, 116);
}
.single-case-study .post-credits .profile-image {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  height: 125px;
  width: 125px;
  flex: 0 0 125px;
}
.single-case-study .post-credits .profile-image img {
  height: 125px;
  width: 125px;
  object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .post-credits .profile-image img {
    height: 350px;
    width: 350px;
  }
}
@media only screen and (min-width: 1024px) {
  .single-case-study .post-credits .profile-image {
    height: 350px;
    width: 350px;
    flex: 0 0 350px;
  }
}
.single-case-study .post-credits .post-info.full {
  flex: 0 0 100%;
}
.single-case-study .post-credits .bio {
  font-weight: 500;
  line-height: 28px;
}
.single-case-study .quote {
  color: white;
  margin-top: -80px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .quote {
    margin-top: -125px;
    margin-bottom: 125px;
  }
}
.single-case-study .quote p {
  font-weight: 400;
}
.single-case-study .quote .author {
  color: rgb(104, 166, 144);
  font-weight: 500;
  margin: 10px 0;
}
.single-case-study .quote .position {
  margin-bottom: 25px;
}
.single-case-study .quote .inner {
  min-height: 315px;
  border-radius: 15px;
  padding: 50px;
  background: linear-gradient(249deg, rgb(52, 75, 160) 0%, rgb(43, 46, 116) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 240px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .quote .inner {
    min-height: 265px;
    padding: 100px 75px;
  }
}
.single-case-study .quote .inner:before, .single-case-study .quote .inner:after {
  content: "";
  display: block;
  position: absolute;
  height: 161px;
  width: 258px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .quote .inner:before, .single-case-study .quote .inner:after {
    height: 309px;
    width: 492px;
  }
}
.single-case-study .quote .inner:before {
  background: url(/wp-content/themes/aspirico/blocks/single-case-study/one.png);
  background-size: contain;
  top: 50px;
  left: 30px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .quote .inner:before {
    top: 0;
    left: 35px;
  }
}
.single-case-study .quote .inner:after {
  background: url(/wp-content/themes/aspirico/blocks/single-case-study/two.png);
  background-size: contain;
  bottom: 20px;
  right: 35px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .quote .inner:after {
    bottom: 0;
    right: 35px;
  }
}
.single-case-study .benefits {
  padding: 26px;
}
.single-case-study .benefits-head {
  border-bottom: 0.5px solid rgb(104, 162, 215);
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .single-case-study .benefits-head {
    display: flex;
    align-items: center;
  }
}
.single-case-study .benefits-head h2 {
  color: #ED196F;
}
@media only screen and (min-width: 768px) {
  .single-case-study .benefits-head h2 {
    flex: 0 0 300px;
  }
}
@media only screen and (min-width: 1024px) {
  .single-case-study .benefits-head h2 {
    flex: 0 0 400px;
  }
}
.single-case-study .benefits-head p {
  color: #68A2D7;
}
.single-case-study .benefits-list {
  list-style: disc;
  padding-left: 15px;
}
@media only screen and (min-width: 768px) {
  .single-case-study .benefits-list {
    column-count: 2;
    column-gap: 50px;
  }
}
.single-case-study .benefits-single {
  margin-bottom: 15px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .single-case-study .benefits-single {
    margin-bottom: 25px;
  }
}
.single-case-study .benefits-single::marker {
  color: rgb(254, 190, 18);
}
.single-case-study .benefits .inner {
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
  padding: 25px;
  border-radius: 15px;
}
@media only screen and (min-width: 1024px) {
  .single-case-study .benefits .inner {
    padding: 60px;
    padding-top: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .single-case-study .benefits .inner {
    padding: 80px;
    padding-top: 50px;
  }
}
.single-case-study .post-content ul,
.single-case-study .post-content ol {
  padding-left: 20px;
  margin: 20px 0;
}
.single-case-study .post-content ul {
  list-style: disc;
}
.single-case-study .post-content ol {
  list-style: decimal;
}
.single-case-study .post-content li {
  line-height: 1.5;
  font-weight: 500;
}
.single-case-study .post-content em {
  font-style: italic;
}
.single-case-study .post-content a {
  text-decoration: underline;
  color: #68a2d7;
}

/*# sourceMappingURL=style.css.map */
