@import "mixins.scss";

.single-case-study {
    .post-content {
        h1,
        h2,
        h3,
        h4,
        h5 {
            color:#F15822;
            margin: 0.25em 0;
        }
    }
    .container {
        &.short {
            @include screen(1024) {
                max-width: 80vw;
            }
            @include screen(1366) {
                max-width: 1200px
            }
            @include screen(1920) {
                max-width: 62.5vw;
            }
        }
    }
    .featured {
        margin: 40px 0;
        padding: 0 25px;
        @include screen(1024) {
            padding: 0;
            margin: 75px 0;
        }
        iframe {
            min-height: 215px;
            width: 100%;
            @include screen(1024) {
                min-height: 675px;
            }
        }
        .inner {
            position:relative;
            background:#000000;
            min-height: 215px;
            @include screen(1024) {
                min-height: 675px;
            }
        }
    }
    .hero {
        h1 {
            color:#344BA0;
            margin-bottom: 0.25em;
        }
        .inner {
            @include screen(1024) {
                display:flex;
                align-items: center;
                gap: 90px;
            }
        }
        .left {
            padding: 50px;
            padding-top: 100px;
            padding-bottom: 0;
            @include screen(1024) {
                padding:0;
            }
        }
        .right {
            position: relative;
            z-index: 5;
            padding: 0 25px;
            @include screen(1024) {
                padding: 0;
                flex:0 0 680px;
            }
        }
        .post-details {
            display: inline-flex;
            li {
                font-weight: 500;
                color:rgba(104, 162, 215, 1);
                &:not(:first-child) {
                    &:before {
                        content:"|";
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .post-content {
        padding: 0 50px;
        @include screen(1024) {
            padding: 0;
        }
    }
    .post-credits {
        margin-top:100px;
        margin-bottom:50px;
        padding: 0 25px;
        @include screen(1024) {
            padding: 0;
        }
        .inner {
            background: rgba(43, 46, 116, 0.05);
            padding: 25px;
            border-radius: 15px;
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            align-items: flex-end;
            @include screen(1024) {
                flex-wrap: nowrap;
                align-items: flex-start;
                padding: 60px 50px;
                gap: 60px;
            }
        }
        h3 {
            color:rgba(43, 46, 116, 1);
        }
        .profile-image {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 15px;
            height:125px;
            width:125px;
            flex: 0 0 125px;
            img {
                height:125px;
                width:125px;
                object-fit: cover;
                @include screen(1024) {
                    height:350px;
                    width:350px;
                }
            }
            @include screen(1024) {
                height:350px;
                width:350px;
                flex: 0 0 350px;
            }
        }
        .post-info {
            &.full {
                flex:0 0 100%;
            }
        }
        .bio {
            font-weight: 500;
            line-height: 28px;
        }
    }
    .quote {
        color:white;
        margin-top: -80px;
        margin-bottom: 50px;
        @include screen(1024) {
            margin-top: -125px;
            margin-bottom: 125px;
        }
        p {
            font-weight: 400;
        }
        .author {
            color:rgba(104, 166, 144, 1);
            font-weight: 500;
            margin: 10px 0;
        }
        .position {
            margin-bottom: 25px;
        }
        .inner {
            min-height: 315px;
            border-radius: 15px;
            padding: 50px;
            background: linear-gradient(249deg, rgba(52,75,160,1) 0%, rgba(43,46,116,1) 100%);
            position:relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 240px;
            @include screen(1024) {
                min-height: 265px;
                padding: 100px 75px;
            }
            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                height: 161px;
                width: 258px;
                @include screen(1024) {
                    height: 309px;
                    width: 492px;
                }
            }
            &:before {
                background: url(/wp-content/themes/aspirico/blocks/single-case-study/one.png);
                background-size: contain;
                top: 50px;
                left: 30px;
                @include screen(1024) {
                    top: 0;
                    left: 35px;
                }
            }
            &:after {
                background: url(/wp-content/themes/aspirico/blocks/single-case-study/two.png);
                background-size: contain;
                bottom: 20px;
                right: 35px;
                @include screen(1024) {
                    bottom: 0;
                    right: 35px;
                }
            }
        }
    }
    .benefits {
        padding:26px;
        &-head {
            border-bottom: 0.5px solid rgba(104, 162, 215, 1);
            margin-bottom: 25px;
            @include screen(768) {
                display: flex;
                align-items: center;
            }
            h2 {
                color:#ED196F;
                @include screen(768) {
                    flex: 0 0 300px;
                }
                @include screen(1024) {
                    flex: 0 0 400px;
                }
            }
            p {
                color:#68A2D7;
            }
        }
        &-list {
            list-style: disc;
            padding-left: 15px;
            @include screen(768) {
                column-count: 2;
                column-gap: 50px;
            }
        }
        &-single {
            margin-bottom: 15px;
            font-weight:500;
            @include screen(768) {
                margin-bottom: 25px;
            }
            &::marker {
                color:rgba(254, 190, 18, 1);
            }
        }
        .inner {
            box-shadow: 0 6px 9px rgb(0 0 0 / 16%);
            padding: 25px;
            border-radius: 15px;
            @include screen(1024) {
                padding: 60px;
                padding-top: 30px;
            }
            @include screen(1280) {
                padding: 80px;
                padding-top: 50px;
            }
        }
    }
    .post-content {
        ul,
        ol {
            padding-left: 20px;
            margin: 20px 0;
        }
    
        ul {
            list-style: disc;
        }
    
        ol {
            list-style: decimal;
        }
        li {
            line-height: 1.5;
            font-weight: 500;
        }
        em {
            font-style: italic;
        }
        a {
            text-decoration: underline;
            color: #68a2d7;
        }
    }
}