{% extends "block-base.twig" %}

{% block content %}
{% set images = fn('get_field', 'images', post.id) %}
<section class="{{blockClasses(block)}}">
    <div class="hero">
        <div class="container">
            <div class="inner">
                <div class="left">
                    <h1>{{post.title}}</h1>
                    <p>{{ post.preview.length().read_more('') }}</p>
                </div>
                <div class="right">
                    <div class="frame">
                        {{imageElement(images.hero_image)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if fields.add_testimonial %}
    <div class="quote">
        <div class="container short">
            <div class="inner">
                <div class="content">{{fields.testimonial.content}}</div>
                <div class="author">{{fields.testimonial.author}}</div>
                <div class="position">{{fields.testimonial.position}}</div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="post-content">
        <div class="container short">
            <div class="wrapper">
                <div class="flex">
                    <InnerBlocks/>
                </div>
            </div>
        </div>
    </div>
    {% if fields.youtube_video_id|length > 2 %}
    <div class="featured">
        <div class="container short">
            <div class="inner">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{fields.youtube_video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% endif %}
    {% if fields.add_benefits %}
    <div class="benefits">
        <div class="container short">
            <div class="inner">
                <div class="benefits-head">
                    <h2>{{fields.benefits.title}}</h2>
                    <p>{{fields.benefits.subtitle}}</p>
                </div>
                <div class="benefits-wrapper">
                    <ul class="benefits-list">
                    {% for benefit in fields.benefits.items %}
                        <li class="benefits-single">{{benefit.text}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}

