@import "mixins.scss";

.wheel-hero {
    @include screen(1200) {
        padding-top: 20vh;
    }
    .wrapper {
        display:flex;
        align-items: center;
        flex-direction: column-reverse;
        @include screen(1024) {
            margin-top:10vh;
            flex-direction: row;
        }
    }
    .top {
        padding: 0 50px;
        padding-top: 75px;
        @include screen(1024) {
            padding:0;
        }
    }
    .box {
        flex:1 0 48.5%;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-radius: 15px;
        padding: 25px;
        margin: 25px;
        @include screen(1024) {
            margin:0;
            margin-bottom: 25px;
            padding: 75px;
            max-width: 350px;
        }
        @include screen(1280) {
            max-width: 500px;
        }
        @include screen(1440) {
            max-width: 500px;
        }
        @include screen(1536) {
            max-width: 623px;
        }
        h2 {
            color:rgba(254, 190, 18, 1);
            line-height: 1.2;
        }
    }
    .media {
        max-width: 100vw;
        position: relative;
        overflow: hidden;
        @include screen(1024) {
            flex:0 0 593px;
            max-width: 594px;
            margin-left: 50px;
        }
    }
    .label {
        font-size: 25px;
        line-height: 1.1;
        position: absolute;
        left: 50%;
        top: 34%;
        transform: translate(-50%, 0);
        text-align: center;
        color: rgba(104, 162, 215, 1);
        font-weight: 700;
        max-width: 160px;
        @include screen(1024) {
            top: 240px;
            font-size: 32px;
            line-height: 45px;
            letter-spacing: 0.8px;
        }
    }
    .wheel {
        display:block;
        position:relative;
        height:593px;
        width:593px;
        overflow: hidden;
        max-width: 100vw;
        @include screen(0,1023) {
            margin: -104px 0;
        }
        svg {
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            max-width: 100vw;
            max-width: 100vw;
            width: 428px;
            margin: auto;
            @include screen(1024) {
                width: unset;
            }
        }
    }
    .wheel-box {
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-radius: 15px;
        background: rgba(43, 46, 116, 1);
        padding: 40px;
        color: white;
        font-size: 16px;
        text-align: center;
        width: fit-content;
        margin: auto;
        margin-top: -30px;
        @include screen(1024) {
            font-size: 25px;
        }
    }
    &.is-style-two {
        .wheel svg {
            transform: rotate(71deg);
        }
        .wheel-box {
            background:#ed196f;
        }
    }
    &.is-style-three {
        .wheel svg {
            transform: rotate(144deg);
        }
        .wheel-box {
            background:#537dbf;
        }
    }
    &.is-style-four {
        .wheel svg {
            transform: rotate(215deg);
        }
        .wheel-box {
            background:#68a2d7;
        }
    }
    &.is-style-five {
        .wheel svg {
            transform: rotate(287deg);
        }
        .wheel-box {
            background:#344ba0;
        }
    }
}