@media only screen and (min-width: 1200px) {
  .wheel-hero {
    padding-top: 20vh;
  }
}
.wheel-hero .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .wrapper {
    margin-top: 10vh;
    flex-direction: row;
  }
}
.wheel-hero .top {
  padding: 0 50px;
  padding-top: 75px;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .top {
    padding: 0;
  }
}
.wheel-hero .box {
  flex: 1 0 48.5%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .box {
    margin: 0;
    margin-bottom: 25px;
    padding: 75px;
    max-width: 350px;
  }
}
@media only screen and (min-width: 1280px) {
  .wheel-hero .box {
    max-width: 500px;
  }
}
@media only screen and (min-width: 1440px) {
  .wheel-hero .box {
    max-width: 500px;
  }
}
@media only screen and (min-width: 1536px) {
  .wheel-hero .box {
    max-width: 623px;
  }
}
.wheel-hero .box h2 {
  color: rgb(254, 190, 18);
  line-height: 1.2;
}
.wheel-hero .media {
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .media {
    flex: 0 0 593px;
    max-width: 594px;
    margin-left: 50px;
  }
}
.wheel-hero .label {
  font-size: 25px;
  line-height: 1.1;
  position: absolute;
  left: 50%;
  top: 34%;
  transform: translate(-50%, 0);
  text-align: center;
  color: rgb(104, 162, 215);
  font-weight: 700;
  max-width: 160px;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .label {
    top: 240px;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0.8px;
  }
}
.wheel-hero .wheel {
  display: block;
  position: relative;
  height: 593px;
  width: 593px;
  overflow: hidden;
  max-width: 100vw;
}
@media only screen and (max-width: 1023px) {
  .wheel-hero .wheel {
    margin: -104px 0;
  }
}
.wheel-hero .wheel svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  max-width: 100vw;
  width: 428px;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .wheel svg {
    width: unset;
  }
}
.wheel-hero .wheel-box {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  background: rgb(43, 46, 116);
  padding: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: -30px;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .wheel-box {
    font-size: 25px;
  }
}
.wheel-hero.is-style-two .wheel svg {
  transform: rotate(71deg);
}
.wheel-hero.is-style-two .wheel-box {
  background: #ed196f;
}
.wheel-hero.is-style-three .wheel svg {
  transform: rotate(144deg);
}
.wheel-hero.is-style-three .wheel-box {
  background: #537dbf;
}
.wheel-hero.is-style-four .wheel svg {
  transform: rotate(215deg);
}
.wheel-hero.is-style-four .wheel-box {
  background: #68a2d7;
}
.wheel-hero.is-style-five .wheel svg {
  transform: rotate(287deg);
}
.wheel-hero.is-style-five .wheel-box {
  background: #344ba0;
}

/*# sourceMappingURL=style.css.map */
