.bullet-list {
  background: linear-gradient(180deg, rgb(104, 162, 215) 0%, rgb(83, 125, 191) 100%);
  color: white;
  position: relative;
  padding: 7.5vh 50px;
}
@media only screen and (min-width: 1280px) {
  .bullet-list {
    padding: 15vh 50px;
  }
}
.bullet-list:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/aspirico/blocks/numbered-list/bg-one.png");
  background-position: right;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}
.bullet-list h2 {
  font-weight: 400;
  line-height: 1.2;
}
.bullet-list h2 strong {
  font-weight: 700;
}
.bullet-list .top,
.bullet-list .bot {
  position: relative;
  z-index: 2;
}
.bullet-list .items {
  padding: 20px 0;
  padding-left: 25px;
  list-style: disc;
}
@media only screen and (min-width: 768px) {
  .bullet-list .items {
    padding: 30px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .bullet-list .items {
    padding: 50px 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 150px;
    row-gap: 30px;
  }
}
.bullet-list .item {
  display: flex;
  align-items: flex-start;
  display: list-item;
}
@media only screen and (min-width: 1280px) {
  .bullet-list .item {
    flex: 0 0 34%;
    max-width: 34%;
  }
}
.bullet-list .item::marker {
  color: #FEBE12;
  font-size: 22px;
}
.bullet-list .item p {
  color: rgb(43, 46, 116);
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  letter-spacing: 0.3px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .bullet-list .item p {
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .bullet-list .item p {
    font-size: 20px;
    line-height: 28px;
  }
}
.bullet-list .item strong {
  color: #2B2E74;
}

/*# sourceMappingURL=style.css.map */
