@import "mixins.scss";

.bullet-list {
    background:linear-gradient(180deg, rgba(104,162,215,1) 0%, rgba(83,125,191,1) 100%);
    color:white;
    position: relative;
    padding: 7.5vh 50px;
    @include screen(1280) {
        padding: 15vh 50px;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:url('/wp-content/themes/aspirico/blocks/numbered-list/bg-one.png');
        background-position: right;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
    }
    h2 {
        font-weight: 400;
        line-height: 1.2;
        strong {
            font-weight: 700;
        }
    }
    .top,
    .bot {
        position: relative;
        z-index: 2;
    }
    .items {
        padding: 20px 0;
        padding-left: 25px;
        list-style: disc;
        @include screen(768) {
            padding: 30px 0;
        }
        @include screen(1280) {
            padding: 50px 125px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            column-gap: 150px;
            row-gap: 30px;
        }
    }
    .item {
        display: flex;
        align-items: flex-start;
        display: list-item;
        @include screen(1280) {
            flex: 0 0 34%;
            max-width: 34%;
        }
        &::marker {
            color:#FEBE12;
            font-size: 22px;
        }
        p {
            color:rgba(43, 46, 116, 1);
            font-size: 14px;
            line-height: 16px;
            margin-top:0;
            letter-spacing: 0.3px;
            margin-bottom: 15px;
            @include screen(768) {
                letter-spacing: 0.5px;
                font-size: 18px;
                line-height: 20px;
            }
            @include screen(1280) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        strong {
            color:#2B2E74;
        }
    }
}