{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="csf-container container">
        <div class="csf-top row">
            <div class="csf-title row">
                <h2>{{fields.title}}</h2>
                {% if fields.link.title|length > 0 %}
                    <a class="see-all hide-mobile" href="{{fields.link.url}}" target="{{fields.link.target}}">{{fields.link.title}}</a>
                {% endif %}
            </div>
        </div>
        <div class="">
            <div id="filter-container" class="all">
                <ul class="rl related-list {{fields.post_type}}">
                    {% for item in objects %}
                        <li class="related-item">{% include ['related-item-feed.twig'] %}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if fields.link.title|length > 0 %}
                <a class="see-all hide-desktop" href="{{fields.link.url}}" target="{{fields.link.target}}">{{fields.link.title}}</a>
            {% endif %}
        </div>
        <div class="csf-button hide-desktop">
            <a class="btn primary" href="{{fields.button.url}}" target="{{fields.button.target}}"><span>{{fields.button.title}}</span></a>
        </div>
    </div>
</section>
{% endblock %}

