@use "mixins" as *;

.wp-block-button__link {
    cursor:pointer;
    transition: all 0.3s ease-out;
    background: #ed196f;
    color: #fff;
    font-weight: 600;
    padding: 14px 38px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    min-width: 135px;
    border: 1px solid #ed196f;
    @include screen(768) {
        font-size: 18px;
        min-width: 175px;
        padding: 19px 25px;
    }
    @include screen(1280) {
        font-size: 20px;
        min-width: 200px;
        padding: 20px 30px;
    }
    &:hover {
        color:#ed196f;;
        border-color:#ed196f;
        background:white;
    }
}
