@use "mixins" as *;

body {
    margin:0;
}

.container {
    margin: 0 auto;
    width: auto;
    max-width: 960px;
    &.is-style-fluid {
        max-width: none!important;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }
    &-xl {
        margin: 0 auto;
        width: auto;
    }
}

.container {
    @include screen(1024) {
        max-width: 960px;
    }
    @include screen(1280) {
        max-width: 1100px;
    }
    @include screen(1366) {
        max-width: 1280px;
    }
    @include screen(1536) {
        max-width: 1366px;
    }
    &-xl {
        @include screen(1024) {
            max-width: 960px;
        }
        @include screen(1280) {
            max-width: 1200px;
        }
        @include screen(1366) {
            max-width: 1366px;
        }
    }
}


.size-full {
    width: 100%;
}

.aligncenter {
    text-align: center;
}

.preview {
    width: 100%;
    max-width: 100%;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.hide {
    &-mobile {
        @include screen(0,1279) {
            display:none !important;
        }
    }
    &-desktop {
        @include screen(1280) {
            display:none !important;
        }
    }
}

.wp-site-blocks {
    overflow: hidden;
}