@use "mixins" as *;
@import "/home/web/www/html/wp-content/themes/tec/node_modules/rfs/scss.scss";

// @font-face {
//     font-family: "icomoon";
//     src: url("/wp-content/themes/tec/assets/fonts/icomoon.ttf") format("truetype");
//     src: url("/wp-content/themes/tec/assets/fonts/icomoon.woff") format("woff");
//     src: url("/wp-content/themes/tec/assets/fonts/icomoon.woff2") format("woff2");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

html {
  font-family: 'Figtree', sans-serif;
  color:#2B2E74;
  font-size: 12px;
  line-height:16px;
  @include screen(768) {
    font-size: 16px;
    line-height:20px;
  }
  @include screen(1280) {
    font-size: 20px;
    line-height:28px;
  }
}

p {
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 20px 0;
  font-size: 12px;
  line-height:16px;
  @include screen(768) {
    font-size: 16px;
    line-height:20px;
  }
  @include screen(1280) {
    font-size: 20px;
    line-height:28px;
  }
}

a {
  color:#2B2E74;
  text-decoration: none;
}

h {
  &1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    @include screen(768) {
      font-size: 35px;
      line-height: 45px;
    }
    @include screen(1280) {
      font-size: 55px;
      line-height:70px;
    }
  }
  &2 {
    font-weight: 700;
    line-height:1.2;
    font-size: 22px;
    line-height: 32px;
    @include screen(768) {
      font-size: 25px;
      line-height: 35px;
      letter-spacing: 1px
    }
    @include screen(1280) {
      font-size: 45px;
      line-height:55px;
      letter-spacing: 1.13px
    }
  }
  &3 {
    @include font-size(25px);
    font-weight: 700;
    line-height:1.2;
  }
  &4 {
    @include font-size(28px);
    font-weight: 700;
    line-height:1.2;
  }
  &5 {
    @include font-size(22px);
    font-weight: 700;
    line-height:1.2;
  }
}

big {
  @include font-size(20px);
  line-height:1.2;
}

small {
  @include font-size(14px);
  line-height:1.2;
}
strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}