.hero-one {
  padding: 75px 0;
  background: white;
}
.hero-one .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hero-one .flex {
  flex: 0 0 48.5%;
  max-width: 590px;
  padding: 0 50px;
}
@media only screen and (min-width: 768px) {
  .hero-one .flex {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-one .flex {
    padding: 0;
  }
}
.hero-one .media {
  flex: 0 0 48.5%;
  max-width: 695px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero-one .media {
    padding-top: 50px;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-one .media {
    padding-top: 100px;
    margin-top: 50px;
  }
}
.hero-one .media:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url(/wp-content/themes/aspirico/blocks/hero-one/bg.png);
  background-size: contain;
}
@media only screen and (min-width: 1024px) {
  .hero-one .media:before {
    width: 940px;
    background: url(/wp-content/themes/aspirico/blocks/hero-one/bg.png);
    background-repeat: no-repeat;
    background-position-x: -83px;
    background-position-y: -142px;
    right: unset;
  }
}
.hero-one .wp-block-image {
  margin-bottom: 30px;
}
.hero-one .wp-block-buttons {
  margin-top: 30px;
}
.hero-one img {
  max-width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}
.hero-one h5 {
  color: #1F7A8C;
}
.hero-one.is-style-home .wp-block-image {
  max-width: 240px;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .hero-one.is-style-home .wp-block-image {
    max-width: 100%;
  }
}
.hero-one.is-style-sector {
  padding-top: 10vh;
}
@media only screen and (min-width: 1280px) {
  .hero-one.is-style-sector {
    padding-top: 15vh;
  }
}
.hero-one.is-style-what-we-do h2 {
  color: #FEBE12;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .hero-one.is-style-what-we-do h2 {
    margin-bottom: 50px;
  }
}
.hero-one.rounded-edges {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
}
@media only screen and (min-width: 1024px) {
  .hero-one.rounded-edges {
    border-bottom-right-radius: 128px;
    border-bottom-left-radius: 128px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-one {
    padding: 0;
    padding-bottom: 50px;
  }
  .hero-one .wrapper {
    flex-direction: row;
  }
  .hero-one .wp-block-buttons {
    margin-top: 40px;
  }
  .hero-one .flex {
    margin-bottom: 0px;
  }
  .hero-one ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
