@import "mixins.scss";

.hero-one {
    padding: 75px 0;
    background: white;
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .flex {
        flex:0 0 48.5%;
        max-width: 590px;
        padding: 0 50px;
        @include screen(768) {
            margin-bottom: 25px;
        }
        @include screen(1024) {
            padding: 0;
        }
    }
    .media {
        flex:0 0 48.5%;
        max-width: 695px;
        position: relative;
        @include screen(768) {
            padding-top:50px;
            margin-top: 25px;
        }
        @include screen(1366) {
            padding-top:100px;
            margin-top: 50px;
        }
        &:before {
            content:"";
            left:0;
            right:0;
            top:0;
            bottom:0;
            position:absolute;
            background: url(/wp-content/themes/aspirico/blocks/hero-one/bg.png);
            background-size:contain;
            @include screen(1024) {
                width: 940px;
                background: url(/wp-content/themes/aspirico/blocks/hero-one/bg.png);
                background-repeat: no-repeat;
                background-position-x: -83px;
                background-position-y: -142px;
                right:unset;
            }
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
        z-index:2;
        position: relative;
    }
    h5 {
        color:#1F7A8C;
    }
    &.is-style-home {
        .wp-block-image {
            max-width: 240px;
            margin: auto;
            @include screen(1024) {
                max-width: 100%;
            }
        }
    }
    &.is-style-sector {
        padding-top: 10vh;
        @include screen(1280) {
            padding-top: 15vh;
        }
    }
    &.is-style-what-we-do {
        h2 {
            color:#FEBE12;
            margin-bottom: 25px;
            @include screen(768) {
                margin-bottom: 50px;
            }
        }
    }
    &.rounded-edges {
        box-shadow: 0px 6px 12px rgb(0 0 0 / 16%);
        overflow:hidden;
        border-bottom-right-radius: 75px;
        border-bottom-left-radius: 75px;
        @include screen(1024) {
            border-bottom-right-radius: 128px;
            border-bottom-left-radius: 128px;
        }
    }
}

@include screen(1280) {
    .hero-one {
        padding: 0;
        padding-bottom: 50px;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}