{% set images = fn('get_field', 'images', item.id) %}
<div class="related-container">
	<div class="related-left">
		<a class="related-video" href="{{item.link}}" style="--bg:url({{images.video_preview_image.url}});">
			<div class="related-video-inner">
				<svg xmlns="http://www.w3.org/2000/svg" width="49" height="34" viewBox="0 0 49 34">
					<g id="Group_16207" data-name="Group 16207" transform="translate(2869 -1236)">
						<rect id="Rectangle_1192" data-name="Rectangle 1192" width="49" height="34" rx="8" transform="translate(-2869 1236)" fill="#ff2d55"/>
						<g id="play" transform="translate(-2850 1245)">
						<path id="Shape" d="M10.872,6.661,1.855.2C1.122-.321,0,.188,0,1.485V14.4c0,1.164,1.043,1.865,1.855,1.282l9.017-6.454A1.661,1.661,0,0,0,10.872,6.661Z" transform="translate(0 0)" fill="#fff"/>
						</g>
					</g>
				</svg>
			</div>
		</a>
	</div>
	<div class="related-right">
		<div class="related-image cp">
			<a href="{{item.link}}">
				{{imageElement(images.client_logo)}}
			</a>
		</div>
		<div class="related-info">
			<div class="related-content">
				<p>{{ item.preview.length(25).read_more('') }}</p>
			</div>
		</div>
		<div class="related-read">
			<a class="read-more d-f ai-c cp" href="{{item.link}}">
				<span>View Case Study</span>
			</a>
		</div>
	</div>
</div>