@import "mixins.scss";

.case-study-feed-two {
    background:rgba(255, 255, 255, 1);
    padding: 15px;
    @include screen(1024) {
        padding:125px 0;
    }
    h2 {
        color:rgba(43, 46, 116, 1);
    }
    .related {
        padding: 50px 0 !important;
        &-list {
            @include screen(1024) {
                display: flex;
                justify-content: center;
            }
        }
        &-item {
            box-sizing: border-box;
            flex: 0 0 100%;
            background: white;
            box-shadow: 0px 20px 80px rgb(0 0 0 / 10%);
            border-radius: 15px;
            padding: 45px;
            margin: 25px 0;
            @include screen(768) {
                flex: 0 0 50%;
            }
            @include screen(1024) {
                flex: 0 0 440px;
            }
            h4 {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.4px;
            }
        }
        &-sum {
            p {
                font-size: 12px;
                line-height:16px;
                letter-spacing: 0.3px;
            }
        }
        &-list {
            flex-wrap: wrap;
            column-gap: 15px;
            margin-top: 25px;
            @include screen(0,1023) {
                justify-content: center;
            }
        }
        &-container {
            @include screen(1024) {
                display: flex;
                flex-direction: column;
            }
        }
        &-info {
            flex-grow: 1;
            display: flex;
        }
        &-content {
    
        }
        &-read {
            .read-more {
                position:relative;
                transition:all 0.3s ease-out;
                display:block;
                border-radius: 5px;
                border:1px solid #ed196f;
                color:#ed196f;
                padding: 20px;
                span {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
                &:before {
                    transition:all 0.3s ease-out;
                    position: absolute;
                    content: "\e901";
                    color: #ed196f;
                    font-family: "icomoon";
                    right: 0;
                    transform: rotate(180deg);
                    right: 25px;
                }
                &:hover {
                    background:#ed196f;
                    color:white;
                    &:before {
                        color:white;
                    }
                }
            }
        }
        &-image {
            overflow: hidden;
            position:relative;
            @include screen(1024) {
                margin-bottom: 5px;
            }
            img {
                margin:auto;
                display: block;
                transition: 0.5s ease;
                object-fit: contain;
                width: 100%;
                height: auto;
                @include screen(1024) {
                    width: 248px;
                    height: 138px;
                }
            }
            label {
                cursor: pointer;
                pointer-events: none;
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: #92D400;
                border-radius: 4px;
                color: white;
                font-size: 14px;
                width: max-content;
                text-align: center;
                display: block;
                padding: 0 10px;
            }
        }
        &-video {
            display: block;
            margin: 25px 0;
            background:rgba(0, 0, 0, 1);
            border-radius: 5px;
            height: 200px;
            position:relative;
            background:var(--bg);
            background-size: cover;
            background-position: center;
            &:before {
                content:"";
                top:0;
                bottom:0;
                left:0;
                right:0;
                position:absolute;
                background: black;
                opacity: 0.35;
                mix-blend-mode: multiply;
            }
            &-inner {
                position:absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .related-list {
        &.large {
            .related-item {
                flex: 0 0 100%;
                box-sizing: border-box;
                @include screen(1024) {
                    padding: 75px;
                }
                & + .related-item {
                    @include screen(1024) {
                        margin-top: 100px;
                    }
                }
            }
            .related-container {
                flex-direction: row;
                align-items: center;
                gap:90px;
            }
            .related-left {
                @include screen(1024) {
                    flex: 0 0 679px;
                }
            }
            .related-video {
                @include screen(1024) {
                    height: 383px;
                }
                svg {
                    @include screen(1024) {
                        height: 66px;
                        width: 95px;
                    }
                }
            }
            .related-image {
                img {
                    margin-left: 0;
                }
            }
        }
    }
    
}