.case-study-feed-two {
  background: rgb(255, 255, 255);
  padding: 15px;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two {
    padding: 125px 0;
  }
}
.case-study-feed-two h2 {
  color: rgb(43, 46, 116);
}
.case-study-feed-two .related {
  padding: 50px 0 !important;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-list {
    display: flex;
    justify-content: center;
  }
}
.case-study-feed-two .related-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  background: white;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 45px;
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .case-study-feed-two .related-item {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-item {
    flex: 0 0 440px;
  }
}
.case-study-feed-two .related-item h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.case-study-feed-two .related-sum p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
.case-study-feed-two .related-list {
  flex-wrap: wrap;
  column-gap: 15px;
  margin-top: 25px;
}
@media only screen and (max-width: 1023px) {
  .case-study-feed-two .related-list {
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-container {
    display: flex;
    flex-direction: column;
  }
}
.case-study-feed-two .related-info {
  flex-grow: 1;
  display: flex;
}
.case-study-feed-two .related-read .read-more {
  position: relative;
  transition: all 0.3s ease-out;
  display: block;
  border-radius: 5px;
  border: 1px solid #ed196f;
  color: #ed196f;
  padding: 20px;
}
.case-study-feed-two .related-read .read-more span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.case-study-feed-two .related-read .read-more:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e901";
  color: #ed196f;
  font-family: "icomoon";
  right: 0;
  transform: rotate(180deg);
  right: 25px;
}
.case-study-feed-two .related-read .read-more:hover {
  background: #ed196f;
  color: white;
}
.case-study-feed-two .related-read .read-more:hover:before {
  color: white;
}
.case-study-feed-two .related-image {
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-image {
    margin-bottom: 5px;
  }
}
.case-study-feed-two .related-image img {
  margin: auto;
  display: block;
  transition: 0.5s ease;
  object-fit: contain;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-image img {
    width: 248px;
    height: 138px;
  }
}
.case-study-feed-two .related-image label {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #92D400;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: max-content;
  text-align: center;
  display: block;
  padding: 0 10px;
}
.case-study-feed-two .related-video {
  display: block;
  margin: 25px 0;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  height: 200px;
  position: relative;
  background: var(--bg);
  background-size: cover;
  background-position: center;
}
.case-study-feed-two .related-video:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: black;
  opacity: 0.35;
  mix-blend-mode: multiply;
}
.case-study-feed-two .related-video-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.case-study-feed-two .related-list.large .related-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-list.large .related-item {
    padding: 75px;
  }
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-list.large .related-item + .related-item {
    margin-top: 100px;
  }
}
.case-study-feed-two .related-list.large .related-container {
  flex-direction: row;
  align-items: center;
  gap: 90px;
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-list.large .related-left {
    flex: 0 0 679px;
  }
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-list.large .related-video {
    height: 383px;
  }
}
@media only screen and (min-width: 1024px) {
  .case-study-feed-two .related-list.large .related-video svg {
    height: 66px;
    width: 95px;
  }
}
.case-study-feed-two .related-list.large .related-image img {
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
