{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="csf-container container">
        <div class="top row">
            <div class="csf-title row">
                <InnerBlocks/>
            </div>
            <div class="csf-button hide-mobile">
                <a class="btn primary" href="{{fields.button.url}}" target="{{fields.button.target}}"><span>{{fields.button.title}}</span></a>
            </div>
        </div>
        <div class="">
            <div id="filter-container" class="all">
                <ul class="rl related-list mini">
                    {% for item in objects %}
                    {% if loop.index < 4 %}
                        <li class="related-item">{% include ['related-item-feed.twig'] %}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="">
            <div id="filter-container" class="all">
                <ul class="rl related-list large">
                    {% for item in objects %}
                    {% if loop.index > 3 %}
                        <li class="related-item">{% include ['related-item-feed-large.twig'] %}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="csf-button hide-desktop">
            <a class="btn primary" href="{{fields.button.url}}" target="{{fields.button.target}}"><span>{{fields.button.title}}</span></a>
        </div>
    </div>
</section>
{% endblock %}

