@import "mixins.scss";

.core-values {
    position:relative;
    padding: 5vh 0px;
    @include screen(0,1023) {
        margin: 25px;
    }
    @include screen(1280) {
        padding: 15vh 0px;
    }
    @include screen(1536) {
        padding: 10vh 0px;
    }
    @include screen(1920) {
        padding: 5vh 0px;
    }
    .shape {
        text-align: center;
        svg {
            max-width: 100%;
        }
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:url('/wp-content/themes/aspirico/blocks/core-values/bg-one.png');
        background-position: right;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .top {
        padding-top: 5vh;
        min-height: 500px;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
        background:white;
        border-radius: 15px;
        margin:auto;
        @include screen(1280) {
            min-height: 1000px;
            padding-top: 10vh;
            max-width: 1160px;
        }
        @include screen(1536) {
            max-width: 1360px;
        }
        h2 {
            color:rgba(104, 166, 144, 1);
            font-weight: 400;
        }
        .inner {
            max-width: 912px;
            margin:auto;
            padding: 0 25px;
        }
    }
    .bot {
        background:linear-gradient(180deg, rgba(104,162,215,1) 0%, rgba(83,125,191,1) 100%);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        color:white;
        position: relative;
        padding: 25px;
        border-radius: 15px;
        max-width: 1200px;

        margin: 25px;
        margin-top: -300px;
        @include screen(1024) {
            padding: 7.5vh 50px;
            margin:auto;
            margin-top:-750px;
        }
        @include screen(1280) {
            max-width: 900px;
        }
        @include screen(1536) {
            max-width: 1100px;
        }
    }
    .items {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        @include screen(768) {
            row-gap: 50px;
            padding: 50px 0;
        }
    }
    li {
        @include screen(768) {
            display:flex;
        }
        .label {
            color:white;
            margin-right: 7.5vw;
            flex: 0 0 420px;
            max-width: 420px;
            @include screen(1024) {
                margin-right: 5vw;
            }
            @include screen(1920) {
                margin-right: 7.5vw;
            }
        }
        p {
            font-size: 14px;
            line-height: 1.3;
            margin-top:0;
            letter-spacing: 0.5px;
            @include screen(768) {
                font-size: 18px;
                line-height: 20px;
            }
            @include screen(1280) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        strong {
            color:#2B2E74;
        }
    }
    p {
        font-weight: 400;
    }
}