.core-values {
  position: relative;
  padding: 5vh 0px;
}
@media only screen and (max-width: 1023px) {
  .core-values {
    margin: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .core-values {
    padding: 15vh 0px;
  }
}
@media only screen and (min-width: 1536px) {
  .core-values {
    padding: 10vh 0px;
  }
}
@media only screen and (min-width: 1920px) {
  .core-values {
    padding: 5vh 0px;
  }
}
.core-values .shape {
  text-align: center;
}
.core-values .shape svg {
  max-width: 100%;
}
.core-values:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/aspirico/blocks/core-values/bg-one.png");
  background-position: right;
  background-repeat: no-repeat;
  z-index: -1;
}
.core-values .top {
  padding-top: 5vh;
  min-height: 500px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 15px;
  margin: auto;
}
@media only screen and (min-width: 1280px) {
  .core-values .top {
    min-height: 1000px;
    padding-top: 10vh;
    max-width: 1160px;
  }
}
@media only screen and (min-width: 1536px) {
  .core-values .top {
    max-width: 1360px;
  }
}
.core-values .top h2 {
  color: rgb(104, 166, 144);
  font-weight: 400;
}
.core-values .top .inner {
  max-width: 912px;
  margin: auto;
  padding: 0 25px;
}
.core-values .bot {
  background: linear-gradient(180deg, rgb(104, 162, 215) 0%, rgb(83, 125, 191) 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: white;
  position: relative;
  padding: 25px;
  border-radius: 15px;
  max-width: 1200px;
  margin: 25px;
  margin-top: -300px;
}
@media only screen and (min-width: 1024px) {
  .core-values .bot {
    padding: 7.5vh 50px;
    margin: auto;
    margin-top: -750px;
  }
}
@media only screen and (min-width: 1280px) {
  .core-values .bot {
    max-width: 900px;
  }
}
@media only screen and (min-width: 1536px) {
  .core-values .bot {
    max-width: 1100px;
  }
}
.core-values .items {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
@media only screen and (min-width: 768px) {
  .core-values .items {
    row-gap: 50px;
    padding: 50px 0;
  }
}
@media only screen and (min-width: 768px) {
  .core-values li {
    display: flex;
  }
}
.core-values li .label {
  color: white;
  margin-right: 7.5vw;
  flex: 0 0 420px;
  max-width: 420px;
}
@media only screen and (min-width: 1024px) {
  .core-values li .label {
    margin-right: 5vw;
  }
}
@media only screen and (min-width: 1920px) {
  .core-values li .label {
    margin-right: 7.5vw;
  }
}
.core-values li p {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 0;
  letter-spacing: 0.5px;
}
@media only screen and (min-width: 768px) {
  .core-values li p {
    font-size: 18px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .core-values li p {
    font-size: 20px;
    line-height: 28px;
  }
}
.core-values li strong {
  color: #2B2E74;
}
.core-values p {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
