{% extends "block-base.twig" %}

{% block content %}
<section class="core-values {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="inner">
            <div class="container">{{fields.content.content}}</div>
        </div>
    </div>
    <div class="bot">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" width="422.281" height="68.77" viewBox="0 0 422.281 68.77">
                <g id="Group_14159" data-name="Group 14159" transform="translate(-401 -2710)">
                    <g id="Group_14154" data-name="Group 14154" transform="translate(401 2710)">
                    <path id="Path_26622" data-name="Path 26622" d="M-182.66,116.018h25.144v7.368h-16.568v4.735h15v6.832h-15v4.957h16.79v7.368H-182.66Z" transform="translate(203.072 -98.553)" fill="#344ba0"/>
                    <path id="Path_26623" data-name="Path 26623" d="M-160.535,106.631a33.1,33.1,0,0,0-33.1,33.1,33.1,33.1,0,0,0,33.1,33.1,33.1,33.1,0,0,0,33.1-33.1A33.1,33.1,0,0,0-160.535,106.631Zm0,63.555a30.494,30.494,0,0,1-30.459-30.459,30.494,30.494,0,0,1,30.459-30.459,30.494,30.494,0,0,1,30.459,30.459A30.494,30.494,0,0,1-160.535,170.186Z" transform="translate(193.631 -106.631)" fill="#344ba0"/>
                    </g>
                    <g id="Group_14155" data-name="Group 14155" transform="translate(489.05 2710)">
                    <path id="Path_26624" data-name="Path 26624" d="M-129.331,115.958h9.748l7.141,19.9,7.141-19.9h9.569l-12.758,31.667h-8.086Z" transform="translate(145.82 -98.503)" fill="#344ba0"/>
                    <path id="Path_26625" data-name="Path 26625" d="M-104.853,106.631a33.289,33.289,0,0,0-33.289,33.289,33.289,33.289,0,0,0,33.289,33.289A33.289,33.289,0,0,0-71.564,139.92,33.289,33.289,0,0,0-104.853,106.631Zm0,63.926A30.672,30.672,0,0,1-135.49,139.92a30.672,30.672,0,0,1,30.637-30.637A30.672,30.672,0,0,1-74.216,139.92,30.672,30.672,0,0,1-104.853,170.557Z" transform="translate(138.142 -106.631)" fill="#344ba0"/>
                    </g>
                    <g id="Group_14156" data-name="Group 14156" transform="translate(577.099 2710)">
                    <path id="Path_26626" data-name="Path 26626" d="M-135.611,173.93h8.821V205.6h-8.821Z" transform="translate(164.729 -156.234)" fill="#344ba0"/>
                    <path id="Path_26627" data-name="Path 26627" d="M-117.53,164.542a33.53,33.53,0,0,0-33.529,33.531A33.529,33.529,0,0,0-117.53,231.6,33.529,33.529,0,0,0-84,198.073,33.53,33.53,0,0,0-117.53,164.542Zm0,64.389a30.893,30.893,0,0,1-30.858-30.858,30.9,30.9,0,0,1,30.858-30.86,30.9,30.9,0,0,1,30.858,30.86A30.893,30.893,0,0,1-117.53,228.931Z" transform="translate(151.059 -164.542)" fill="#344ba0"/>
                    </g>
                    <g id="Group_14157" data-name="Group 14157" transform="translate(665.149 2710)">
                    <path id="Path_26628" data-name="Path 26628" d="M-82.861,224.513h-9.552V216.78h27.93v7.733h-9.552v24.109h-8.826Z" transform="translate(112.161 -198.988)" fill="#344ba0"/>
                    <path id="Path_26629" data-name="Path 26629" d="M-69.119,207.392A33.713,33.713,0,0,0-102.833,241.1a33.713,33.713,0,0,0,33.714,33.712A33.712,33.712,0,0,0-35.407,241.1,33.712,33.712,0,0,0-69.119,207.392Zm0,64.741a31.062,31.062,0,0,1-31.027-31.027,31.062,31.062,0,0,1,31.027-31.029,31.062,31.062,0,0,1,31.025,31.029A31.061,31.061,0,0,1-69.119,272.133Z" transform="translate(102.833 -207.392)" fill="#344ba0"/>
                    </g>
                    <g id="Group_14158" data-name="Group 14158" transform="translate(754.513 2710)">
                    <path id="Path_26630" data-name="Path 26630" d="M-52.359,173.87h8.675l13.827,32.708h-9.649l-2.368-5.8H-54.4l-2.32,5.8h-9.466Zm7.887,19.9-3.619-9.234-3.665,9.234Z" transform="translate(82.406 -155.839)" fill="#344ba0"/>
                    <path id="Path_26631" data-name="Path 26631" d="M-40.193,164.542a34.385,34.385,0,0,0-34.384,34.386,34.384,34.384,0,0,0,34.384,34.384A34.384,34.384,0,0,0-5.809,198.928,34.385,34.385,0,0,0-40.193,164.542Zm0,66.031a31.681,31.681,0,0,1-31.645-31.645,31.682,31.682,0,0,1,31.645-31.647A31.682,31.682,0,0,1-8.548,198.928,31.681,31.681,0,0,1-40.193,230.573Z" transform="translate(74.577 -164.542)" fill="#344ba0"/>
                    </g>
                </g>
            </svg>
        </div>
        <div class="container">
            <ul class="items">
            {% for item in fields.content.items %}
            <li>
                <h2 class="label">{{item.label}}</h2>
                <div class="content">{{item.content}}</div>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
