{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}} style="--one:url(https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/footer-bg.png);--two:url(https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/footer-bg-two.png)">
    <div class="container">
        <div class="wrapper">
            <div class="one">
                <img width="121" height="104" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/tec-logo.png" alt="tec logo">
            </div>
            <div class="two">
                <ul class="footer-menu">
                    <li class="title">Learn</li>
                    <li class="link"><a href="#">Company</a></li>
                    <li class="link"><a href="#">Careers</a></li>
                    <li class="link"><a href="#">Innovation</a></li>
                </ul>
                <ul class="footer-menu">
                    <li class="title">Connect</li>
                    <li class="link"><a href="tel:00353014573533">+353 (0)1 457 3533</a></li>
                    <li class="link"><a href="mailto:info@tecindustrial.ie">info@tecindustrial.ie</a></li>
                    <li class="social">
                        <ul class="social-links">
                            <li class="fb"><a href="#"></a></li>
                            <li class="li"><a href="#"></a></li>
                            <li class="tw"><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="footer-menu">
                    <li class="title">Explore</li>
                    <li class="link"><a href="#">Sectors</a></li>
                    <li class="link"><a href="#">Services</a></li>
                    <li class="link"><a href="#">Shop</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="footer-bottom">
    <div class="container">
        <div class="cp">
            <div class="cp-text">
                <span class="cp-icon"></span>2022 TEC Industrial. All Rights Reserved.
            </div>
            <div class="cp-menu">
            <ul>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-and-conditions">Terms of Use</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>

<script>
    let elementCallback = function (entries, observer) {
        entries.forEach(entry => {
            if(entry.isIntersecting) {
                entry.target.style.opacity = "100%";
                entry.target.style.transform = "translateZ(0)";
            }
        });
    };

    let elementObserver = new IntersectionObserver(elementCallback, { rootMargin: "-20% 0% -1% 0%", threshold: 0 } );

    document.querySelectorAll('.fade-up').forEach(function(e) {
        elementObserver.observe(e);
    });
</script>
{% endblock %}
