.white-paper-feed {
  background: rgba(43, 46, 116, 0.05);
  padding: 50px 0;
}
@media only screen and (min-width: 1024px) {
  .white-paper-feed {
    padding: 100px 0;
  }
}
.white-paper-feed h2 {
  color: rgb(237, 25, 111);
}
.white-paper-feed .related {
  padding: 50px 0 !important;
}
.white-paper-feed .related-list {
  display: flex;
}
.white-paper-feed .related-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  background: white;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 45px;
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .white-paper-feed .related-item {
    flex: 0 0 33.33%;
    max-width: 440px;
  }
}
.white-paper-feed .related-item h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.white-paper-feed .related-sum p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
.white-paper-feed .related-list {
  flex-wrap: wrap;
  column-gap: 15px;
  margin-top: 25px;
}
@media only screen and (max-width: 1023px) {
  .white-paper-feed .related-list {
    justify-content: center;
  }
}
.white-paper-feed .related-container {
  display: flex;
  flex-direction: column;
}
.white-paper-feed .related-info {
  flex-grow: 1;
  display: flex;
}
.white-paper-feed .related-read .read-more {
  position: relative;
  transition: all 0.3s ease-out;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(237, 25, 111);
  color: rgb(237, 25, 111);
  padding: 20px;
}
.white-paper-feed .related-read .read-more span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.white-paper-feed .related-read .read-more:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e901";
  color: rgb(237, 25, 111);
  font-family: "icomoon";
  right: 0;
  transform: rotate(180deg);
  right: 25px;
}
.white-paper-feed .related-read .read-more:hover {
  background: rgb(237, 25, 111);
  color: white;
}
.white-paper-feed .related-read .read-more:hover:before {
  color: white;
}
.white-paper-feed .related-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}
.white-paper-feed .related-image img {
  display: block;
  transition: 0.5s ease;
  width: 352px;
  height: 198px;
  object-fit: cover;
}
.white-paper-feed .related-image label {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #92D400;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: max-content;
  text-align: center;
  display: block;
  padding: 0 10px;
}

.gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 35px;
}
.gform_heading {
  display: none;
}
.gform_footer {
  margin-top: 25px;
}
.gform_button {
  background: #f20a22;
  color: white;
  border: none;
  padding: 16px 50px;
  border-radius: 25px;
  font-family: "Lato";
  cursor: pointer;
  padding: 0 !important;
}
.gform_submission_error {
  font-size: 15px;
  color: #E42313;
  margin: 25px 0;
  border: 2px solid #E42313;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.gform_validation_errors:focus-visible {
  outline: none;
}

.gfield_validation_message {
  color: #E42313;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.gfield_error {
  border: 1px solid #E42313 !important;
  padding: 15px;
}
.gfield--width-half {
  flex: 0 0 calc(50% - 8px);
  max-width: calc(50% - 8px);
}
.gfield--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
.gfield--type-checkbox {
  border: none;
}
.gfield--type-checkbox legend {
  display: none;
}
.gfield--type-checkbox a {
  color: #E42313;
}
.gfield--type-checkbox input {
  min-height: unset !important;
  width: fit-content !important;
  margin-bottom: 3px !important;
  margin-right: 15px;
}
.gfield--type-checkbox .gchoice {
  display: flex;
}
.gfield--type-honeypot {
  display: none;
}

/*# sourceMappingURL=style.css.map */
