@import "mixins.scss";

.white-paper-feed {
    background:rgba(43, 46, 116, 0.05);
    padding:50px 0;
    @include screen(1024) {
        padding:100px 0;
    }
    h2 {
        color:rgba(237, 25, 111, 1);
    }
    .related {
        padding: 50px 0 !important;
        &-list {
            display: flex;
        }
        // &-item {
        //     box-sizing: border-box;
        //     flex: 0 0 350px;
        //     background: white;
        //     box-shadow: 0px 20px 80px rgb(0 0 0 / 10%);
        //     border-radius: 15px;
        //     padding: 45px;
        //     margin: 25px 0;
        //     h4 {
        //         font-size: 16px;
        //         line-height: 20px;
        //         letter-spacing: 0.4px;
        //     }
        // }
        &-item {
            box-sizing: border-box;
            flex: 0 0 100%;
            background: white;
            box-shadow: 0px 20px 80px rgb(0 0 0 / 10%);
            border-radius: 15px;
            padding: 45px;
            margin: 25px 0;
            @include screen(1024) {
                flex: 0 0 33.33%;
                max-width: 440px;
            }
            h4 {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.4px;
            }
        }
        &-sum {
            p {
                font-size: 12px;
                line-height:16px;
                letter-spacing: 0.3px;
            }
        }
        &-list {
            flex-wrap: wrap;
            column-gap: 15px;
            margin-top: 25px;
            @include screen(0,1023) {
                justify-content: center;
            }
        }
        &-container {
            display: flex;
            flex-direction: column;
        }
        &-info {
            flex-grow: 1;
            display: flex;
        }
        &-content {
    
        }
        &-read {
            .read-more {
                position:relative;
                transition:all 0.3s ease-out;
                display:block;
                border-radius: 5px;
                border:1px solid rgba(237, 25, 111, 1);
                color:rgba(237, 25, 111, 1);
                padding: 20px;
                span {
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
                &:before {
                    transition:all 0.3s ease-out;
                    position: absolute;
                    content: "\e901";
                    color: rgba(237, 25, 111, 1);
                    font-family: "icomoon";
                    right: 0;
                    transform: rotate(180deg);
                    right: 25px;
                }
                &:hover {
                    background:rgba(237, 25, 111, 1);
                    color:white;
                    &:before {
                        color:white;
                    }
                }
            }
        }
        &-image {
            overflow: hidden;
            position:relative;
            margin-bottom: 50px;
            img {
                display: block;
                transition: 0.5s ease;
                width: 352px;
                height: 198px;
                object-fit: cover;
            }
            label {
                cursor: pointer;
                pointer-events: none;
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: #92D400;
                border-radius: 4px;
                color: white;
                font-size: 14px;
                width: max-content;
                text-align: center;
                display: block;
                padding: 0 10px;
            }
        }
    }
    
}

.gform {
    &_fields {
        display:flex;
        flex-wrap:wrap;
        column-gap: 16px;
        row-gap: 35px;
    }
    &_heading {
        display:none;
    }
    &_footer {
        margin-top: 25px;
    }
    &_button {
        background: #f20a22;
        color: white;
        border: none;
        padding: 16px 50px;
        border-radius: 25px;
        font-family: "Lato";
        cursor: pointer;
        padding: 0 !important;
    }
    &_submission_error {
        font-size: 15px;
        color: #E42313;
        margin: 25px 0;
        border: 2px solid #E42313;
        border-radius: 3px;
        padding: 20px;
        outline: none;
    }
    &_validation_errors {
        &:focus-visible {
            outline: none;
        }
    }
}

.gfield {
    &_validation_message {
        color: #E42313;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 700;
    }
    &_error {
        border: 1px solid #E42313 !important;
        padding: 15px;
    }
    &--width {
        &-half {
            flex:0 0 calc(50% - 8px);
            max-width: calc(50% - 8px);
        }
        &-full {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
    &--type {
        &-checkbox {
            border:none;
            legend {
                display:none;
            }
            a {
                color:#E42313;
            }
            input {
                min-height: unset !important;
                width: fit-content !important;
                margin-bottom: 3px !important;
                margin-right: 15px;
            }
            .gchoice {
                display: flex;
            }
        }
        &-honeypot {
            display:none;
        }

    }
}