{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="csf-container container">
        <div class="csf-top row">
            <div class="csf-title row">
                <h2>{{fields.title}}Featured Whitepapers</h2>
            </div>
            <div class="csf-button hide-mobile">
                <a class="btn primary" href="{{fields.button.url}}" target="{{fields.button.target}}"><span>{{fields.button.title}}</span></a>
            </div>
        </div>
        <div class="">
            <div id="filter-container" class="all">
                <ul class="rl related-list {{fields.post_type}}">
                    {% for item in objects %}
                        <li class="related-item">{% include ['related-item-feed.twig'] %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="csf-button hide-desktop">
            <a class="btn primary" href="{{fields.button.url}}" target="{{fields.button.target}}"><span>{{fields.button.title}}</span></a>
        </div>
    </div>
</section>
<div class="header-modal" id="whitepaper-modal">
    <div class="inner">
        <div class="top">
            <div class="left">
                {{fields.modal.content}}
            </div>
            <div class="right">
                <img src="/wp-content/themes/aspirico/blocks/theme-header/modal.png" alt="iplanit logo">
            </div>
        </div>
        <div class="form">
            [gravityform id="3" title="false"]
        </div>
        <div class="closer">
            <div class="closer-inner" onclick="toggleWPModal();"></div>
        </div>
    </div>
</div>
<script>
function toggleWPModal() {
    document.querySelector('#whitepaper-modal').classList.toggle('active');
}
</script>
{% endblock %}

