@import "mixins.scss";

.service-boxes-one {
    margin:25px;
    .top {
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .wrapper {
        background: white;
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 25px;
        
        @include screen(1024) {
            border-radius: 15px;
        }
        @include screen(1280) {
            padding: 75px;
        }
    }
    .boxes {
        @include screen(1280) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .box {
        border-top: 1px solid rgba(104, 162, 215, 0.5);
        padding-top: 20px;
        margin-top: 20px;
        h2 {
            @include screen(1280) {
                margin-bottom: 35px;
            }
        }
        &:nth-child(1) {
            @include screen(1280) {
                border-right: 1px solid rgba(104, 162, 215, 0.5);
            }
            h2 {
                color:rgba(104, 162, 215, 1);
            }
        }
        &:nth-child(2) {
            h2 {
                color:rgba(241, 88, 34, 1);
            }
        }
        &:nth-child(3) {
            @include screen(1280) {
                border-right: 1px solid rgba(104, 162, 215, 0.5);
                border-bottom: 1px solid rgba(104, 162, 215, 0.5);
            }
            h2 {
                color:rgba(104, 166, 144, 1);
            }
        }
        &:nth-child(4) {
            border-bottom: 1px solid rgba(104, 162, 215, 0.5);
            h2 {
                color:rgba(254, 190, 18, 1);
            }
        }
        @include screen(1280) {
            margin-top:0;
            padding:50px;
            flex:0 0 calc(50% - 102px);
            max-width: calc(50% - 102px);
        }
        @include screen(1366) {
            padding:75px;
            flex:0 0 calc(50% - 152px);
            max-width: calc(50% - 152px);
        }
    }
    .bot {
        margin-top: 50px;
    }
    .wp-block-button__link {
        display:block;
        width: fit-content;
        margin: auto;
        text-align: center;
        min-width: auto;
    }
}