.service-boxes-one {
  margin: 25px;
}
.service-boxes-one .top {
  margin-bottom: 40px;
  margin-top: 20px;
}
.service-boxes-one .wrapper {
  background: white;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-one .wrapper {
    border-radius: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .service-boxes-one .wrapper {
    padding: 75px;
  }
}
@media only screen and (min-width: 1280px) {
  .service-boxes-one .boxes {
    display: flex;
    flex-wrap: wrap;
  }
}
.service-boxes-one .box {
  border-top: 1px solid rgba(104, 162, 215, 0.5);
  padding-top: 20px;
  margin-top: 20px;
}
@media only screen and (min-width: 1280px) {
  .service-boxes-one .box h2 {
    margin-bottom: 35px;
  }
}
@media only screen and (min-width: 1280px) {
  .service-boxes-one .box:nth-child(1) {
    border-right: 1px solid rgba(104, 162, 215, 0.5);
  }
}
.service-boxes-one .box:nth-child(1) h2 {
  color: rgb(104, 162, 215);
}
.service-boxes-one .box:nth-child(2) h2 {
  color: rgb(241, 88, 34);
}
@media only screen and (min-width: 1280px) {
  .service-boxes-one .box:nth-child(3) {
    border-right: 1px solid rgba(104, 162, 215, 0.5);
    border-bottom: 1px solid rgba(104, 162, 215, 0.5);
  }
}
.service-boxes-one .box:nth-child(3) h2 {
  color: rgb(104, 166, 144);
}
.service-boxes-one .box:nth-child(4) {
  border-bottom: 1px solid rgba(104, 162, 215, 0.5);
}
.service-boxes-one .box:nth-child(4) h2 {
  color: rgb(254, 190, 18);
}
@media only screen and (min-width: 1280px) {
  .service-boxes-one .box {
    margin-top: 0;
    padding: 50px;
    flex: 0 0 calc(50% - 102px);
    max-width: calc(50% - 102px);
  }
}
@media only screen and (min-width: 1366px) {
  .service-boxes-one .box {
    padding: 75px;
    flex: 0 0 calc(50% - 152px);
    max-width: calc(50% - 152px);
  }
}
.service-boxes-one .bot {
  margin-top: 50px;
}
.service-boxes-one .wp-block-button__link {
  display: block;
  width: fit-content;
  margin: auto;
  text-align: center;
  min-width: auto;
}

/*# sourceMappingURL=style.css.map */
