{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="top"><InnerBlocks/></div>
            <div class="mid">
                <div class="boxes">
                {% for box in fields.content.boxes %}
                    <div class="box">
                        <div class="inner">
                            {{box.content}}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% if fields.content.link.title|length > 3 %}
            <div class="bot">
            <div class="is-layout-flex wp-block-buttons">
                <div class="wp-block-button">
                    <a class="wp-block-button__link wp-element-button" href="{{fields.content.link.url}}">{{fields.content.link.title}}</a>
                </div>
            </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
