@import "mixins.scss";

.single-webinar-post {
    h1,
    h2,
    h3,
    h4,
    h5 {
        color:rgba(104, 162, 215, 1);
        margin: 0.25em 0;
    }
    .container {
        @include screen(1024) {
            max-width: 80vw;
        }
        @include screen(1366) {
            max-width: 1200px
        }
        @include screen(1920) {
            max-width: 62.5vw;
        }
    }
    .featured {
        margin: 40px 0;
        padding: 0 25px;
        @include screen(1024) {
            padding: 0;
            margin: 75px 0;
        }
        .inner {
            position:relative;
            background:rgba(43, 46, 116, 0.05);
            border-radius: 15px;
            iframe {
                min-height: 215px;
                width: 100%;
                @include screen(1024) {
                    min-height: 675px;
                }
            }
            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    .hero {
        padding: 0 50px;
        padding-top: 75px;
        @include screen(1024) {
            padding: 0;
            padding-top: 125px;
        }
        h1 {
            color:rgba(43, 46, 116, 1);
            margin-bottom: 0.25em;
        }
        .inner {
            @include screen(1024) {
                display:flex;
                align-items: center;
                gap: 90px;
            }
            @include screen(1366) {
                gap: 120px;
            }
            @include screen(1536) {
                gap: 150px;
            }
        }
        .post-details {
            display: inline-flex;
            li {
                font-weight: 500;
                color:rgba(104, 162, 215, 1);
                &:not(:first-child) {
                    &:before {
                        content:"|";
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .post-content {
        padding: 0 50px;
        @include screen(1024) {
            padding: 0;
        }
    }
    .post-credits {
        margin-top:100px;
        margin-bottom:50px;
        padding: 0 25px;
        @include screen(1024) {
            padding: 0;
        }
        .inner {
            background: rgba(43, 46, 116, 0.05);
            padding: 25px;
            border-radius: 15px;
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            align-items: flex-end;
            @include screen(1024) {
                flex-wrap: nowrap;
                align-items: flex-start;
                padding: 60px 50px;
                gap: 60px;
            }
        }
        h3 {
            color:rgba(43, 46, 116, 1);
        }
        .profile-image {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 15px;
            height:125px;
            width:125px;
            flex: 0 0 125px;
            img {
                border-radius: 15px;
                height:125px;
                width:125px;
                object-fit: cover;
                @include screen(1024) {
                    height:350px;
                    width:350px;
                }
            }
            @include screen(1024) {
                height:350px;
                width:350px;
                flex: 0 0 350px;
            }
        }
        .post-info {
            &.full {
                flex:0 0 100%;
            }
        }
        .bio {
            font-weight: 500;
            line-height: 28px;
        }
    }
    .post-content {
        ul,
        ol {
            padding-left: 20px;
            margin: 20px 0;
        }
    
        ul {
            list-style: disc;
        }
    
        ol {
            list-style: decimal;
        }
        li {
            line-height: 1.5;
            font-weight: 500;
        }
        em {
            font-style: italic;
        }
        a {
            text-decoration: underline;
            color: #68a2d7;
        }
    }
}