{% extends "block-base.twig" %}

{% block content %}
{% set image = fn('get_field', 'profile_image',  'user_' ~ post.author.id) %}
<section class="{{blockClasses(block)}}">
    <div class="hero">
        <div class="container">
            <div class="inner">
                <div class="left hide-mobile">
                    <svg xmlns="http://www.w3.org/2000/svg" id="iplanit_with_tagline-01-01" data-name="iplanit with tagline-01-01" width="451.655" height="276.885" viewBox="0 0 451.655 276.885">
                        <g id="Group_14162" data-name="Group 14162" transform="translate(113.19 219.293)">
                            <g id="Group_14160" data-name="Group 14160" transform="translate(52.94 16.392)">
                            <path id="Path_26632" data-name="Path 26632" d="M134.68,214.4H121.832l-3.1,7.531H111.2L128.7,181.4h.443l17.5,40.536h-8.86Zm-2.658-6.424-3.766-9.525-3.987,9.525Z" transform="translate(-111.2 -181.4)" fill="#68a2d7"/>
                            <path id="Path_26633" data-name="Path 26633" d="M144.684,188.988A6.578,6.578,0,0,0,140.7,190.1a3.717,3.717,0,0,0-1.329,3.1c0,1.329.665,2.215,1.994,3.323a25.944,25.944,0,0,0,5.538,2.658,46.334,46.334,0,0,1,4.652,2.215,10.254,10.254,0,0,1,3.323,3.544A11.653,11.653,0,0,1,156.2,210.7a9.515,9.515,0,0,1-1.551,5.538A11.765,11.765,0,0,1,150,220.221a14.866,14.866,0,0,1-7.31,1.551,23.452,23.452,0,0,1-6.867-1.108,24.542,24.542,0,0,1-6.424-3.1l3.323-5.981a22.919,22.919,0,0,0,4.652,2.437,13.12,13.12,0,0,0,4.652.886,8.483,8.483,0,0,0,4.209-1.108,3.644,3.644,0,0,0,1.772-3.323c0-1.994-1.994-3.766-5.759-5.316-2.215-.886-3.987-1.772-5.538-2.437a11.461,11.461,0,0,1-3.766-3.544,9.322,9.322,0,0,1-1.551-5.759,11.02,11.02,0,0,1,3.323-8.2,13.9,13.9,0,0,1,8.86-3.323,23.574,23.574,0,0,1,7.31.886,23.335,23.335,0,0,1,5.759,2.88l-2.88,5.981C150.222,190.1,147.342,188.988,144.684,188.988Z" transform="translate(-89.086 -180.792)" fill="#68a2d7"/>
                            <path id="Path_26634" data-name="Path 26634" d="M169.037,185.536a12.213,12.213,0,0,1,3.987,9.525,16.951,16.951,0,0,1-1.329,6.645,12.178,12.178,0,0,1-4.43,5.095,14.171,14.171,0,0,1-7.974,1.994h-5.538v12.4H146V182.213h11.74C162.835,181.992,166.379,183.321,169.037,185.536Zm-6.2,14.841a6.283,6.283,0,0,0,1.993-2.215,5.775,5.775,0,0,0,.665-2.437,9.027,9.027,0,0,0-1.108-3.987q-1.329-1.994-4.652-1.993H154.2v11.74h5.538A7.443,7.443,0,0,0,162.835,200.377Z" transform="translate(-68.915 -180.441)" fill="#68a2d7"/>
                            <path id="Path_26635" data-name="Path 26635" d="M170.253,182.1v38.985H162.5V182.1Z" transform="translate(-48.866 -180.549)" fill="#68a2d7"/>
                            <path id="Path_26636" data-name="Path 26636" d="M192.743,221.185l-8.2-12.4h-5.095v12.4H171.7V182.2h11.74c4.873,0,8.639,1.108,11.3,3.544a12.213,12.213,0,0,1,3.987,9.525,14.841,14.841,0,0,1-1.551,6.867,12.311,12.311,0,0,1-4.652,4.873l9.082,14.177Zm-13.29-19.936h5.538a6.346,6.346,0,0,0,4.652-1.772,6.636,6.636,0,0,0,1.329-3.987,9.026,9.026,0,0,0-1.108-3.987q-1.329-1.994-4.652-1.994h-5.538v11.74Z" transform="translate(-37.688 -180.428)" fill="#68a2d7"/>
                            <path id="Path_26637" data-name="Path 26637" d="M197.053,182.1v38.985H189.3V182.1Z" transform="translate(-16.302 -180.549)" fill="#68a2d7"/>
                            <path id="Path_26638" data-name="Path 26638" d="M224.424,220.421a18.366,18.366,0,0,1-7.088,1.329,21.047,21.047,0,0,1-10.632-2.658A17.575,17.575,0,0,1,199.837,212a20.5,20.5,0,0,1-2.437-9.746,21.9,21.9,0,0,1,2.437-10.411,17.1,17.1,0,0,1,6.645-7.088,18.629,18.629,0,0,1,9.968-2.658,20.991,20.991,0,0,1,6.645.886,19.5,19.5,0,0,1,5.316,2.437l-3.1,7.31a13.813,13.813,0,0,0-8.639-3.1,10,10,0,0,0-5.538,1.551,13.424,13.424,0,0,0-4.209,4.43,11.745,11.745,0,0,0-1.551,6.2,16.184,16.184,0,0,0,1.329,6.645,9.7,9.7,0,0,0,3.987,4.43,11.237,11.237,0,0,0,6.2,1.551,12.312,12.312,0,0,0,5.095-.886,10.816,10.816,0,0,0,3.544-2.215l3.1,6.867C228.19,218.87,226.639,219.535,224.424,220.421Z" transform="translate(-6.46 -180.549)" fill="#68a2d7"/>
                            <path id="Path_26639" data-name="Path 26639" d="M217.958,191.968a19.3,19.3,0,0,1,7.31-7.31,20.019,20.019,0,0,1,19.936,0,19.3,19.3,0,0,1,7.31,7.31,20.019,20.019,0,0,1,0,19.936,19.3,19.3,0,0,1-7.31,7.31,20.019,20.019,0,0,1-19.936,0,19.3,19.3,0,0,1-7.31-7.31,20.019,20.019,0,0,1,0-19.936Zm6.867,16.17a10.677,10.677,0,0,0,4.43,4.43,11.909,11.909,0,0,0,6.2,1.772,11.141,11.141,0,0,0,5.981-1.772,11.518,11.518,0,0,0,4.209-4.43,12.286,12.286,0,0,0,1.551-6.2,12.546,12.546,0,0,0-1.551-6.424,10.677,10.677,0,0,0-4.43-4.43,10.978,10.978,0,0,0-11.961,0,14.1,14.1,0,0,0-4.43,4.43,12.019,12.019,0,0,0-1.551,6.424A15.088,15.088,0,0,0,224.825,208.138Z" transform="translate(15.29 -180.671)" fill="#68a2d7"/>
                            </g>
                            <g id="Group_14161" data-name="Group 14161" transform="translate(0 0)">
                            <path id="Path_26640" data-name="Path 26640" d="M104.578,194.379a9.384,9.384,0,0,1,3.766,3.987,12.009,12.009,0,0,1,1.329,5.538,10.972,10.972,0,0,1-1.551,5.981,8.239,8.239,0,0,1-3.987,3.766,11.131,11.131,0,0,1-5.316,1.329A11.8,11.8,0,0,1,93.5,213.65a9.665,9.665,0,0,1-3.766-3.544v4.43H87.3V174h2.437v23.7a8.936,8.936,0,0,1,3.987-3.544,12.009,12.009,0,0,1,5.538-1.329A13.545,13.545,0,0,1,104.578,194.379Zm.443,15.949a8.863,8.863,0,0,0,2.437-6.424,10.083,10.083,0,0,0-1.108-4.43,7,7,0,0,0-3.1-3.1,7.782,7.782,0,0,0-4.43-1.108,8.675,8.675,0,0,0-5.759,1.994,8.856,8.856,0,0,0-3.1,4.873v3.323a8.585,8.585,0,0,0,1.329,3.766,9.017,9.017,0,0,0,3.1,2.658,9.162,9.162,0,0,0,4.209,1.108A10.036,10.036,0,0,0,105.021,210.327Z" transform="translate(-87.3 -174)" fill="#68a2d7"/>
                            <path id="Path_26641" data-name="Path 26641" d="M120.443,182.9l-13.291,30.79h-2.658l4.43-10.189L99.4,182.9h2.88l7.974,17.721,7.753-17.721h2.437Z" transform="translate(-72.598 -163.186)" fill="#68a2d7"/>
                            </g>
                        </g>
                        <path id="Path_26642" data-name="Path 26642" d="M239.047,82.974c0-2.658-.221-5.316-.443-7.974a65.177,65.177,0,0,1-129.361,0c-.221,2.658-.443,5.316-.443,7.974a65.123,65.123,0,1,0,130.247,0Z" transform="translate(52.015 -75)" fill="#495daa"/>
                        <ellipse id="Ellipse_241" data-name="Ellipse 241" cx="12.847" cy="12.847" rx="12.847" ry="12.847" transform="translate(212.869 23.037)" fill="#2b2e74"/>
                        <g id="Group_14163" data-name="Group 14163" transform="translate(0 95.683)">
                            <path id="Path_26643" data-name="Path 26643" d="M53.256,126.622a8.8,8.8,0,0,1-8.639,8.639,8.605,8.605,0,0,1-8.417-8.639,8.529,8.529,0,0,1,17.056,0ZM39.523,151.209H49.712V231.4H39.523Z" transform="translate(-36.2 -118.196)" fill="#68a2d7"/>
                            <path id="Path_26644" data-name="Path 26644" d="M63.989,148.935c7.974-11.075,19.05-16.835,31.9-16.835,23.48,0,41.422,19.05,41.422,41.865s-17.721,42.308-41.2,42.308c-12.626,0-23.48-5.095-32.119-15.727v42.973H53.8V134.093H63.989ZM63.1,174.629c0,19.936,15.284,32.34,31.9,32.34,17.721,0,31.676-15.063,31.676-32.562,0-17.278-13.29-32.34-31.676-32.34C77.058,142.068,63.1,156.023,63.1,174.629Z" transform="translate(-14.815 -101.302)" fill="#2b2e74"/>
                            <path id="Path_26645" data-name="Path 26645" d="M101.1,119.1h10.189V230.075H101.1Z" transform="translate(42.659 -117.098)" fill="#2b2e74"/>
                            <path id="Path_26646" data-name="Path 26646" d="M188.819,134.315h10.189V214.5H188.819V200.546c-8.639,10.632-19.714,15.727-32.34,15.727-23.48,0-40.979-19.493-40.979-42.308S133.664,132.1,156.922,132.1c13.069,0,23.923,5.538,31.9,16.835v-14.62Zm-62.687,40.093c0,17.278,13.512,32.562,31.454,32.562,16.392,0,31.9-12.4,31.9-32.34,0-18.607-13.955-32.562-31.9-32.562C139.423,142.068,126.132,157.13,126.132,174.408Z" transform="translate(60.156 -101.302)" fill="#2b2e74"/>
                            <path id="Path_26647" data-name="Path 26647" d="M175.468,148.492c8.2-10.854,18.164-16.392,30.125-16.392,17.5,0,29.682,11.961,29.682,37.213v44.966H225.086V170.642c0-18.828-5.981-29.239-21.486-29.239-8.639,0-15.727,3.766-21.043,10.854-5.981,7.753-6.867,15.727-6.867,28.353v33.669H165.5V134.094h10.189v14.4Z" transform="translate(120.91 -101.302)" fill="#2b2e74"/>
                            <path id="Path_26648" data-name="Path 26648" d="M223.456,126.622a8.8,8.8,0,0,1-8.639,8.639,8.605,8.605,0,0,1-8.417-8.639,8.529,8.529,0,0,1,17.056,0Zm-13.512,24.587h10.189V231.4H209.944Z" transform="translate(170.606 -118.196)" fill="#68a2d7"/>
                            <path id="Path_26649" data-name="Path 26649" d="M235.877,119.6h10.189v29.9h16.392v9.082H246.066v71.1H235.877v-71.1H221.7V149.5h14.177Z" transform="translate(189.197 -116.49)" fill="#68a2d7"/>
                        </g>
                    </svg>
                </div>
                <div class="right">
                    <h1>{{post.title}}</h1>
                    <ul class="post-details">
                        <li>by {{post.author}}</li>
                        <li>{{post.date}}</li>
                        <li>Webinar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="featured">
        <div class="container">
            <div class="inner">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{fields.youtube_video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="post-content">
        <div class="container">
            <div class="wrapper">
                <div class="flex">
                    <InnerBlocks/>
                </div>
            </div>
        </div>
    </div>
    <div class="post-credits">
        <div class="container">
            <div class="inner">
                <div class="profile-image">
                    {{imageElement(image)}}
                </div>
                <div class="post-info">
                    <div class="author"><h3>{{post.author}}</h3></div>
                    <div class="bio hide-mobile">{{post.author.description}}</div>
                </div>
                <div class="post-info full hide-desktop">
                    <div class="bio">{{post.author.description}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

