@import "mixins.scss";

.double-accordion {
    .accordion {
        margin-bottom:50px;
        &-head {
            padding: 25px;
            border-radius:5px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include screen(768) {
                padding: 24px 65px;
                border-radius:10px;
            }
            @include screen(1024) {
                padding: 34px 80px;
                border-radius:15px;
            }
            h2 {
                font-weight: 400;
            }
            &.blue {
                background: linear-gradient(90deg, rgba(43,46,116,1) 0%, rgba(83,125,191,1) 100%);
            }
            &.green {
                background: linear-gradient(90deg, rgba(43,46,116,1) 0%, rgba(104,166,144,1) 100%);
            }
        }
        &-title {
            color:white;
            flex:0 0 80%;
            max-width: 80%;
            @include screen(768) {
                flex:0 0 50%;
                max-width: 50%;
            }
        }
        &-content {
            color:#FFFFFF;
            flex-grow: 1;
        }
        &-chevron {
            width: 38px;
            height: 21px;
            position:relative;
            &:before {
                transition: all 0.3s ease-out;
                cursor:pointer;
                font-family: "icomoon";
                content: "\e901";
                font-size: 20px;
                color:white;
                position: absolute;
                transform: rotate(270deg);
                @include screen(768) {
                    font-size: 38px;
                }
            }
        }
        &-body {
            transition: all 0.3s ease-in-out;
            max-height: 0;
            overflow: hidden;
        }
        &.open {
            .accordion-chevron {
                &:before {
                    transform:rotate(90deg);
                }
            }
            .accordion-body {
                max-height: 5000px;
            }
        }
        & + .accordion {
            margin-top:25px;
        }
    }
    .items {
        margin: 25px;
        @include screen(768) {
            margin: 0;
            padding-bottom: 50px;
        }
        @include screen(1366) {
            margin: 0;
            padding-bottom: 100px;
        }
    }
    .first {
        padding:0 25px;
        @include screen(768) {
            padding: 50px 0;
        }
        @include screen(1366) {
            padding: 75px 0;
        }
        h2 {
            color:#FEBE12;
            font-weight:400;
        }
    }
    .children {
        padding: 5px 15px;
    }
    .child {
        margin-top:15px;
        @include screen(768) {
            margin-top:50px;
        }
        &-icon {
            margin-right:20px;
            flex: 0 0 45px;
            max-width: 45px;
            @include screen(768) {
                margin-right: 70px;
                flex: 0 0 164px;
                max-width: 164px;
            }
            img {
                display:block;
                max-width: 45px;
                @include screen(768) {
                    max-width: 164px;
                }
            }
        }
        &-head {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 5px;
            max-width: 1110px;
            margin:auto;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 13px;
            @include screen(768) {
                padding: 24px 45px;
                border-radius: 10px;
            }
            @include screen(1024) {
                border-radius: 15px;
            }
        }
        &-title {
            flex-grow: 1;
            .top {
                font-size: 18px;
                line-height: 1.1;
                letter-spacing: 1.13px;
                color:rgba(104, 162, 215, 1);
                font-weight: 700;
                margin-top:15px;
                @include screen(768) {
                    margin-top:0px;
                    font-size: 30px;
                }
                @include screen(1366) {
                    font-size: 45px;
                }
            }
            .bot {
                margin-top: 15px;
                @include screen(1024) {
                    margin-top: 30px;
                }
                p {
                    &:not(:nth-child(1)) {
                        overflow: hidden;
                        transition: all 0.3s ease-out;
                        max-height:0;
                        margin:0;
                    }
                }
            }
        }
        &-body {
            transition: all 0.3s ease-out;
            max-height: 0;
            overflow: hidden;
        }
        &-chevron {
            flex: 0 0 38px;
            width: 38px;
            height: 21px;
            position:relative;
            &:before {
                transition: all 0.3s ease-out;
                cursor:pointer;
                font-family: "icomoon";
                content: "\e901";
                color:rgba(104, 162, 215, 1);
                position: absolute;
                transform: rotate(270deg);
                font-size: 20px;
                top: 15px;
                @include screen(768) {
                    top:0;
                    font-size: 38px;
                }
            }
        }
        &.green {
            .child-title {
                .top {
                    color:rgba(104, 166, 144, 1);
                }
            }
            .child-chevron {
                &:before {
                    color:rgba(104, 166, 144, 1);
                }
            }
        }
        &.open {
            .child-chevron {
                &:before {
                    transform:rotate(90deg);
                    color:rgba(254, 190, 18, 1);
                }
            }
            .bot {
                p {
                    margin: 10px 0;
                    max-height: 125px;
                    @include screen(768) {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
    p {
        margin:10px 0;
        @include screen(768) {
            margin:20px 0;
        }
    }
}
