.double-accordion .accordion {
  margin-bottom: 50px;
}
.double-accordion .accordion-head {
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .double-accordion .accordion-head {
    padding: 24px 65px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .double-accordion .accordion-head {
    padding: 34px 80px;
    border-radius: 15px;
  }
}
.double-accordion .accordion-head h2 {
  font-weight: 400;
}
.double-accordion .accordion-head.blue {
  background: linear-gradient(90deg, rgb(43, 46, 116) 0%, rgb(83, 125, 191) 100%);
}
.double-accordion .accordion-head.green {
  background: linear-gradient(90deg, rgb(43, 46, 116) 0%, rgb(104, 166, 144) 100%);
}
.double-accordion .accordion-title {
  color: white;
  flex: 0 0 80%;
  max-width: 80%;
}
@media only screen and (min-width: 768px) {
  .double-accordion .accordion-title {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.double-accordion .accordion-content {
  color: #FFFFFF;
  flex-grow: 1;
}
.double-accordion .accordion-chevron {
  width: 38px;
  height: 21px;
  position: relative;
}
.double-accordion .accordion-chevron:before {
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-family: "icomoon";
  content: "\e901";
  font-size: 20px;
  color: white;
  position: absolute;
  transform: rotate(270deg);
}
@media only screen and (min-width: 768px) {
  .double-accordion .accordion-chevron:before {
    font-size: 38px;
  }
}
.double-accordion .accordion-body {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.double-accordion .accordion.open .accordion-chevron:before {
  transform: rotate(90deg);
}
.double-accordion .accordion.open .accordion-body {
  max-height: 5000px;
}
.double-accordion .accordion + .accordion {
  margin-top: 25px;
}
.double-accordion .items {
  margin: 25px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .items {
    margin: 0;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1366px) {
  .double-accordion .items {
    margin: 0;
    padding-bottom: 100px;
  }
}
.double-accordion .first {
  padding: 0 25px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .first {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1366px) {
  .double-accordion .first {
    padding: 75px 0;
  }
}
.double-accordion .first h2 {
  color: #FEBE12;
  font-weight: 400;
}
.double-accordion .children {
  padding: 5px 15px;
}
.double-accordion .child {
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .child {
    margin-top: 50px;
  }
}
.double-accordion .child-icon {
  margin-right: 20px;
  flex: 0 0 45px;
  max-width: 45px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .child-icon {
    margin-right: 70px;
    flex: 0 0 164px;
    max-width: 164px;
  }
}
.double-accordion .child-icon img {
  display: block;
  max-width: 45px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .child-icon img {
    max-width: 164px;
  }
}
.double-accordion .child-head {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  max-width: 1110px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 13px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .child-head {
    padding: 24px 45px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .double-accordion .child-head {
    border-radius: 15px;
  }
}
.double-accordion .child-title {
  flex-grow: 1;
}
.double-accordion .child-title .top {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 1.13px;
  color: rgb(104, 162, 215);
  font-weight: 700;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .child-title .top {
    margin-top: 0px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1366px) {
  .double-accordion .child-title .top {
    font-size: 45px;
  }
}
.double-accordion .child-title .bot {
  margin-top: 15px;
}
@media only screen and (min-width: 1024px) {
  .double-accordion .child-title .bot {
    margin-top: 30px;
  }
}
.double-accordion .child-title .bot p:not(:nth-child(1)) {
  overflow: hidden;
  transition: all 0.3s ease-out;
  max-height: 0;
  margin: 0;
}
.double-accordion .child-body {
  transition: all 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}
.double-accordion .child-chevron {
  flex: 0 0 38px;
  width: 38px;
  height: 21px;
  position: relative;
}
.double-accordion .child-chevron:before {
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-family: "icomoon";
  content: "\e901";
  color: rgb(104, 162, 215);
  position: absolute;
  transform: rotate(270deg);
  font-size: 20px;
  top: 15px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .child-chevron:before {
    top: 0;
    font-size: 38px;
  }
}
.double-accordion .child.green .child-title .top {
  color: rgb(104, 166, 144);
}
.double-accordion .child.green .child-chevron:before {
  color: rgb(104, 166, 144);
}
.double-accordion .child.open .child-chevron:before {
  transform: rotate(90deg);
  color: rgb(254, 190, 18);
}
.double-accordion .child.open .bot p {
  margin: 10px 0;
  max-height: 125px;
}
@media only screen and (min-width: 768px) {
  .double-accordion .child.open .bot p {
    margin: 20px 0;
  }
}
.double-accordion p {
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .double-accordion p {
    margin: 20px 0;
  }
}

/*# sourceMappingURL=style.css.map */
