{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="first">{{fields.content}}</div>
    </div>
    <div class="container">
        <div class="items">
        {% for item in fields.items %}
            <div class="accordion {% if loop.first %}open{% endif %}">
                <div class="accordion-head {{item.color}}">
                    <div class="accordion-title">
                        {{item.title}}
                        <div class="accordion-content hide-desktop">{{item.content}}</div>
                    </div>
                    <div class="accordion-content hide-mobile">{{item.content}}</div>
                    <div class="accordion-chevron" onclick="toggleMainAccordion(this.parentNode.parentNode)"></div>
                </div>
                <div class="accordion-body">
                    <div class="children">
                    {% for child in item.children %}
                        <div class="child {{item.color}}">
                            <div class="child-head">
                                <div class="child-icon">{{imageElement(child.icon)}}</div>
                                <div class="child-title">
                                    <div class="top">{{child.title}}</div>
                                    <div class="bot">
                                        <p>{{child.subtitle}}</p>
                                        {{child.content}}
                                    </div>
                                </div>
                                <div class="child-chevron" onclick="toggleSubAccordion(this.parentNode.parentNode)"></div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<script>
function toggleMainAccordion(e) {
    e.classList.toggle('open');
}
function toggleSubAccordion(e) {
    e.classList.toggle('open');
}
</script>
{% endblock %}
