.hero-two {
  padding: 75px 50px;
  background: white;
  overflow: hidden;
}
.hero-two .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero-two .flex {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .hero-two .flex {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-two .flex {
    flex: 0 0 48.5%;
    max-width: 590px;
  }
}
.hero-two .media {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero-two .media {
    padding-top: 50px;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-two .media {
    flex: 0 0 48.5%;
    max-width: 695px;
  }
}
@media only screen and (min-width: 1366px) {
  .hero-two .media {
    padding-top: 100px;
    margin-top: 50px;
  }
}
.hero-two .media:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 940px;
  position: absolute;
  background: url(/wp-content/themes/aspirico/blocks/hero-one/bg.png);
  background-repeat: no-repeat;
  background-position-x: -83px;
  background-position-y: -142px;
}
.hero-two .wp-block-image {
  margin-bottom: 30px;
}
.hero-two .wp-block-buttons {
  margin-top: 30px;
}
.hero-two img {
  max-width: 100%;
  height: auto;
}
.hero-two h5 {
  color: #1F7A8C;
}
.hero-two.is-style-home .wp-block-image {
  max-width: 240px;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .hero-two.is-style-home .wp-block-image {
    max-width: 100%;
  }
}
.hero-two.is-style-sector {
  padding-top: 10vh;
}
@media only screen and (min-width: 1280px) {
  .hero-two.is-style-sector {
    padding-top: 15vh;
  }
}
.hero-two.is-style-what-we-do h2 {
  color: #FEBE12;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .hero-two.is-style-what-we-do h2 {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-one {
    padding: 0;
    padding-bottom: 50px;
  }
  .hero-one .wrapper {
    flex-direction: row;
  }
  .hero-one .wp-block-buttons {
    margin-top: 40px;
  }
  .hero-one .flex {
    margin-bottom: 0px;
  }
  .hero-one ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
