@import "mixins.scss";

.hero-two {
    padding: 75px 50px;
    background: white;
    overflow:hidden;
    .wrapper {
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .flex {
        flex:0 0 100%;
        max-width: 100%;
        @include screen(768) {
            margin-bottom: 25px;
        }
        @include screen(1280) {
            flex:0 0 48.5%;
            max-width: 590px;
        }
    }
    .media {
        flex:0 0 100%;
        max-width: 100%;
        position: relative;
        @include screen(768) {
            padding-top:50px;
            margin-top: 25px;
        }
        @include screen(1280) {
            flex:0 0 48.5%;
            max-width: 695px;
        }
        @include screen(1366) {
            padding-top:100px;
            margin-top: 50px;
        }
        &:before {
            content:"";
            top:0;
            bottom:0;
            left:0;
            width: 940px;
            position:absolute;
            background: url(/wp-content/themes/aspirico/blocks/hero-one/bg.png);
            background-repeat: no-repeat;
            background-position-x: -83px;
            background-position-y: -142px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h5 {
        color:#1F7A8C;
    }
    &.is-style-home {
        .wp-block-image {
            max-width: 240px;
            margin: auto;
            @include screen(1024) {
                max-width: 100%;
            }
        }
    }
    &.is-style-sector {
        padding-top: 10vh;
        @include screen(1280) {
            padding-top: 15vh;
        }
    }
    &.is-style-what-we-do {
        h2 {
            color:#FEBE12;
            margin-bottom: 25px;
            @include screen(768) {
                margin-bottom: 50px;
            }
        }
    }
}

@include screen(1280) {
    .hero-one {
        padding: 0;
        padding-bottom: 50px;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}