.header .menu-list,
.header .top-list {
  display: flex;
  justify-content: flex-end;
}
.header .menu-list {
  list-style: disc;
}
.header .menu-list li::marker {
  color: #68a2d7;
  font-size: 25px;
}
.header .top {
  padding: 25px 0;
  background: white;
}
.header .top .li {
  margin-right: 12px;
}
.header .top .li:nth-child(1) a {
  color: #FEBE12;
}
.header .top .li:not(:last-child) a:after {
  content: "|";
  color: #344BA0;
  margin-left: 12px;
}
.header .top .li .top-link {
  color: #344BA0;
  font-weight: 600;
  font-size: 16px;
}
.header .bot {
  background: #344BA0;
}
.header .bot .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
@media only screen and (min-width: 1280px) {
  .header .bot .container {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1280px) {
  .header .bot .menu-item {
    padding: 45px 10px;
    padding-left: 0px;
  }
}
.header .bot .menu-item:not(:last-child) {
  margin-right: 0;
}
@media only screen and (min-width: 1200px) {
  .header .bot .menu-item:not(:last-child) {
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .header .bot .menu-item:not(:last-child) {
    margin-right: 35px;
  }
}
@media only screen and (min-width: 1366px) {
  .header .bot .menu-item:not(:last-child) {
    margin-right: 65px;
  }
}
@media only screen and (min-width: 1536px) {
  .header .bot .menu-item:not(:last-child) {
    margin-right: 90px;
  }
}
.header .bot .menu-item .menu-link {
  position: relative;
  transition: all 0.3s ease-out;
  color: white;
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .header .bot .menu-item .menu-link {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1366px) {
  .header .bot .menu-item .menu-link {
    font-size: 20px;
  }
}
.header .logo {
  transition: all 0.2s ease-out;
  z-index: 10;
  position: relative;
  margin-bottom: -40px;
}
@media only screen and (min-width: 1280px) {
  .header .logo {
    margin-bottom: 0px;
  }
}
.header .logo-wrapper {
  z-index: 50;
  background: white;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.16);
  padding: 22px 24px;
}
@media only screen and (min-width: 1280px) {
  .header .logo-wrapper {
    position: absolute;
    left: -350px;
    top: -125px;
    padding: 44px 44px 44px 37px;
  }
}
@media only screen and (min-width: 1366px) {
  .header .logo-wrapper {
    left: -385px;
  }
}
@media only screen and (min-width: 1440px) {
  .header .logo-wrapper {
    left: -415px;
  }
}
@media only screen and (min-width: 1920px) {
  .header .logo-wrapper {
    left: -468px;
  }
}
@media only screen and (min-width: 1280px) {
  .header .menu {
    flex: 0 0 770px;
  }
}
@media only screen and (min-width: 1366px) {
  .header .menu {
    flex: 0 0 880px;
  }
}
@media only screen and (min-width: 1536px) {
  .header .menu {
    flex: 0 0 950px;
  }
}
@media only screen and (min-width: 1280px) {
  .header .toggler {
    display: none;
  }
}
.header .cta {
  position: relative;
}
.header .cta-inner {
  position: absolute;
  top: 0;
  right: 14vw;
  min-width: 225px;
  z-index: -2;
}
.header .cta a {
  background: #ED196F;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 25px 50px;
  display: block;
}

.header {
  position: relative;
  background: #344BA0;
  z-index: 10;
}

@media only screen and (max-width: 1279px) {
  .header .top {
    display: none;
  }
  .header .cta {
    display: none;
  }
  .header .menu {
    display: none;
  }
  .header .logo img {
    max-width: 157px;
  }
  .header .burger {
    cursor: pointer;
    height: 28px;
    width: 34px;
    transform: rotate(180deg);
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
  }
  .header .burger span {
    transition: all 0.3s ease-out;
    background-color: #68A2D7;
    position: absolute;
    display: block;
    height: 5px;
    width: 34px;
    border-radius: 1.34px;
  }
  .header .burger span:nth-child(1) {
    top: calc(50% - 13px);
  }
  .header .burger span:nth-child(2) {
    top: calc(50% - 2px);
  }
  .header .burger span:nth-child(3) {
    top: calc(50% + 9px);
  }
  .menu-open .burger span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  .menu-open .burger span:nth-child(2) {
    opacity: 0;
  }
  .menu-open .burger span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
.menu-item.active .menu-link {
  color: #ED196F;
}
.menu-item:not(:hover) .dd {
  transform: translateY(-100%);
}
.menu-item:hover .menu-link:before {
  opacity: 1;
}
.menu-item:hover .submenu {
  transform: translateY(0);
}
.menu-link {
  transition: all 0.3s ease-out;
}
.menu-link:after {
  display: block;
  content: attr(data-title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.menu-link:hover {
  color: #ed196f !important;
  font-weight: 700 !important;
}

.submenu {
  transition: all 0.3s ease-out;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  background: #2B2E74;
  z-index: -1;
  transform: translateY(-100%);
}
.submenu-wrapper {
  width: 800px;
  display: flex;
  padding: 50px 20px;
  column-gap: 25px;
}
@media only screen and (min-width: 180px) {
  .submenu-wrapper {
    width: 725px;
    margin-left: 32.5vw;
    column-gap: 20px;
  }
}
@media only screen and (min-width: 1366px) {
  .submenu-wrapper {
    width: 840px;
    margin-left: 32vw;
    column-gap: 35px;
  }
}
@media only screen and (min-width: 1920px) {
  .submenu-wrapper {
    column-gap: 95px;
    width: 950px;
    margin-left: 35.66vw;
  }
}
.submenu-item {
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.submenu-item a {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (min-width: 1366px) {
  .submenu-item a {
    font-size: 20px;
  }
}
.submenu-item:nth-child(1) a {
  font-weight: 600;
}
.submenu-separator {
  background: #68A2D7;
  width: 1px;
}
.submenu-list {
  min-width: 320px;
}

.mobile-menu {
  transition: all 0.3s ease-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 106px;
  transform: translateX(100%);
}
@media only screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-logo {
  position: absolute;
  top: 17px;
  left: 32px;
}
@media only screen and (min-width: 1024px) {
  .mobile-menu-logo {
    display: none;
  }
}

.mmenu-link {
  color: white;
  font-size: 18px;
  line-height: 1.2;
  display: block;
  padding: 25px 40px;
  flex-grow: 1;
}
.mmenu-item {
  background: #2B2E74;
  border-top: 1px solid #68A2D7;
}
.mmenu-item-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mmenu-item.alt {
  background: #344BA0;
}
.mmenu-chevron {
  padding: 25px 40px;
  position: relative;
  width: 21px;
  height: 21px;
}
.mmenu-chevron:before {
  font-family: "icomoon";
  content: "\e901";
  color: #68A2D7;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.menu-open .header .logo {
  opacity: 0;
  visibility: hidden;
}
.menu-open .mobile-menu {
  transform: translateX(0);
}

html.menu-open {
  height: 100vh;
  overflow: hidden;
}
html.menu-open body {
  height: 100vh;
  overflow: hidden;
}

.mmenu-list {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.mobile-menu {
  overflow: scroll;
  height: calc(100vh - 106px);
  background: #344ba0;
}

.msubmenu {
  background: white;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  transform: translateX(100%);
}
.msubmenu-item {
  background: #2B2E74;
  border-top: 1px solid #68a2d7;
}
.msubmenu-item.return {
  background: #F15822;
  border: none;
}
.msubmenu-item.return a {
  color: white;
  font-weight: 600;
  position: relative;
}
.msubmenu-item.return a:after {
  font-family: "icomoon";
  content: "\e901";
  color: white;
  position: absolute;
  font-size: 13px;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%) rotate(0deg);
}
.msubmenu-item.title {
  background: #344ba0;
}
.msubmenu-item a {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  display: block;
  padding: 25px 40px;
  flex-grow: 1;
}

.parent.open .msubmenu {
  transform: translateX(0);
}

@media only screen and (min-width: 1024px) {
  .menu-item.simple {
    position: relative;
  }
}

.menu-link:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "";
  right: 0;
  bottom: -45px;
  height: 10px;
  background: #68a2d7;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
}
@media only screen and (min-width: 1280px) {
  .menu-link:before {
    width: 125px;
  }
}
@media only screen and (min-width: 1366px) {
  .menu-link:before {
    width: 150px;
  }
}
@media only screen and (min-width: 1536px) {
  .menu-link:before {
    width: 175px;
  }
}

.dd {
  transition: all 0.3s ease-out;
  position: absolute;
  top: 110px;
  width: 325px;
  background: #2b2e74;
  transform: translateY(0);
  z-index: -1;
  left: -50%;
}
.dd-wrapper {
  display: flex;
  padding: 35px;
  column-gap: 25px;
}
.dd-item {
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding-bottom: 15px;
}
.dd-item a {
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (min-width: 1366px) {
  .dd-item a {
    font-size: 20px;
  }
}
.dd-item:not(:first-child) {
  padding-top: 15px;
  border-top: 1px solid #68A2D7;
}
.dd-list {
  width: 100%;
}

.header-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.65);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}
.header-modal .inner {
  position: relative;
  background: white;
  margin: auto;
  max-width: 75vw;
  margin: 15vh auto;
  padding: 25px;
  border-radius: 10px;
}
@media only screen and (min-width: 1024px) {
  .header-modal .inner {
    max-width: 80vw;
    margin: 5vh auto;
    padding: 35px;
  }
}
.header-modal .top {
  border-bottom: 1px solid rgb(104, 162, 215);
  display: flex;
  gap: 10vw;
  padding-bottom: 50px;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .header-modal .top {
    padding-bottom: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .right {
    flex: 0 0 362px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .right img {
    max-height: 150px;
  }
}
.header-modal .closer {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .header-modal .closer {
    top: 50px;
    right: 50px;
  }
}
.header-modal .closer-inner:before {
  content: "\e906";
  font-family: "icomoon";
  color: #ED196F;
  font-size: 25px;
}
.header-modal::-webkit-scrollbar {
  display: none;
}
.header-modal:not(.active) {
  display: none;
}

.header-modal h2 {
  color: #ED196F;
  letter-spacing: 1.13px;
}
.header-modal label {
  display: none;
}
.header-modal .wrapper {
  margin: 25px 0;
}
.header-modal input {
  font-family: "Figtree", sans-serif;
  height: 44px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 5px;
  color: #2B2E74;
  font-weight: 600;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  padding-left: 10px;
}
@media only screen and (min-width: 1024px) {
  .header-modal input {
    padding-left: 30px;
    font-size: 14px;
    height: 50px;
    padding-top: 10px;
  }
}
.header-modal input::placeholder {
  font-size: 10px;
}
@media only screen and (min-width: 1024px) {
  .header-modal input::placeholder {
    font-size: 16px;
  }
}
.header-modal input[type=submit] {
  cursor: pointer;
  padding-left: 0;
  box-shadow: none;
  color: white;
  background: #ED196F;
  width: fit-content;
  min-width: 150px;
}
@media only screen and (min-width: 1024px) {
  .header-modal input[type=submit] {
    font-size: 20px;
    padding-top: 0;
    min-width: 325px;
    font-weight: 400;
  }
}
.header-modal input::placeholder {
  font-size: 14px;
  font-family: "Figtree", sans-serif;
  color: #2B2E74;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  .header-modal input::placeholder {
    font-size: 16px;
  }
}
.header-modal textarea {
  padding-left: 30px;
  padding-top: 15px;
  font-family: "Figtree", sans-serif;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 5px;
  color: #2B2E74;
  font-weight: 600;
  outline: none;
  width: calc(100% - 30px);
}
@media only screen and (min-width: 1024px) {
  .header-modal textarea {
    font-size: 16px;
    max-height: 100px;
  }
}
.header-modal textarea::placeholder {
  font-size: 14px;
  font-family: "Figtree", sans-serif;
  color: #2B2E74;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  .header-modal textarea::placeholder {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .form-field {
    display: flex;
    column-gap: 4vw;
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .form-field p {
    margin: 10px 0 !important;
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .form-field.half > div {
    flex: 0 0 calc(50% - 2vw);
    max-width: calc(50% - 2vw);
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .form-field:not(.half) > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .wrapper {
    padding: 50px;
  }
}
.header-modal .form {
  margin-top: 25px;
}
@media only screen and (min-width: 1024px) {
  .header-modal .form {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-modal .form-submit {
    text-align: right;
  }
}

.has-little-boy-blue-color {
  color: #6AA5DB !important;
}

.has-little-boy-blue-background-color {
  background: #6AA5DB !important;
}

.has-polished-pine-color {
  color: #68a690 !important;
}

.has-polished-pine-background-color {
  background: #68a690 !important;
}

.has-razzmatazz-color {
  color: #ed196f !important;
}

.has-razzmatazz-background-color {
  background: #ed196f !important;
}

.has-mikado-yellow-color {
  color: #febe12 !important;
}

.has-mikado-yellow-background-color {
  background: #febe12 !important;
}

.has-text-color * {
  color: inherit !important;
}

.language-switcher {
  position: relative;
}
.language-switcher .chev {
  position: relative;
}
.language-switcher .chev:after {
  content: "\e902";
  font-family: "icomoon";
  color: #344ba0;
  transform: rotate(30deg);
  top: 0px;
  right: -20px;
  position: absolute;
}
.language-switcher .chev:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background: rgb(104, 162, 215);
  height: 5px;
  width: 100%;
  top: 40px;
  transition: all 0.3s ease-out;
  opacity: 1;
}
.language-switcher .inner {
  transition: all 0.3s ease-out;
  position: absolute;
  z-index: 10;
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 12px 18px;
  width: max-content;
  left: -60px;
  top: 45px;
}
.language-switcher .inner:before {
  content: "";
  left: 0;
  right: 0;
  height: 100px;
  display: block;
  position: absolute;
  top: -30px;
}
.language-switcher:not(:hover) .inner {
  opacity: 0;
  visibility: hidden;
}
.language-switcher:not(:hover) .chev:before {
  opacity: 0;
}
.language-switcher li + li {
  border-top: 1px solid #68A2D7;
}
.language-switcher .wpml-ls-link {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
  position: relative;
  padding-right: 40px;
}
.language-switcher .wpml-ls-link:after {
  content: "";
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
}
.language-switcher .wpml-ls-item-en a:after {
  background: url("/wp-content/themes/aspirico/blocks/theme-header/uk.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.language-switcher .wpml-ls-item-en-au a:after {
  background: url("/wp-content/themes/aspirico/blocks/theme-header/au.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.language-switcher .wpml-ls-item-en-ie a:after {
  background: url("/wp-content/themes/aspirico/blocks/theme-header/ie.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.lang-switcher .wpml-ls-legacy-list-vertical {
  display: block;
}
.lang-switcher .wpml-ls-legacy-list-vertical .wpml-ls-link:after {
  content: "";
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  top: 14px;
  right: 30px;
}
.lang-switcher .wpml-ls-legacy-list-vertical .wpml-ls-item {
  background: #2b2e74;
  position: relative;
}
.lang-switcher .wpml-ls-legacy-list-vertical .wpml-ls-item-en a:after {
  background: url("/wp-content/themes/aspirico/blocks/theme-header/uk.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.lang-switcher .wpml-ls-legacy-list-vertical .wpml-ls-item-en-au a:after {
  background: url("/wp-content/themes/aspirico/blocks/theme-header/au.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.lang-switcher .wpml-ls-legacy-list-vertical .wpml-ls-item-en-ie a:after {
  background: url("/wp-content/themes/aspirico/blocks/theme-header/ie.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.lang-switcher .wpml-ls-legacy-list-vertical .wpml-ls-item + .wpml-ls-item {
  border-top: 1px solid #68a2d7;
}
.lang-switcher .wpml-ls-legacy-list-vertical a {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  display: block;
  padding: 25px 40px;
}

/*# sourceMappingURL=style.css.map */
