@import "mixins.scss";

.header {
    .menu-list,
    .top-list {
        display:flex;
        justify-content: flex-end;
    }
    .menu-list {
        list-style: disc;
        li {
            &::marker {
                color:#68a2d7;
                font-size: 25px;
            }
        }
    }
    .top {
        padding: 25px 0;
        background: white;
        .li {
            margin-right: 12px;
            &:nth-child(1) {
                a {
                    color: #FEBE12;
                }
            }
            &:not(:last-child) {
                a {
                    &:after {
                        content:"|";
                        color:#344BA0;
                        margin-left: 12px;
                    }
                }
            }
            .top-link {
                color:#344BA0;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
    .bot {
        background:#344BA0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px;
            @include screen(1280) {
                justify-content: flex-end;
            }

        }
        .menu-item {
            @include screen(1280) {
                padding: 45px 10px;
                padding-left: 0px;
            }
            &:not(:last-child) {
                margin-right:0;
                @include screen(1200) {
                    margin-right:15px;
                }
                @include screen(1280) {
                    margin-right:35px;
                }
                @include screen(1366) {
                    margin-right: 65px;
                }
                @include screen(1536) {
                    margin-right:90px;
                }
            }
            .menu-link {
                position:relative;
                transition:all 0.3s ease-out;
                color:white;
                font-weight: 500;
                @include screen(1200) {
                    font-size: 18px;
                }
                @include screen(1366) {
                    font-size: 20px;
                }
                // &:before {
                //     content: "\e900";
                //     font-family: "icomoon";
                //     color: #68a2d7;
                //     font-size: 9px;
                //     margin-right: 15px;
                //     position: absolute;
                //     left: -20px;
                //     top: 8px;
                // }
            }
        }
    }
    .logo {
        transition:all 0.2s ease-out;
        z-index: 10;
        position: relative;
        margin-bottom: -40px;
        @include screen(1280) {
            margin-bottom: 0px;
        }
        &-wrapper {
            z-index:50;
            background: white;
            box-shadow: 0px 6px 9px rgb(0 0 0 / 16%);
            padding: 22px 24px;
            @include screen(1280) {
                position: absolute;
                left: -350px;
                top: -125px;
                padding: 44px 44px 44px 37px;
            }
            @include screen(1366) {
                left: -385px;
            }
            @include screen(1440) {
                left: -415px;
            }
            @include screen(1920) {
                left: -468px;
            }
        }
    }
    .menu {
        @include screen(1280) {
            flex: 0 0 770px;
        }
        @include screen(1366) {
            flex: 0 0 880px;
        }
        @include screen(1536) {
            flex: 0 0 950px;
        }
    }
    .toggler {
        @include screen(1280) {
            display:none;
        }
    }
    .cta {
        position: relative;
        &-inner {
            position: absolute;
            top:0;
            right: 14vw;
            min-width: 225px;
            z-index: -2;
        }
        a {
            background: #ED196F;
            color: white;
            font-weight: 600;
            font-size: 20px;
            padding: 25px 50px;
            display:block;
        }
    }
}

.header {
    position: relative;
    background:#344BA0;
    z-index: 10;
}

@include screen(0,1279) {
    .header {
        .top {
            display:none;
        }
        .cta {
            display:none;
        }
        .menu {
            display:none;
        }
        .logo {
            img {
                max-width: 157px;
            }
        }
        .burger {
            cursor: pointer;
            height: 28px;
            width: 34px;
            transform: rotate(180deg);
            transform-origin: center;
            transition-duration: 200ms;
            transition-property: background-color, opacity, transform;
            transition-timing-function: ease-out;
            span {
                transition:all 0.3s ease-out;
                background-color: #68A2D7;
                position: absolute;
                display: block;
                height: 5px;
                width: 34px;
                border-radius: 1.34px;
                &:nth-child(1) {
                    top: calc(50% - 13px);
                }
                &:nth-child(2) {
                    top: calc(50% - 2px);
                }
                &:nth-child(3) {
                    top: calc(50% + 9px);
                }
            }
        }
    }
    .menu-open {
        .burger {
            span {
                &:nth-child(1) {
                    transform: translateY(13px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-9px) rotate(-45deg);
                }
            }
        }
    }
}

.menu {
    &-item {
        &.active {
            .menu-link {
                color:#ED196F;
            }
        }
        &:not(:hover) {
            .dd {
                transform: translateY(-100%);
            }
        }
        &:hover {
            .menu-link {
                &:before {
                    opacity:1;
                }
            }
            .submenu {
                transform: translateY(0);
            }
        }
    }
    &-link {
        transition:all 0.3s ease-out;
        &:after {
            display: block;
            content: attr(data-title);
            font-weight: 700;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
        &:hover {
            color: #ed196f !important;
            font-weight: 700 !important;
        }
    }
}


.submenu {
    transition:all 0.3s ease-out;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    background: #2B2E74;
    z-index: -1;
    transform: translateY(-100%);
    &-wrapper {
        width: 800px;
        display: flex;
        padding: 50px 20px;
        column-gap: 25px;
        @include screen(180) {
            width: 725px;
            margin-left: 32.5vw;
            column-gap: 20px;
        }
        @include screen(1366) {
            width: 840px;
            margin-left: 32vw;
            column-gap: 35px;
        }
        @include screen(1920) {
            column-gap: 95px;
            width: 950px;
            margin-left: 35.66vw;
        }
    }
    &-item {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: 500;
        a {
            color: white;
            font-weight: 400;
            font-size: 16px;
            @include screen(1366) {
                font-size: 20px;
            }
        }
        &:nth-child(1) {
            a {
                font-weight: 600;
            }
        }
    }
    &-separator {
        background:#68A2D7;
        width: 1px;
    }
    &-list {
        min-width: 320px;
    }
}

.mobile-menu {
    transition:all 0.3s ease-out;
    position: absolute;
    left: 0;
    right: 0;
    top: 106px;
    transform: translateX(100%);
    @include screen(1024) {
        display:none;
    }
    &-logo {
        position: absolute;
        top: 17px;
        left: 32px;
        @include screen(1024) {
            display:none;
        }
    }
}

.mmenu {
    &-link {
        color: white;
        font-size: 18px;
        line-height: 1.2;
        display:block;
        padding: 25px 40px;
        flex-grow: 1;
    }
    &-item {
        background: #2B2E74;
        border-top: 1px solid #68A2D7;
        &-holder {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &.alt {
            background:#344BA0;
        }
    }
    &-chevron {
        padding: 25px 40px;
        position: relative;
        width: 21px;
        height: 21px;
        &:before {
            font-family: "icomoon";
            content: "\e901";
            color: #68A2D7;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) rotate(180deg);
        }
    }
}

.menu-open {
    .header .logo {
        opacity:0;
        visibility:hidden;
    }
    .mobile-menu {
        transform: translateX(0);
    }
    
}

html {
    &.menu-open {
        height: 100vh;
        overflow: hidden;
        body {
            height: 100vh;
            overflow: hidden;
        }
    }
}

.mmenu-list {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.mobile-menu {
    overflow: scroll;
    height: calc(100vh - 106px);
    background: #344ba0;
}

.msubmenu {
    background: white;
    transition: all .3s ease-out;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    transform: translateX(100%);
    &-item {
        background:#2B2E74;
        border-top: 1px solid #68a2d7;
        &.return {
            background:#F15822;
            border: none;
            a {
                color:white;
                font-weight: 600;
                position:relative;
                &:after {
                    font-family: "icomoon";
                    content: "\e901";
                    color: white;
                    position: absolute;
                    font-size: 13px;
                    right: 40px;
                    top: 50%;
                    transform: translate(0,-50%) rotate(0deg);
                }
            }
        }
        &.title {
            background: #344ba0;

        }
        a {
            color: #fff;
            font-size: 18px;
            line-height: 1.2;
            display: block;
            padding: 25px 40px;
            flex-grow: 1;
        }
    }
}

.parent {
    &.open {
        .msubmenu {
            transform: translateX(0);
        }
    }
}

.menu-item {
    &.simple {
        @include screen(1024) {
            position:relative;
        }
    }
}

.menu-link {
    &:before {
        transition:all 0.3s ease-out;
        position: absolute;
        content: "";
        right: 0;
        bottom: -45px;
        height: 10px;
        background: #68a2d7;
        opacity: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100px;
        @include screen(1280) {
            width: 125px;
        }
        @include screen(1366) {
            width: 150px;
        }
        @include screen(1536) {
            width: 175px;
        }
    }
}

.dd {
    transition: all .3s ease-out;
    position: absolute;
    top: 110px;
    width: 325px;
    background: #2b2e74;
    transform: translateY(0);
    z-index: -1;
    left:-50%;
    &-wrapper {
        display: flex;
        padding: 35px;
        column-gap: 25px;
    }
    &-item {
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.5px;
        font-weight: 500;
        padding-bottom: 15px;
        a {
            cursor:pointer;
            color: white;
            font-weight: 400;
            font-size: 16px;
            @include screen(1366) {
                font-size: 20px;
            }
        }
        &:not(:first-child) {
            padding-top: 15px;
            border-top: 1px solid #68A2D7;
        }
    }
    &-list {
        width: 100%;
    }
}

.header-modal {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.65);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    .inner {
        position: relative;
        background: white;
        margin: auto;
        max-width: 75vw;
        margin: 15vh auto;
        padding: 25px;
        border-radius: 10px;
        @include screen(1024) {
            max-width: 80vw;
            margin: 5vh auto;
            padding: 35px;
        }
    }
    .top {
        border-bottom: 1px solid rgba(104, 162, 215, 1);
        display:flex;
        gap: 10vw;
        padding-bottom: 50px;
        flex-direction: column;
        @include screen(1024) {
            padding-bottom: 25px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
    .right {
        @include screen(1024) {
            flex: 0 0 362px;
        }
        img {
            @include screen(1024) {
                max-height: 150px;
            }
        }
    }
    .closer {
        position:absolute;
        top: 25px;
        right: 25px;
        cursor:pointer;
        @include screen(1024) {
            top: 50px;
            right: 50px;
        }
        &-inner {
            &:before {
                content: "\e906";
                font-family: "icomoon";
                color:#ED196F;
                font-size: 25px;
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &:not(.active) {
        display:none;
    } 
}

.header-modal {
    h2 {
        color:#ED196F;
        letter-spacing: 1.13px;
    }
    label {
        display:none;
    }
    .wrapper {
        margin: 25px 0;
    }
    input {
        font-family: "Figtree",sans-serif;
        height: 44px;
        box-shadow: 0 6px 9px rgb(0 0 0 / 16%);
        border: none;
        border-radius: 5px;
        color:#2B2E74;
        font-weight: 600;
        outline:none;
        box-sizing: border-box;
        width: 100%;
        padding-left: 30px;
        padding-left: 10px;
        @include screen(1024) {
            padding-left: 30px;
            font-size: 14px;
            height: 50px;
            padding-top: 10px;
        }
        &::placeholder {
            font-size: 10px;
            @include screen(1024) {
                font-size: 16px;
            }
        }
        &[type="submit"] {
            cursor:pointer;
            padding-left: 0;
            box-shadow: none;
            color: white;
            background: #ED196F;
            width: fit-content;
            min-width: 150px;
            @include screen(1024) {
                font-size: 20px;
                padding-top: 0;
                min-width: 325px;
                font-weight: 400;
            }
        }
        &::placeholder {
            font-size: 14px;
            font-family: "Figtree",sans-serif;
            color:#2B2E74;
            font-weight: 600;
            @include screen(1024) {
                font-size: 16px;
            }
        }
    }
    textarea {
        padding-left: 30px;
        padding-top: 15px;
        font-family: "Figtree",sans-serif;
        box-shadow: 0 6px 9px rgb(0 0 0 / 16%);
        border: none;
        border-radius: 5px;
        color:#2B2E74;
        font-weight: 600;
        outline:none;
        width: calc(100% - 30px);
        @include screen(1024) {
            font-size: 16px;
            max-height: 100px;
        }
        &::placeholder {
            font-size: 14px;
            font-family: "Figtree",sans-serif;
            color:#2B2E74;
            font-weight: 600;
            @include screen(1024) {
                font-size: 16px;
            }
        }
    }
    .form-field {
        @include screen(1024) {
            display:flex;
            column-gap: 4vw;
        }
        p {
            @include screen(1024) {
                margin: 10px 0 !important;
            }
        }
        &.half {
            & > div {
                @include screen(1024) {
                    flex: 0 0 calc(50% - 2vw);
                    max-width: calc(50% - 2vw);
                }
            }
        }
        &:not(.half) {
            & > div {
                @include screen(1024) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .wrapper {
        @include screen(1024) {
            padding: 50px;
        }
    }
    .form {
        margin-top: 25px;
        @include screen(1024) {
            margin-top:25px;
        }
        &-submit {
            @include screen(1024) {
                text-align: right;
            }
        }
    }
}

.has-little-boy-blue-color {
    color:#6AA5DB !important;
}

.has-little-boy-blue-background-color {
    background:#6AA5DB !important;
}

.has-polished-pine-color {
    color:#68a690 !important;
}

.has-polished-pine-background-color {
    background:#68a690 !important;
}

.has-razzmatazz-color {
    color:#ed196f !important;
}

.has-razzmatazz-background-color {
    background:#ed196f !important;
}

.has-mikado-yellow-color {
    color:#febe12 !important;
}

.has-mikado-yellow-background-color {
    background:#febe12 !important;
}

.has-text-color {
    * {
        color:inherit !important;
    }
}

.language-switcher {
    position: relative;
    .chev {
        position:relative;
        &:after {
            content: "\e902";
            font-family: "icomoon";
            color: #344ba0;
            transform: rotate(30deg);
            top: 0px;
            right: -20px;
            position: absolute;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            background: rgba(104, 162, 215, 1);
            height: 5px;
            width: 100%;
            top: 40px;
            transition:all 0.3s ease-out;
            opacity:1;
        }
    }
    .inner {
        transition:all 0.3s ease-out;
        position: absolute;
        z-index: 10;
        background: white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 12px 18px;
        width: max-content;
        left: -60px;
        top: 45px;
        &:before {
            content: "";
            left: 0;
            right: 0;
            height: 100px;
            display: block;
            position: absolute;
            top: -30px;
        }
    }
    &:not(:hover) {
        .inner {
            opacity:0;
            visibility: hidden;
        }
        .chev {
            &:before {
                opacity:0;
            }
        }
    }
    .li {

    }
    li + li {
        border-top: 1px solid #68A2D7;
    }
    .wpml-ls-link {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 0px;
        position: relative;
        padding-right: 40px;
        &:after {
            content: "";
            height: 30px;
            width: 30px;
            display: block;
            position: absolute;
            top: 6px;
            right: 0;
        }
    }
    .wpml-ls-item {
        &-en {
            a:after {
                background:url('/wp-content/themes/aspirico/blocks/theme-header/uk.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &-en-au {
            a:after {
                background:url('/wp-content/themes/aspirico/blocks/theme-header/au.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &-en-ie {
            a:after {
                background:url('/wp-content/themes/aspirico/blocks/theme-header/ie.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

.lang-switcher {
    .wpml-ls-legacy-list-vertical {
        display:block;
        .wpml-ls-link {
            &:after {
                content: "";
                height: 50px;
                width: 50px;
                display: block;
                position: absolute;
                top: 14px;
                right: 30px;
            }
        }
        .wpml-ls-item {
            background: #2b2e74;
            position: relative;
            &-en {
                a:after {
                    background:url('/wp-content/themes/aspirico/blocks/theme-header/uk.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            &-en-au {
                a:after {
                    background:url('/wp-content/themes/aspirico/blocks/theme-header/au.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            &-en-ie {
                a:after {
                    background:url('/wp-content/themes/aspirico/blocks/theme-header/ie.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .wpml-ls-item + .wpml-ls-item {
            border-top: 1px solid #68a2d7;
        }
        a {
            color: #fff;
            font-size: 18px;
            line-height: 1.2;
            display: block;
            padding: 25px 40px;
        }
    }
}