{% extends "block-base.twig" %}

{% block content %}
<header class="header {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">
            <ul class="top-list">
                {% for item in header_secondary_menu.get_items %}
                    <li class="li">
                        <a class="top-link" href="{{item.url}}">{{item.title}}</a>                        
                    </li>
                {% endfor %}
                    <li class="language-switcher li">
                        <a class="chev top-link" href="{{item.url}}">Country</a>
                        <div class="inner">
                            <div>{{fn('do_action', 'wpml_add_language_selector')}}</div>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
    <div class="bot">
        <div class="container">
            <div class="logo">
                <div class="logo-wrapper">
                    <a href="/">
                        <img width="282" height="185" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-header/aspirico-logo.png" alt="aspirico logo">
                    </a>
                </div>
            </div>
            <div class="menu">
                <ul class="menu-list">
                {% for item in header_primary_menu.get_items %}
                    <li class="menu-item {% if not item.meta('mega_menu') %}simple{% endif %}">
                        <a class="menu-link" data-title="{{item.title}}" href="{{item.url}}">{{item.title}}</a>
                    {% if item.children %}
                    {% if not item.meta('mega_menu') %}
                    <div class="dd">
                        <div class="dd-wrapper">
                            <ul class="dd-list">
                            {% for child in item.children %}
                                <li class="dd-item"><a href="{{child.url}}" target="{{child.target}}">{{child.title}}</a></li>
                            {% endfor %}
                            </ul>        
                        </div>
                    </div>
                    {% else %}
                    <div class="submenu">
                        <div class="submenu-wrapper">
                            {% for child in item.children %}
                            <ul class="submenu-list">
                                <li class="submenu-item title"><a >{{child.title}}</a></li>
                                {% for grandchild in child.children %}
                                    <li class="submenu-item title"><a href="{{grandchild.url}}">{{grandchild.title}}</a></li>
                                {% endfor %}
                            </ul>

                            {% if loop.index is odd %}
                            <div class="submenu-separator"></div>
                            {% endif %}
                            
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="cta hide-desktop hide-mobile">
                <div class="cta-inner">
                    <a href="#">Book A Demo</a>
                </div>
            </div>
            <div class="toggler">
                <div class="mtoggler burger hide-desktop" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');resetMenu();">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="mobile-menu-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="68.657" height="61.593" viewBox="0 0 68.657 61.593">
                <g id="Group_14466" data-name="Group 14466" transform="translate(12955.198 -16808.605)">
                    <path id="Path_74944" data-name="Path 74944" d="M166.945,35.006a34.641,34.641,0,0,0-.271-4.331,34.332,34.332,0,0,1-68.114,0,34.33,34.33,0,1,0,68.386,4.331" transform="translate(-13053.486 16800.863)" fill="#fff"/>
                    <path id="Path_74945" data-name="Path 74945" d="M160.312,2.142A24.949,24.949,0,0,0,157.859,0a24.686,24.686,0,0,1-34.607,34.609,24.689,24.689,0,1,0,37.06-32.466" transform="translate(-13059.785 16808.605)" fill="#fff"/>
                    <path id="Path_74946" data-name="Path 74946" d="M155,21.233a17.544,17.544,0,0,0-.138-2.166,17.492,17.492,0,0,1-34.715,0A17.494,17.494,0,1,0,155,21.233" transform="translate(-13058.967 16803.795)" fill="#fff"/>
                    <path id="Path_74947" data-name="Path 74947" d="M145.7,30.771a3.468,3.468,0,1,1-3.468-3.468,3.468,3.468,0,0,1,3.468,3.468" transform="translate(-13063.699 16801.715)" fill="#fff"/>
                    <path id="Path_74948" data-name="Path 74948" d="M113.158,26.913a20.015,20.015,0,0,1,.967-22.867,12.978,12.978,0,0,0-.967,22.867" transform="translate(-13055.629 16807.584)" fill="#fff"/>
                </g>
            </svg>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="mobile-menu-wrapper">
            <ul class="mmenu-list">
            {% for item in header_primary_menu.get_items %}          
                <li class="mmenu-item {% if item.children %}parent{% endif %}">
                    {% if item.children %}
                    <div class="mmenu-item-holder">
                        <a class="mmenu-link" href="{{item.url}}">{{item.title}}</a>
                        <div class="mmenu-chevron" onclick="toggleSubmenu(this)"></div>
                    </div>
                    {% else %}
                    <a class="mmenu-link" href="{{item.url}}">{{item.title}}</a>
                    {% endif %}
                {% if item.children %}
                {% if item.meta('mega_menu') %}
                <div class="msubmenu">
                    <div class="msubmenu-wrapper">
                        {% for child in item.children %}
                            {% if loop.first %}
                        <ul class="msubmenu-list">
                            <li class="msubmenu-item return"><a href="javascript:void(0)" onclick="closeSubmenu(this)">Return</a></li>
                        </ul>
                            {% endif %}
                        <ul class="msubmenu-list">
                            <li class="msubmenu-item title"><a href="{{child.url}}">{{child.title}}</a></li>
                            {% for grandchild in child.children %}
                                <li class="msubmenu-item"><a href="{{grandchild.url}}">{{grandchild.title}}</a></li>
                            {% endfor %}
                        </ul>
                        {% if loop.index is odd %}
                        <div class="msubmenu-separator"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="msubmenu">
                    <div class="msubmenu-wrapper">
                        {% for child in item.children %}
                            {% if loop.first %}
                        <ul class="msubmenu-list">
                            <li class="msubmenu-item return"><a href="javascript:void(0)" onclick="closeSubmenu(this)">Return</a></li>
                        </ul>
                            {% endif %}
                        <ul class="msubmenu-list">
                            <li class="msubmenu-item"><a href="{{child.url}}" target="{{child.target}}">{{child.title}}</a></li>
                        </ul>
                        {% if loop.index is odd %}
                        <div class="msubmenu-separator"></div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endif %}
                </li>
            {% endfor %}
            {% for item in header_secondary_menu.get_items %}
                <li class="mmenu-item alt">
                    <a class="mmenu-link alt" href="{{item.url}}">{{item.title}}</a>
                </li>
            {% endfor %}
                <li class="mmenu-item alt parent lang-switcher">
                    <div class="mmenu-item-holder">
                        <a class="mmenu-link" href="#" onclick="toggleLanguageSwitcher();">Country</a>
                        <div class="mmenu-chevron" onclick="toggleLanguageSwitcher();"></div>
                    </div>
                    <div class="msubmenu">
                        <div class="msubmenu-wrapper">
                            <ul class="msubmenu-list">
                                <li class="msubmenu-item return"><a href="javascript:void(0)" onclick="toggleLanguageSwitcher();">Country</a></li>
                            </ul>
                            <ul class="msubmenu-list">
                                <li class="msubmenu-item"><a href="#" target="#">Itrlsnf</a></li>
                            </ul>
                            <div class="msubmenu-separator"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="cta">
        <div class="cta-inner" onclick="toggleHeaderModal();">
            <a href="#">Book A Demo</a>
        </div>
    </div>
</header>
<div class="header-modal" id="header-modal">
    <div class="inner">
        <div class="top">
            <div class="left">
                <h1>Book a Demo</h1>
                <p>Fill-in the form below and we’ll get back to you to arrange a date and time.</p>
            </div>
            <div class="right">
                <img src="/wp-content/themes/aspirico/blocks/theme-header/modal.png" alt="iplanit logo">
            </div>
        </div>
        <div class="form">
            [contact-form-7 id="780" title="Contact form 2"]
        </div>
        <div class="closer">
            <div class="closer-inner" onclick="toggleHeaderModal();"></div>
        </div>
    </div>
</div>
<script>
function toggleLanguageSwitcher() {
    document.querySelector('.lang-switcher').classList.toggle('open');
}
function toggleHeaderModal() {
    document.querySelector('#header-modal').classList.toggle('active');
}

function toggleSubmenu(e) {
    e.parentNode.parentNode.classList.add('open');
    console.log(e.parentNode.parentNode);
}

function closeSubmenu(e) {
    console.log(e.parentNode.parentNode.parentNode.parentNode.parentNode);
    e.parentNode.parentNode.parentNode.parentNode.parentNode.classList.remove('open');
}

</script>
{% endblock %}
