.flex-with-background {
  padding: 50px;
  padding-top: 150px;
  background: linear-gradient(0deg, rgb(104, 162, 215) 0%, rgb(83, 125, 191) 100%);
  margin-top: -100px;
  z-index: -1;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .flex-with-background {
    padding: 150px 0;
    padding-top: 250px;
    margin-top: -135px;
    z-index: -1;
    position: relative;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-with-background .wrapper {
    flex-direction: row;
  }
}
.flex-with-background .flex {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1280px) {
  .flex-with-background .flex {
    margin-bottom: 0px;
  }
}
.flex-with-background .wp-block-image {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1280px) {
  .flex-with-background .wp-block-image .wrapper {
    margin-bottom: 60px;
  }
}
.flex-with-background .wp-block-buttons {
  margin-top: 30px;
}
@media only screen and (min-width: 1280px) {
  .flex-with-background .wp-block-buttons {
    margin-top: 40px;
  }
}
.flex-with-background img {
  max-width: 100%;
  height: auto;
}
.flex-with-background h2 {
  color: #2B2E74;
  margin-bottom: 25px;
}
.flex-with-background p {
  color: white;
  font-weight: 400;
}

block-preview section {
  z-index: 1 !important;
}

/*# sourceMappingURL=style.css.map */
