@import "mixins.scss";

.flex-with-background {
    padding: 50px;
    padding-top: 150px;
    background: linear-gradient(0deg, rgba(104,162,215,1) 0%, rgba(83,125,191,1) 100%);
    margin-top: -100px;
    z-index: -1;
    position: relative;
    @include screen(1024) {
        padding: 150px 0;
        padding-top: 250px;
        margin-top: -135px;
        z-index: -1;
        position: relative;
    }
    .wrapper {
        @include screen(1280) {
            flex-direction: row;
        }
    }
    .flex {
        margin-bottom: 25px;
        @include screen(1280) {
            margin-bottom: 0px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
        .wrapper {
            @include screen(1280) {
                margin-bottom:60px;
            }
        }
    }
    .wp-block-buttons {
        margin-top:30px;
        @include screen(1280) {
            margin-top:40px;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    h2 {
        color:#2B2E74;
        margin-bottom: 25px;
    }
    p {
        color:white;
        font-weight: 400;
    }
}

block-preview {
    section {
        z-index: 1 !important;
    }
}