@import "mixins.scss";

@import "mixins.scss";

.book-a-demo {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left svg {
        max-width: 100%;
    }
    .left {
        flex:0 0 40%;
        max-width: 40%;
    }
    .right {
        flex:0 0 50%;
        max-width: 50%;
        padding: 50px 0;
    }
    .wp-block-button__link {
        min-width: 179px;
        padding: 17px;
        font-size: 13px;
        min-width: 80px;
        padding: 11px;
        display: block;
        width: fit-content;
        text-align: center;
        @include screen(1280) {
            min-width: 179px;
            padding: 17px;
            font-size: 16px;
        }
    }
    .input {
        input {
            outline: none;
            border: 1px solid rgba(218, 218, 218, 1);
            border-radius: 3px;
            color: rgba(43, 46, 116, 1);
            font-weight: 700;
            padding-left: 15px;
            font-size: 16px;
            height: 32px;
            width: 145px;
            @include screen(1280) {
                height: 79px;
                min-width: 300px;
                border-radius: 6px;
                padding-left: 35px;
            }
            &::placeholder {
                color: rgba(43, 46, 116, 1);
            }
        }
    }
    .form {
        margin-top:40px;
        .fields {
            &:nth-child(1) {
                display:flex;
                justify-content: space-between;
                gap: 35px;
            }
            &:not(:first-child) {
                input {
                    width: 100%;
                }
            }
            & + .fields {
                margin-top:35px;
            }
        }
        .submit {
            margin-top:35px;
        }
    }
}