.book-a-demo .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-a-demo .left svg {
  max-width: 100%;
}
.book-a-demo .left {
  flex: 0 0 40%;
  max-width: 40%;
}
.book-a-demo .right {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 50px 0;
}
.book-a-demo .wp-block-button__link {
  min-width: 179px;
  padding: 17px;
  font-size: 13px;
  min-width: 80px;
  padding: 11px;
  display: block;
  width: fit-content;
  text-align: center;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo .wp-block-button__link {
    min-width: 179px;
    padding: 17px;
    font-size: 16px;
  }
}
.book-a-demo .input input {
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 3px;
  color: rgb(43, 46, 116);
  font-weight: 700;
  padding-left: 15px;
  font-size: 16px;
  height: 32px;
  width: 145px;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo .input input {
    height: 79px;
    min-width: 300px;
    border-radius: 6px;
    padding-left: 35px;
  }
}
.book-a-demo .input input::placeholder {
  color: rgb(43, 46, 116);
}
.book-a-demo .form {
  margin-top: 40px;
}
.book-a-demo .form .fields:nth-child(1) {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.book-a-demo .form .fields:not(:first-child) input {
  width: 100%;
}
.book-a-demo .form .fields + .fields {
  margin-top: 35px;
}
.book-a-demo .form .submit {
  margin-top: 35px;
}

/*# sourceMappingURL=style.css.map */
