.testimonial-slider {
  padding: 50px 0;
  position: relative;
}
.testimonial-slider:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/aspirico/blocks/testimonial-slider/bg.png");
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
  background-size: 200%;
  z-index: -1;
  height: 1000px;
}
@media only screen and (min-width: 1024px) {
  .testimonial-slider:before {
    background-size: contain;
    height: 1500px;
  }
}
@media only screen and (min-width: 1366px) {
  .testimonial-slider:before {
    height: 2000px;
  }
}
.testimonial-slider .flex {
  margin: 0 50px;
}
@media only screen and (min-width: 768px) {
  .testimonial-slider .flex {
    margin: 0;
    margin-bottom: 25px;
  }
}
.testimonial-slider .items {
  margin-top: 25px;
}
@media only screen and (min-width: 1024px) {
  .testimonial-slider ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.testimonial-slider .testimonials {
  margin: 50px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .testimonial-slider .testimonials {
    margin: 0px;
    margin-top: 100px;
  }
}
.testimonial-slider .controls .control:before {
  color: #68a2d7;
  cursor: pointer;
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .testimonial-slider .controls .control:before {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .testimonial-slider .controls .control:before {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1366px) {
  .testimonial-slider .controls .control:before {
    font-size: 38px;
  }
}
.testimonial-slider .controls .control.prev:before {
  content: "\e901";
  transform: translate(-50%, -50%);
  left: -25px;
}
.testimonial-slider .controls .control.next:before {
  content: "\e901";
  right: 0;
  transform: translate(-50%, -50%) rotate(180deg);
  right: -30px;
}
.testimonial-slider .testimonial {
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 25px;
  width: 100%;
  max-width: 928px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .testimonial-slider .testimonial {
    margin: auto;
    padding: 4px;
    border-radius: 7px;
  }
}
@media only screen and (min-width: 1280px) {
  .testimonial-slider .testimonial {
    border-radius: 10px;
    padding: 9vh 3.5vw;
  }
}
@media only screen and (min-width: 1366px) {
  .testimonial-slider .testimonial {
    border-radius: 15px;
    padding: 9vh 4.5vw;
  }
}
.testimonial-slider .testimonial .content {
  font-weight: 400;
}
.testimonial-slider .testimonial .name {
  color: rgb(104, 166, 144);
  font-weight: 600;
  margin-bottom: 10px;
}
.testimonial-slider .testimonial .logo-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial-slider .testimonial .link a {
  color: #ED196F;
  font-weight: 500;
}
.testimonial-slider .testimonial .logo {
  text-align: right;
}
@media only screen and (max-width: 1024px) {
  .testimonial-slider .testimonial .logo {
    max-width: 111px;
    display: block;
    margin-left: auto;
    margin-top: 15px;
  }
}
.testimonial-slider h2 {
  color: #344BA0;
}
.testimonial-slider.yellow h2 {
  color: rgb(254, 190, 18) !important;
}
.testimonial-slider .tns-ovh {
  padding-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
