@import "mixins.scss";

.testimonial-slider {
    padding: 50px 0;
    position:relative;
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:url('/wp-content/themes/aspirico/blocks/testimonial-slider/bg.png');
        background-repeat: no-repeat;
        background-position: right;
        z-index: -1;
        background-size: 200%;
        z-index: -1;
        height: 1000px;
        @include screen(1024) {
            background-size: contain;
            height: 1500px;
        }
        @include screen(1366) {
            height: 2000px;
        }
    }
    .flex {
        margin: 0 50px;
        @include screen(768) {
            margin: 0;
            margin-bottom: 25px;
        }
    }
    .wrapper {
    }
    .items {
        margin-top:25px;
    }
    // ul {
    //     display:flex;
    //     flex-wrap: wrap;
    //     gap:30px;
    // }
    li {
    }
    .testimonials {
        margin: 50px;
        position: relative;
        @include screen(768) {
            margin: 0px;
            margin-top:100px;
        }
    }
    .controls {
        .control {
            &:before {
                color: #68a2d7;
                cursor:pointer;
                font-family: "icomoon";
                position: absolute;
                top: 50%;
                font-size: 16px;
                @include screen(768) {
                    font-size: 25px;
                }
                @include screen(1280) {
                    font-size: 30px;
                }
                @include screen(1366) {
                    font-size: 38px;
                }
            }
            &.prev {
                &:before {
                    content: "\e901";
                    transform: translate(-50%,-50%);
                    left: -25px;
                }
            }
            &.next {
                &:before {
                    content: "\e901";
                    right: 0;
                    transform: translate(-50%,-50%) rotate(180deg);
                    right: -30px;
                }
            }

        }
    }
    .testimonial {
        background:white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        padding: 25px;
        max-width: 328px;
        @include screen(768) {
            margin: auto;
            padding: 4px;
            border-radius: 7px;
        }
        @include screen(1280) {
            border-radius: 10px;
            padding: 9vh 3.5vw;
        }
        @include screen(1366) {
            border-radius: 15px;
            padding: 9vh 4.5vw;
            max-width: 928px;
        }
        .content {
            font-weight:400;
        }
        .name {
            color:rgba(104, 166, 144, 1);
            font-weight: 600;
            margin-bottom: 10px;
        }
        .logo-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .link {
            a {
                color:#ED196F;
                font-weight: 500;
            }
        }
        .logo {
            text-align:right;
            @include screen(0, 1024) {
                max-width: 111px;
                display: block;
                margin-left: auto;
                margin-top: 15px;
            }
        }
    }
    h2 {
        color: #344BA0;
    }
    &.yellow {
        h2 {
            color:rgba(254, 190, 18, 1) !important;
        }
    }
    .tns-ovh {
        padding-bottom: 25px;
    }
}
