{% extends "block-base.twig" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="testimonials">
                <ul>
                    {% for item in fields.content.items %}
                        <li class="testimonial">
                            <div class="content">{{item.content}}</div>
                            <div class="name">{{item.name}}</div>
                            <div class="position">{{item.position}}</div>
                            <div class="logo-link">
                            <div class="link">
                            {% if item.link.title|length > 1  %}
                                <a href="{{item.link.url}}" target="{{item.link.target}}">{{item.link.title}}</a>
                            {% endif %}
                            </div>
                                <div class="logo">{{imageElement(item.logo)}}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="controls">
                    <div class="control prev"></div>
                    <div class="control next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  var testimonials = tns({
    container: '.testimonials ul',
    center:true,
    items: 1,
    slideBy: 1,
    loop:true,
    autoplay: false,
    nav: false,
    controlsContainer: '.testimonial-slider .controls',
    autoplayButtonOutput: false,
    mouseDrag:true,
    responsive: {
        1280: {
        }
    }

  });
  </script>
{% endblock %}
