.flex-full {
  padding: 0 50px;
}
@media only screen and (min-width: 1024px) {
  .flex-full {
    padding: 25px 50px;
  }
}
.flex-full .flex {
  margin-bottom: 25px;
}
.flex-full .wp-block-image {
  margin-bottom: 30px;
}
.flex-full .wp-block-buttons {
  margin-top: 30px;
}
.flex-full img {
  max-width: 100%;
  height: auto;
}
.flex-full h1 {
  letter-spacing: 0.63px;
  text-transform: capitalize;
}
.flex-full h1 em {
  color: #FEBE12;
}
.flex-full.is-style-home {
  padding: 25px 0;
  background: url("/wp-content/themes/aspirico/blocks/flex-full/bg-one.png");
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 50vw;
}
@media only screen and (min-width: 1280px) {
  .flex-full.is-style-home {
    padding: 100px 0;
  }
}
.flex-full.is-style-home h1 {
  padding: 0 25px;
}
.flex-full.is-style-home p {
  padding: 0 50px;
}
.flex-full.is-style-home .wp-block-image {
  max-width: 120px;
  margin: 25px auto;
}
@media only screen and (min-width: 1280px) {
  .flex-full.is-style-home .wp-block-image {
    max-width: 100%;
    margin-bottom: 60px;
  }
}
.flex-full.yellow h2 {
  color: rgb(254, 190, 18);
}
.flex-full.sector {
  padding: 50px;
}
@media only screen and (min-width: 1200px) {
  .flex-full.sector {
    padding: 100px 0;
  }
}
.flex-full.sector h2 {
  color: rgb(104, 162, 215);
}
.flex-full.sector .wp-block-image {
  margin-top: 75px;
}

@media only screen and (min-width: 1280px) {
  .flex-full .wrapper {
    flex-direction: row;
  }
  .flex-full .wp-block-image {
    margin-bottom: 60px;
  }
  .flex-full .wp-block-buttons {
    margin-top: 40px;
  }
  .flex-full .flex {
    margin-bottom: 0px;
  }
  .flex-full ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
