.single-white-paper h1,
.single-white-paper h2,
.single-white-paper h3,
.single-white-paper h4,
.single-white-paper h5 {
  color: rgb(104, 166, 144);
  margin: 1em 0;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .container {
    max-width: 80vw;
  }
}
@media only screen and (min-width: 1366px) {
  .single-white-paper .container {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1920px) {
  .single-white-paper .container {
    max-width: 62.5vw;
  }
}
.single-white-paper .featured {
  margin: 40px 0;
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .featured {
    padding: 0;
    margin: 75px 0;
  }
}
.single-white-paper .hero {
  padding: 0 50px;
  padding-top: 50px;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .hero {
    padding: 0;
    padding-top: 100px;
  }
}
.single-white-paper .hero h1 {
  color: rgb(43, 46, 116);
  margin-bottom: 0.25em;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .hero .inner {
    display: flex;
    gap: 60px;
  }
}
@media only screen and (min-width: 1366px) {
  .single-white-paper .hero .inner {
    gap: 90px;
  }
}
@media only screen and (min-width: 1536px) {
  .single-white-paper .hero .inner {
    gap: 120px;
  }
}
.single-white-paper .hero .post-details {
  display: inline-flex;
}
.single-white-paper .hero .post-details li {
  font-weight: 500;
  color: rgb(104, 162, 215);
}
.single-white-paper .hero .post-details li:not(:first-child):before {
  content: "|";
  margin: 0 5px;
}
.single-white-paper .post-content {
  padding: 0 50px;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .post-content {
    padding: 0;
  }
}
.single-white-paper .post-credits {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .post-credits {
    padding: 0;
  }
}
.single-white-paper .post-credits .inner {
  background: rgba(43, 46, 116, 0.05);
  padding: 25px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-end;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .post-credits .inner {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 60px 50px;
    gap: 60px;
  }
}
.single-white-paper .post-credits h3 {
  color: rgb(43, 46, 116);
}
.single-white-paper .post-credits .profile-image {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  height: 125px;
  width: 125px;
  flex: 0 0 125px;
}
.single-white-paper .post-credits .profile-image img {
  height: 125px;
  width: 125px;
  object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .post-credits .profile-image img {
    height: 350px;
    width: 350px;
  }
}
@media only screen and (min-width: 1024px) {
  .single-white-paper .post-credits .profile-image {
    height: 350px;
    width: 350px;
    flex: 0 0 350px;
  }
}
.single-white-paper .post-credits .post-info.full {
  flex: 0 0 100%;
}
.single-white-paper .post-credits .bio {
  font-weight: 500;
  line-height: 28px;
}
.single-white-paper .post-content ul,
.single-white-paper .post-content ol {
  padding-left: 20px;
  margin: 20px 0;
}
.single-white-paper .post-content ul {
  list-style: disc;
}
.single-white-paper .post-content ol {
  list-style: decimal;
}
.single-white-paper .post-content li {
  line-height: 1.5;
  font-weight: 500;
}
.single-white-paper .post-content em {
  font-style: italic;
}
.single-white-paper .post-content a {
  text-decoration: underline;
  color: #68a2d7;
}

/*# sourceMappingURL=style.css.map */
