.interactive-wheel {
  padding: 100px 0;
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel {
    padding: 375px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .shape {
    height: 225px !important;
    width: 225px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .shape svg {
    height: 225px !important;
    width: 225px !important;
  }
}
.interactive-wheel .shape:hover svg {
  fill: blue;
}
.interactive-wheel .wheel {
  position: relative;
  width: fit-content;
  margin: auto;
}
.interactive-wheel .wheel .slice svg {
  display: block;
  width: 114.538px;
  height: 113.325px;
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .wheel .slice svg {
    height: 225px !important;
    width: 225px !important;
  }
}
.interactive-wheel .wheel .slice svg #Path_206211,
.interactive-wheel .wheel .slice svg #Path_206215,
.interactive-wheel .wheel .slice svg .st0,
.interactive-wheel .wheel .slice svg .cls-1 {
  transition: all 0.45s ease-out;
  opacity: 0.05;
}
.interactive-wheel .wheel .slice:hover svg #Path_206211,
.interactive-wheel .wheel .slice:hover svg #Path_206215,
.interactive-wheel .wheel .slice:hover svg .st0,
.interactive-wheel .wheel .slice:hover svg .cls-1, .interactive-wheel .wheel .slice.active svg #Path_206211,
.interactive-wheel .wheel .slice.active svg #Path_206215,
.interactive-wheel .wheel .slice.active svg .st0,
.interactive-wheel .wheel .slice.active svg .cls-1 {
  opacity: 1;
}
.interactive-wheel .wheel .top {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .wheel .top {
    gap: 13px;
    margin-bottom: 13px;
  }
}
.interactive-wheel .wheel .bot {
  display: flex;
  gap: 5px;
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .wheel .bot {
    gap: 13px;
  }
}
.interactive-wheel .wheel .bot .shape {
  width: 114.538px;
  height: 113.325px;
  position: relative;
}
.interactive-wheel .wheel .center {
  pointer-events: none;
}
.interactive-wheel .wheel .center-top {
  position: absolute;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .wheel .center-top {
    top: 52%;
    height: 179px;
    width: 179px;
  }
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .wheel .center-top svg {
    height: 179px;
    width: 179px;
  }
}
.interactive-wheel .wheel .center-bot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .wheel .center-bot {
    top: 55%;
    left: 51%;
    height: 67px;
    width: 120px;
  }
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .wheel .center-bot svg {
    height: 67px;
    width: 120px;
  }
}
.interactive-wheel .slice {
  cursor: pointer;
}
.interactive-wheel .slice-content {
  transition: all 0.3s ease-out;
  border-radius: 9px;
  border: 1px solid #429DD4;
  padding: 5px;
  margin: 5px;
  max-width: 725px;
  background: white;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.16);
}
@media only screen and (min-width: 360px) {
  .interactive-wheel .slice-content {
    padding: 15px;
    margin: 15px;
  }
}
@media only screen and (min-width: 430px) {
  .interactive-wheel .slice-content {
    padding: 25px;
    margin: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .slice-content {
    position: absolute;
    width: 500px;
  }
}
@media only screen and (min-width: 1920px) {
  .interactive-wheel .slice-content {
    width: 725px;
  }
}
.interactive-wheel .slice-content:not(.active) {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .slice-content:not(.active) {
    display: block;
  }
}
.interactive-wheel .slice-header {
  text-align: center;
  border-bottom: 1px solid rgba(75, 146, 207, 0.5);
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.interactive-wheel .slice-header h2 {
  line-height: 1;
  font-weight: 400;
  color: #537DBF;
}
@media only screen and (min-width: 1024px) and (max-width: 1919px) {
  .interactive-wheel .slice-header h2 {
    font-size: 35px;
    line-height: 45px;
  }
}
.interactive-wheel .slice-header strong {
  color: #2B2E74;
}
.interactive-wheel .slice-header p {
  color: #537DBF;
  margin: 5px 0;
}
.interactive-wheel .slice-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.interactive-wheel .slice-item {
  flex: 0 0 calc(33.3333333333% - 2px);
  max-width: calc(33.3333333333% - 2px);
  text-align: center;
  padding: 15px 5px;
  box-sizing: border-box;
}
.interactive-wheel .slice-item img {
  height: 75px;
  width: 75px;
}
@media only screen and (min-width: 1920px) {
  .interactive-wheel .slice-item img {
    height: 120px;
    width: 120px;
  }
}
.interactive-wheel .slice-item-label {
  color: rgb(43, 46, 116);
  max-width: 80%;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .slice-item-label {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  .interactive-wheel .slice-item-label {
    font-size: 20px;
  }
}
.interactive-wheel .slice-item:nth-child(1) {
  border-right: 1px solid rgba(75, 146, 207, 0.5);
  border-bottom: 1px solid rgba(75, 146, 207, 0.5);
}
.interactive-wheel .slice-item:nth-child(2) {
  border-right: 1px solid rgba(75, 146, 207, 0.5);
  border-bottom: 1px solid rgba(75, 146, 207, 0.5);
}
.interactive-wheel .slice-item:nth-child(3) {
  border-bottom: 1px solid rgba(75, 146, 207, 0.5);
}
.interactive-wheel .slice-item:nth-child(4) {
  border-right: 1px solid rgba(75, 146, 207, 0.5);
}
.interactive-wheel .slice-item:nth-child(5) {
  border-right: 1px solid rgba(75, 146, 207, 0.5);
}
.interactive-wheel .slice-inner {
  position: relative;
}
.interactive-wheel .slice-closer {
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 50px;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .slice-closer {
    display: none;
  }
}
.interactive-wheel .slice-closer:before {
  font-family: "icomoon";
  content: "\e906";
  color: #537dbf;
  font-size: 24px;
  line-height: 50px;
  vertical-align: middle;
}
@media only screen and (max-width: 1023px) {
  .interactive-wheel .slice:not(.active) .slice-content {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .interactive-wheel .slice:not(.active) .slice-content {
    visibility: hidden;
    opacity: 0;
  }
}
.interactive-wheel .top .slice:nth-child(1) .slice-content {
  top: -247px;
  left: -352px;
}
@media only screen and (min-width: 1920px) {
  .interactive-wheel .top .slice:nth-child(1) .slice-content {
    top: -333px;
    left: -577px;
  }
}
.interactive-wheel .top .slice:nth-child(2) .slice-content {
  top: -247px;
  right: -352px;
}
@media only screen and (min-width: 1920px) {
  .interactive-wheel .top .slice:nth-child(2) .slice-content {
    top: -353px;
    right: -577px;
  }
}
.interactive-wheel .bot .slice-header p {
  color: #5B967C;
}
.interactive-wheel .bot .slice:nth-child(1) .slice-content {
  bottom: -263px;
  left: -353px;
}
@media only screen and (min-width: 1920px) {
  .interactive-wheel .bot .slice:nth-child(1) .slice-content {
    bottom: -353px;
    left: -578px;
  }
}
.interactive-wheel .bot .slice:nth-child(2) .slice-content {
  bottom: -231px;
  right: -353px;
}
@media only screen and (min-width: 1920px) {
  .interactive-wheel .bot .slice:nth-child(2) .slice-content {
    bottom: -313px;
    right: -578px;
  }
}

.legend {
  display: flex;
  gap: 17px;
  align-items: center;
  max-width: 80%;
  margin: 10px auto;
}

/*# sourceMappingURL=style.css.map */
