@import "mixins.scss";


.interactive-wheel {
    padding:100px 0;
    @include screen(1024) {
        padding: 375px 0;
    }
    .shape {
        @include screen(1024) {
            height: 225px !important;;
            width: 225px !important;;
        }
        svg {
            @include screen(1024) {
                height: 225px !important;
                width: 225px !important;;
            }
        }
        &:hover {
            svg {
                fill:blue;
            }
        }
    }
    .wheel {
        position: relative;
        width: fit-content;
        margin: auto;
        .top {
            display: flex;
            gap: 5px;
            margin-bottom: 5px;
            @include screen(1024) {
                gap: 13px;
                margin-bottom: 13px;
            }
        }
        .bot {
            display: flex;
            gap: 5px;
            @include screen(1024) {
                gap: 13px;
            }
            .slice {
                &.left {
                    .shape svg {
                        position: absolute;
                        transform: rotate(270deg);
                    }
                }
                &.right {
                    .shape svg {
                        position: absolute;
                        transform: rotate(90deg);
                    }
                }
            }
            .shape {
                width: 114.538px;
                height: 113.325px;
                position: relative;
            }
        }
        .center {
            pointer-events: none;
            &-top {
                position: absolute;
                top: 53%;
                left: 53%;
                transform: translate(-50%, -50%);
                @include screen(1024) {
                    top: 52%;
                    height: 179px;
                    width: 179px;
                }
                svg {
                    @include screen(1024) {
                        height: 179px;
                        width: 179px;
                    }
                }
            }
            &-bot {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include screen(1024) {
                    top: 55%;
                    left: 51%;
                    height: 67px;
                    width: 120px;
                }
                svg {
                    @include screen(1024) {
                        height: 67px;
                        width: 120px;
                    }
                }
            }
        }
    }
    .slice {
        cursor:pointer;
        &-content {
            transition: all 0.3s ease-out;
            border-radius: 9px;
            border: 1px solid #429DD4;
            padding: 25px;
            margin: 25px;
            max-width: 725px;
            background:white;
            box-shadow: 0 6px 9px rgb(0 0 0 / 16%);
            @include screen(1024) {
                position:absolute;
                width:725px;
            }
            &:not(.mobile) {
                display:none;
                @include screen(1024) {
                    display:block;
   
                }
            }
        }
        &-header {
            text-align: center;
            border-bottom: 1px solid rgba(75, 146, 207, 0.5);
            margin-bottom: 20px;
            padding-bottom: 10px;
            h2 {
                line-height: 1;
                font-weight: 400;
                color:#537DBF;
            }
            strong {
                color:#2B2E74;
            }
            p {
                color:#537DBF;
                margin: 5px 0;
            }
        }
        &-items {
            display: flex;
            flex-wrap:wrap;
            justify-content: center;
        }
        &-item {
            flex: 0 0 calc((100% / 3) - 2px );
            max-width: calc((100% / 3) - 2px );
            text-align: center;
            padding: 15px 5px;
            box-sizing: border-box;
            img {
                height:75px;
                width:75px;
                @include screen(1024) {
                    height:120px;
                    width:120px;
                }
            }
            &-label {
                color:rgba(43, 46, 116, 1);
                max-width: 80%;
    margin: auto;
            }
            &:nth-child(1) {
                border-right:1px solid rgba(75, 146, 207, 0.5);
                border-bottom:1px solid rgba(75, 146, 207, 0.5);
            }
            &:nth-child(2) {
                border-right:1px solid rgba(75, 146, 207, 0.5);
                border-bottom:1px solid rgba(75, 146, 207, 0.5);
            }
            &:nth-child(3) {
                border-bottom:1px solid rgba(75, 146, 207, 0.5);
            }
            &:nth-child(4) {
                border-right:1px solid rgba(75, 146, 207, 0.5);
            }
            &:nth-child(5) {
                border-right:1px solid rgba(75, 146, 207, 0.5);
            }
        }
        &-inner {
            position:relative;
        }
        &-closer {
            cursor: pointer;
            position: absolute;
            top: -15px;
            right: -15px;
            width: 50px;
            text-align: center;
            @include screen(1024) {
                display:none;
            }
            &:before {
                font-family:"icomoon";
                content: "\e906";
                color: #537dbf;
                font-size: 24px;
                line-height: 50px;
                vertical-align: middle;
            }
        }
        &:not(.active) {
            .slice-content {
                @include screen(0,1023) {
                    display:none;
                }
                @include screen(1024) {
                    visibility: hidden;
                    opacity:0;
                }
            }
        }
    }
    .top {
        .slice {
            &:nth-child(1) {
                .slice-content {
                    top: -334px;
                    left: -578px;
                }
            }
            &:nth-child(2) {
                .slice-content {
                    top: -355px;
                    right: -578px;
                }
            }
        }
    }
    .bot {
        .slice {
            &-header {
                p {
                    color:#5B967C;
                }
            }
            &:nth-child(1) {
                .slice-content {
                    bottom: -354px;
                    left: -578px;
                }
            }
            &:nth-child(2) {
                .slice-content {
                    bottom: -314px;
                    right: -578px;
                }
            }
        }
    }
}