{% extends "block-base.twig" %}

{% block content %}
<section class="wheel-hero {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="legend hide-desktop">
            <div class="tap"><img src="/wp-content/themes/aspirico/blocks/wheel-block-one/tap.svg"></div>
            <div class="text">
                <h3>Click the graphic below to view each iplanit module</h3>
            </div>
        </div>
        <div class="wrapper">
            <div class="wheel">
                <div class="top">
                    <div class="slice left active" onclick="toggleSlice(this);" data-slice="top-left-slice">
                        <div class="shape">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 91.5 91.6" style="enable-background:new 0 0 91.5 91.6;" xml:space="preserve">
<style type="text/css">
	.st0{fill:url(#blue);}
	.st1{opacity:0.5;fill:url(#SVGID_00000023242167769250327040000012626816529641564054_);enable-background:new    ;}
</style>
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="87.3892" y1="-523.8645" x2="11.0592" y2="-447.5246" gradientTransform="matrix(1 0 0 -1 0 -436.2199)">
	<stop  offset="0.23" style="stop-color:#2C3074"/>
	<stop  offset="0.7" style="stop-color:#354C9F"/>
</linearGradient>
<linearGradient id="blue" gradientUnits="userSpaceOnUse" x1="87.3892" y1="-523.8645" x2="11.0592" y2="-447.5246" gradientTransform="matrix(1 0 0 -1 0 -436.2199)">
	<stop  offset="0.23" style="stop-color:#2C3074"/>
	<stop  offset="0.7" style="stop-color:#354C9F"/>
</linearGradient>
<path class="st0" d="M91.5,91.6V1C42.1,2.6,2.4,42.2,0.6,91.6H91.5z"/>
<radialGradient id="SVGID_00000174588817689580098260000001770385160090616211_" cx="99.2641" cy="-528.1297" r="35.71" gradientTransform="matrix(1 0 0 -1 0 -436.2199)" gradientUnits="userSpaceOnUse">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="0.74" style="stop-color:#E6E9E9"/>
	<stop  offset="1" style="stop-color:#DCE1E2"/>
</radialGradient>
<path style="opacity:0.5;fill:url(#SVGID_00000174588817689580098260000001770385160090616211_);enable-background:new    ;" d="
	M91.5,91.6V54.7C71.9,56.4,56.3,72,54.6,91.6H91.5z"/>
</svg>

                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                    <div class="slice right" onclick="toggleSlice(this);" data-slice="top-right-slice">
                        <div class="shape">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 26.5.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 91.5 91.6" style="enable-background:new 0 0 91.5 91.6;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:url(#SVGID_1_);}
                                .st1{opacity:0.5;fill:url(#SVGID_00000169542676617435171090000012833824631090408366_);enable-background:new    ;}
                            </style>
                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-2.6134" y1="-543.8936" x2="60.6766" y2="-463.3936" gradientTransform="matrix(1 0 0 -1 0 -436.2199)">
                                <stop  offset="0.43" style="stop-color:#2C3074"/>
                                <stop  offset="1" style="stop-color:#354C9F"/>
                            </linearGradient>
                            <path class="st0" d="M0,91.6h91.2C89.4,42.2,49.5,2.5,0,1.1V91.6L0,91.6z"/>
                            <radialGradient id="SVGID_00000095327703421234926320000009562067000529109905_" cx="1.8036" cy="-528.1655" r="35.71" gradientTransform="matrix(1 0 0 -1 0 -436.2199)" gradientUnits="userSpaceOnUse">
                                <stop  offset="0" style="stop-color:#FFFFFF"/>
                                <stop  offset="0.74" style="stop-color:#E6E9E9"/>
                                <stop  offset="1" style="stop-color:#DCE1E2"/>
                            </radialGradient>
                            <path style="opacity:0.5;fill:url(#SVGID_00000095327703421234926320000009562067000529109905_);enable-background:new    ;" d="
                                M0,91.6h37.9C36.2,71.7,20.1,55.9,0,54.7V91.6L0,91.6z"/>
                            </svg>

                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bot">
                    <div class="slice left" onclick="toggleSlice(this);" data-slice="bot-left-slice">
                        <div class="shape">
                            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 91 91.6">
                            <defs>
                                <style>.cls-1{fill:url(#blue);}.cls-2{fill:url(#radial-gradient);isolation:isolate;opacity:.75;}</style>
                                <linearGradient id="linear-gradient" x1="-4.67" y1="871.47" x2="67.28" y2="802.36" gradientTransform="translate(0 842.11) scale(1 -1)" gradientUnits="userSpaceOnUse"><stop offset=".22" stop-color="#fff"/><stop offset="1" stop-color="#e2e7e9"/></linearGradient>
                                <radialGradient id="radial-gradient" cx="98.41" cy="847.8" fx="98.41" fy="847.8" r="35.71" gradientTransform="translate(0 842.11) scale(1 -1)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"/><stop offset=".74" stop-color="#e6e9e9"/><stop offset="1" stop-color="#dce1e2"/></radialGradient>
                                <linearGradient id="blue" gradientUnits="userSpaceOnUse" x1="80.1837" y1="-453.5202" x2="3.6037" y2="-517.4601" gradientTransform="matrix(1 0 0 -1 0 -436.2199)">
                                    <stop  offset="0.15" style="stop-color:#354C9F"/>
                                    <stop  offset="0.67" style="stop-color:#346BB3"/>
                                </linearGradient>
                            </defs>
                            <path class="cls-1" d="M91,0H0C1.3,49.8,41.2,89.9,90.9,91.6l.1-91.6h0Z"/>
                            <path class="cls-2" d="M90.6,0H53.7c1.2,20,17,36.1,36.9,37.8V0Z"/>
                            </svg>
                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.bottom_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.bottom_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer hide-mobile" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                    <div class="slice right" onclick="toggleSlice(this);" data-slice="bot-right-slice">
                        <div class="shape">
                                <?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 91.5 91.6">
                                <defs><style>.cls-1{fill:url(#blue);}.cls-2{fill:url(#radial-gradient);isolation:isolate;opacity:.75;}</style>
                                <linearGradient id="linear-gradient" x1="-68.21" y1="884.47" x2="3.73" y2="815.36" gradientTransform="translate(0 820.65) scale(1 -1)" gradientUnits="userSpaceOnUse"><stop offset=".22" stop-color="#fff"/><stop offset="1" stop-color="#e2e7e9"/></linearGradient>
                                <radialGradient id="radial-gradient" cx="1.77" cy="826.34" fx="1.77" fy="826.34" r="35.71" gradientTransform="translate(0 820.64) scale(1 -1)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"/><stop offset=".74" stop-color="#e6e9e9"/><stop offset="1" stop-color="#dce1e2"/></radialGradient>
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="80.1837" y1="-453.5202" x2="3.6037" y2="-517.4601" gradientTransform="matrix(1 0 0 -1 0 -436.2199)">
                                    <stop  offset="0.15" style="stop-color:#354C9F"/>
                                    <stop  offset="0.67" style="stop-color:#346BB3"/>
                                </linearGradient>
                                </defs>
                                <path class="cls-1" d="M.3,0V91.6C50.1,90.1,90.2,49.9,91.5,0c0,0-91.2,0-91.2,0Z"/>
                                <path class="cls-2" d="M0,0V37.9C20.4,36.7,36.7,20.4,37.9,0c0,0-37.9,0-37.9,0Z"/>
                                </svg>

                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.bottom_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.bottom_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer hide-mobile" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="center-top">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="102" height="103" viewBox="0 0 102 103">
                        <defs>
                            <linearGradient id="linear-gradient" x1="0.854" y1="0.146" x2="0.146" y2="0.854" gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#c6cece"/>
                            <stop offset="0.089" stop-color="#ccd3d3"/>
                            <stop offset="0.684" stop-color="#f1f3f3"/>
                            <stop offset="1" stop-color="#fff"/>
                            </linearGradient>
                            <linearGradient id="linear-gradient-2" x1="0.854" y1="2.879" x2="0.146" y2="3.586" gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#fff"/>
                            <stop offset="0.744" stop-color="#e6e9ea"/>
                            <stop offset="1" stop-color="#dce1e2"/>
                            </linearGradient>
                            <linearGradient id="linear-gradient-4" x1="0.854" y1="2.88" x2="0.146" y2="3.587" xlink:href="#linear-gradient"/>
                        </defs>
                        <g id="Circle_Graphic_-_Inner_Circle-01" data-name="Circle Graphic - Inner Circle-01" transform="translate(0.003 0.218)">
                            <g id="Group_14625" data-name="Group 14625" transform="translate(0 -0.001)">
                            <rect id="Rectangle_1100" data-name="Rectangle 1100" width="102" height="103" transform="translate(-0.003 -0.217)" fill="none" opacity="0.25"/>
                            <g id="Group_14624" data-name="Group 14624" transform="translate(0.277 1.208)">
                                <path id="Path_206219" data-name="Path 206219" d="M290.918,243.7a44.718,44.718,0,1,0,44.718,44.718A44.726,44.726,0,0,0,290.918,243.7Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient)"/>
                            </g>
                            </g>
                            <g id="Circle_A-1" transform="translate(0.277 1.208)">
                            <g id="White_circle_3_" transform="translate(0 0)" opacity="0.498" style="mix-blend-mode: normal;isolation: isolate">
                                <path id="Path_206220" data-name="Path 206220" d="M246.2,288.418a44.718,44.718,0,1,1,44.718,44.76A44.726,44.726,0,0,1,246.2,288.418Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient-2)"/>
                                <path id="Path_206221" data-name="Path 206221" d="M246.2,288.418a44.718,44.718,0,1,1,44.718,44.76A44.726,44.726,0,0,1,246.2,288.418Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient-2)"/>
                            </g>
                            <g id="Thickness_3_" transform="translate(0)">
                                <path id="Path_206222" data-name="Path 206222" d="M290.918,243.7a44.718,44.718,0,1,0,44.718,44.718A44.726,44.726,0,0,0,290.918,243.7Zm0,87.9A43.129,43.129,0,1,1,334.1,288.418,43.171,43.171,0,0,1,290.918,331.6Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient-4)"/>
                            </g>
                            </g>
                        </g>
                        </svg>

                    </div>
                    <div class="center-bot">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60.045" height="33.74" viewBox="0 0 60.045 33.74">
                            <g id="Group_14630" data-name="Group 14630" transform="translate(0 0)">
                                <path id="Path_1677" data-name="Path 1677" d="M180.052,22.784a30.109,30.109,0,0,0-.237-3.717,30.015,30.015,0,0,1-59.571,0,30.02,30.02,0,1,0,59.808,3.717" transform="translate(-120.007 -19.067)" fill="#336bb3"/>
                                <path id="Path_1678" data-name="Path 1678" d="M150.67,33.254A5.951,5.951,0,1,1,144.72,27.3a5.95,5.95,0,0,1,5.951,5.951" transform="translate(-114.698 -16.736)" fill="#122262"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container hide-desktop">
                        <div class="slice-content mob one active" id="top-left-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer hide-mobile" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                        <div class="slice-content mob two" id="top-right-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer hide-mobile" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                        <div class="slice-content mob three" id="bot-left-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.bottom_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.bottom_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer hide-mobile" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                        <div class="slice-content mob four" id="bot-right-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.bottom_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.bottom_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer hide-mobile" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
    </div>
</section>
<script>
function toggleSlice(element) {
    if(element.classList.contains('active')) {
        element.classList.remove('active');
    } else {
        [...document.querySelectorAll('.slice.active')].forEach(function(element) {
            element.classList.remove('active');
        });
        element.classList.add('active');
    }
    if(screen.width < 1023) {
        [...document.querySelectorAll('.slice-content.mob')].forEach(function(el) {
            el.classList.remove('active');
        });
        document.getElementById(element.dataset.slice).classList.add('active');
    }
}
</script>
{% endblock %}
