{% extends "block-base.twig" %}

{% block content %}
<section class="wheel-hero {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="wheel">
                <div class="top">
                    <div class="slice left active" onclick="toggleSlice(this);" data-slice="top-left-slice">
                        <div class="shape">
                            <svg id="Component_5_1" data-name="Component 5 – 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="113.701" height="113.325" viewBox="0 0 113.701 113.325">
                            <defs>
                                <linearGradient id="linear-gradient" x1="0.333" y1="0.339" x2="1.125" y2="1.103" gradientUnits="objectBoundingBox">
                                <stop offset="0.215" stop-color="#f8f8f9"/>
                                <stop offset="1" stop-color="#e2e7ea"/>
                                </linearGradient>
                                <radialGradient id="radial-gradient" cx="1.211" cy="1.008" r="0.969" gradientUnits="objectBoundingBox">
                                <stop offset="0" stop-color="#fff"/>
                                <stop offset="0.744" stop-color="#e6e9ea"/>
                                <stop offset="1" stop-color="#dce1e2"/>
                                </radialGradient>
                            </defs>
                            <g id="Group_14616" data-name="Group 14616">
                                <path id="Path_206211" data-name="Path 206211" d="M184.8,183.783V70.5A117.756,117.756,0,0,0,71.1,183.783Z" transform="translate(-71.1 -70.5)" fill="url(#linear-gradient)"/>
                                <path id="Path_206212" data-name="Path 206212" d="M277.8,277.3V231.2a50.7,50.7,0,0,0-46.1,46.1Z" transform="translate(-164.517 -163.975)" opacity="0.5" fill="url(#radial-gradient)"/>
                            </g>
                            </svg>
                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                    <div class="slice right" onclick="toggleSlice(this);" data-slice="top-right-slice">
                        <div class="shape">
                            <svg id="Component_6_1" data-name="Component 6 – 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="114.538" height="113.325" viewBox="0 0 114.538 113.325">
                            <defs>
                                <linearGradient id="linear-gradient" x1="-0.367" y1="-0.041" x2="0.422" y2="0.722" gradientUnits="objectBoundingBox">
                                <stop offset="0.215" stop-color="#fff"/>
                                <stop offset="1" stop-color="#e2e7ea"/>
                                </linearGradient>
                                <radialGradient id="radial-gradient" cx="0.047" cy="1.008" r="0.967" gradientUnits="objectBoundingBox">
                                <stop offset="0" stop-color="#fff"/>
                                <stop offset="0.744" stop-color="#e6e9ea"/>
                                <stop offset="1" stop-color="#dce1e2"/>
                                </radialGradient>
                            </defs>
                            <g id="Group_14620" data-name="Group 14620">
                                <path id="Path_206215" data-name="Path 206215" d="M360.9,183.783H475.02A117.71,117.71,0,0,0,360.9,70.5Z" transform="translate(-360.482 -70.5)" fill="url(#linear-gradient)"/>
                                <path id="Path_206216" data-name="Path 206216" d="M359.9,277.183h47.355A50.643,50.643,0,0,0,359.9,231Z" transform="translate(-359.9 -163.858)" opacity="0.5" fill="url(#radial-gradient)"/>
                            </g>
                            </svg>
                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bot">
                    <div class="slice left" onclick="toggleSlice(this);" data-slice="bot-left-slice">
                        <div class="shape">
                            <svg id="Component_5_1" data-name="Component 5 – 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="113.701" height="113.325" viewBox="0 0 113.701 113.325">
                            <defs>
                                <linearGradient id="linear-gradient" x1="0.333" y1="0.339" x2="1.125" y2="1.103" gradientUnits="objectBoundingBox">
                                <stop offset="0.215" stop-color="#f8f8f9"/>
                                <stop offset="1" stop-color="#e2e7ea"/>
                                </linearGradient>
                                <radialGradient id="radial-gradient" cx="1.211" cy="1.008" r="0.969" gradientUnits="objectBoundingBox">
                                <stop offset="0" stop-color="#fff"/>
                                <stop offset="0.744" stop-color="#e6e9ea"/>
                                <stop offset="1" stop-color="#dce1e2"/>
                                </radialGradient>
                            </defs>
                            <g id="Group_14616" data-name="Group 14616">
                                <path id="Path_206211" data-name="Path 206211" d="M184.8,183.783V70.5A117.756,117.756,0,0,0,71.1,183.783Z" transform="translate(-71.1 -70.5)" fill="url(#linear-gradient)"/>
                                <path id="Path_206212" data-name="Path 206212" d="M277.8,277.3V231.2a50.7,50.7,0,0,0-46.1,46.1Z" transform="translate(-164.517 -163.975)" opacity="0.5" fill="url(#radial-gradient)"/>
                            </g>
                            </svg>
                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.bottom_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.bottom_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                    <div class="slice right" onclick="toggleSlice(this);" data-slice="bot-right-slice">
                        <div class="shape">
<?xml version="1.0" encoding="UTF-8"?><svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 91.5 91.6"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:url(#radial-gradient);isolation:isolate;opacity:.75;}</style><linearGradient id="linear-gradient" x1="-68.21" y1="884.47" x2="3.73" y2="815.36" gradientTransform="translate(0 820.65) scale(1 -1)" gradientUnits="userSpaceOnUse"><stop offset=".22" stop-color="#fff"/><stop offset="1" stop-color="#e2e7e9"/></linearGradient><radialGradient id="radial-gradient" cx="1.77" cy="826.34" fx="1.77" fy="826.34" r="35.71" gradientTransform="translate(0 820.64) scale(1 -1)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"/><stop offset=".74" stop-color="#e6e9e9"/><stop offset="1" stop-color="#dce1e2"/></radialGradient></defs><path class="cls-1" d="M.3,0V91.6C50.1,90.1,90.2,49.9,91.5,0c0,0-91.2,0-91.2,0Z"/><path class="cls-2" d="M0,0V37.9C20.4,36.7,36.7,20.4,37.9,0c0,0-37.9,0-37.9,0Z"/></svg>


                        </div>
                        <div class="slice-content">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.bottom_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.bottom_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="center-top">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="102" height="103" viewBox="0 0 102 103">
                        <defs>
                            <linearGradient id="linear-gradient" x1="0.854" y1="0.146" x2="0.146" y2="0.854" gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#c6cece"/>
                            <stop offset="0.089" stop-color="#ccd3d3"/>
                            <stop offset="0.684" stop-color="#f1f3f3"/>
                            <stop offset="1" stop-color="#fff"/>
                            </linearGradient>
                            <linearGradient id="linear-gradient-2" x1="0.854" y1="2.879" x2="0.146" y2="3.586" gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#fff"/>
                            <stop offset="0.744" stop-color="#e6e9ea"/>
                            <stop offset="1" stop-color="#dce1e2"/>
                            </linearGradient>
                            <linearGradient id="linear-gradient-4" x1="0.854" y1="2.88" x2="0.146" y2="3.587" xlink:href="#linear-gradient"/>
                        </defs>
                        <g id="Circle_Graphic_-_Inner_Circle-01" data-name="Circle Graphic - Inner Circle-01" transform="translate(0.003 0.218)">
                            <g id="Group_14625" data-name="Group 14625" transform="translate(0 -0.001)">
                            <rect id="Rectangle_1100" data-name="Rectangle 1100" width="102" height="103" transform="translate(-0.003 -0.217)" fill="none" opacity="0.25"/>
                            <g id="Group_14624" data-name="Group 14624" transform="translate(0.277 1.208)">
                                <path id="Path_206219" data-name="Path 206219" d="M290.918,243.7a44.718,44.718,0,1,0,44.718,44.718A44.726,44.726,0,0,0,290.918,243.7Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient)"/>
                            </g>
                            </g>
                            <g id="Circle_A-1" transform="translate(0.277 1.208)">
                            <g id="White_circle_3_" transform="translate(0 0)" opacity="0.498" style="mix-blend-mode: normal;isolation: isolate">
                                <path id="Path_206220" data-name="Path 206220" d="M246.2,288.418a44.718,44.718,0,1,1,44.718,44.76A44.726,44.726,0,0,1,246.2,288.418Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient-2)"/>
                                <path id="Path_206221" data-name="Path 206221" d="M246.2,288.418a44.718,44.718,0,1,1,44.718,44.76A44.726,44.726,0,0,1,246.2,288.418Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient-2)"/>
                            </g>
                            <g id="Thickness_3_" transform="translate(0)">
                                <path id="Path_206222" data-name="Path 206222" d="M290.918,243.7a44.718,44.718,0,1,0,44.718,44.718A44.726,44.726,0,0,0,290.918,243.7Zm0,87.9A43.129,43.129,0,1,1,334.1,288.418,43.171,43.171,0,0,1,290.918,331.6Z" transform="translate(-246.2 -243.7)" fill="url(#linear-gradient-4)"/>
                            </g>
                            </g>
                        </g>
                        </svg>

                    </div>
                    <div class="center-bot">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60.045" height="33.74" viewBox="0 0 60.045 33.74">
                            <g id="Group_14630" data-name="Group 14630" transform="translate(0 0)">
                                <path id="Path_1677" data-name="Path 1677" d="M180.052,22.784a30.109,30.109,0,0,0-.237-3.717,30.015,30.015,0,0,1-59.571,0,30.02,30.02,0,1,0,59.808,3.717" transform="translate(-120.007 -19.067)" fill="#336bb3"/>
                                <path id="Path_1678" data-name="Path 1678" d="M150.67,33.254A5.951,5.951,0,1,1,144.72,27.3a5.95,5.95,0,0,1,5.951,5.951" transform="translate(-114.698 -16.736)" fill="#122262"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container hide-desktop">
                        <div class="slice-content mob one active" id="top-left-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                        <div class="slice-content mob two" id="top-right-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                        <div class="slice-content mob three" id="bot-left-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_left.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_left.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
                        <div class="slice-content mob four" id="bot-right-slice">
                            <div class="slice-inner">
                                <div class="slice-header">
                                    {{fields.top_right.title}}
                                </div>
                                <ul class="slice-items">
                                    {% for item in fields.top_right.items %}
                                    <li class="slice-item">
                                        <div class="slice-item-icon">{{imageElement(item.icon)}}</div>
                                        <div class="slice-item-label">{{item.label}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slice-closer" onclick="closeSlice({{loop.index}})"></div>
                            </div>
                        </div>
    </div>
</section>
<script>
function toggleSlice(element) {
    if(screen.width > 1023) {
        console.log('hello');
        if(element.classList.contains('active')) {
            element.classList.remove('active');
        } else {
            [...document.querySelectorAll('.slice.active')].forEach(function(element) {
                element.classList.remove('active');
            });
            element.classList.add('active');
        }
    } else {
        [...document.querySelectorAll('.slice-content.mob')].forEach(function(el) {
            el.classList.remove('active');
        });
        document.getElementById(element.dataset.slice).classList.add('active');
    }
}
// [...document.querySelectorAll('.slice')].forEach(function(el) {
//     el.addEventListener('click', function(e) {
//         e.stopPropagation()
//         console.log(e);
//         [...document.querySelectorAll('.slice.active')].forEach(function(element) {
//             element.classList.remove('active');
//         });
//         e.srcElement.classList.add('active');
//     });
// });

</script>
{% endblock %}
