html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff") format("woff"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.ttf") format("truetype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff2") format("woff2"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff") format("woff"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.ttf") format("truetype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
html {
  font-family: "Figtree", sans-serif;
  color: #2B2E74;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 20px;
    line-height: 28px;
  }
}

p {
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 20px 0;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  p {
    font-size: 20px;
    line-height: 28px;
  }
}

a {
  color: #2B2E74;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 55px;
    line-height: 70px;
  }
}
h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 22px;
  line-height: 32px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 1.13px;
  }
}
h3 {
  font-size: calc(1.28125rem + 0.375vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.5625rem;
  }
}
h4 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.75rem;
  }
}
h5 {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.375rem;
  }
}

big {
  font-size: 1.25rem;
  line-height: 1.2;
}

small {
  font-size: 0.875rem;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

.wp-block-button__link {
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #ed196f;
  color: #fff;
  font-weight: 600;
  padding: 14px 38px;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
  min-width: 135px;
  border: 1px solid #ed196f;
}
@media only screen and (min-width: 768px) {
  .wp-block-button__link {
    font-size: 18px;
    min-width: 175px;
    padding: 19px 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .wp-block-button__link {
    font-size: 20px;
    min-width: 200px;
    padding: 20px 30px;
  }
}
.wp-block-button__link:hover {
  color: #ed196f;
  border-color: #ed196f;
  background: white;
}

/*# sourceMappingURL=base.css.map */
