block-preview {
  /* HTML5 display-role reset for older browsers */
}
block-preview html, block-preview body, block-preview div, block-preview span, block-preview applet, block-preview object, block-preview iframe,
block-preview h1, block-preview h2, block-preview h3, block-preview h4, block-preview h5, block-preview h6, block-preview p, block-preview blockquote, block-preview pre,
block-preview a, block-preview abbr, block-preview acronym, block-preview address, block-preview big, block-preview cite, block-preview code,
block-preview del, block-preview dfn, block-preview em, block-preview img, block-preview ins, block-preview kbd, block-preview q, block-preview s, block-preview samp,
block-preview small, block-preview strike, block-preview strong, block-preview sub, block-preview sup, block-preview tt, block-preview var,
block-preview b, block-preview u, block-preview i, block-preview center,
block-preview dl, block-preview dt, block-preview dd, block-preview ol, block-preview ul, block-preview li,
block-preview fieldset, block-preview form, block-preview label, block-preview legend,
block-preview table, block-preview caption, block-preview tbody, block-preview tfoot, block-preview thead, block-preview tr, block-preview th, block-preview td,
block-preview article, block-preview aside, block-preview canvas, block-preview details, block-preview embed,
block-preview figure, block-preview figcaption, block-preview footer, block-preview header, block-preview hgroup,
block-preview menu, block-preview nav, block-preview output, block-preview ruby, block-preview section, block-preview summary,
block-preview time, block-preview mark, block-preview audio, block-preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}
block-preview article, block-preview aside, block-preview details, block-preview figcaption, block-preview figure,
block-preview footer, block-preview header, block-preview hgroup, block-preview menu, block-preview nav, block-preview section {
  display: block;
}
block-preview body {
  line-height: 1;
}
block-preview ol, block-preview ul {
  list-style: none;
}
block-preview blockquote, block-preview q {
  quotes: none;
}
block-preview blockquote:before, block-preview blockquote:after,
block-preview q:before, block-preview q:after {
  content: "";
  content: none;
}
block-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff") format("woff"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.ttf") format("truetype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff2") format("woff2"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff") format("woff"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.ttf") format("truetype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
html {
  font-family: "Figtree", sans-serif;
  color: #2B2E74;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 20px;
    line-height: 28px;
  }
}

p {
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 20px 0;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  p {
    font-size: 20px;
    line-height: 28px;
  }
}

a {
  color: #2B2E74;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 55px;
    line-height: 70px;
  }
}
h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 22px;
  line-height: 32px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 1.13px;
  }
}
h3 {
  font-size: calc(1.28125rem + 0.375vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.5625rem;
  }
}
h4 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.75rem;
  }
}
h5 {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.375rem;
  }
}

big {
  font-size: 1.25rem;
  line-height: 1.2;
}

small {
  font-size: 0.875rem;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

.wp-block-button__link {
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #ed196f;
  color: #fff;
  font-weight: 600;
  padding: 14px 38px;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
  min-width: 135px;
  border: 1px solid #ed196f;
}
@media only screen and (min-width: 768px) {
  .wp-block-button__link {
    font-size: 18px;
    min-width: 175px;
    padding: 19px 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .wp-block-button__link {
    font-size: 20px;
    min-width: 200px;
    padding: 20px 30px;
  }
}
.wp-block-button__link:hover {
  color: #ed196f;
  border-color: #ed196f;
  background: white;
}

.block-editor-default-block-appender .block-editor-inserter {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px;
  border: 5px dotted #d50032;
  width: calc(100% - 30px);
}
.block-editor-default-block-appender .block-editor-inserter button {
  transition: all 0.3s ease-out;
  margin: auto !important;
  background: #d50032 !important;
  border: 1px solid #d50032 !important;
}
.block-editor-default-block-appender .block-editor-inserter button svg {
  transition: all 0.3s ease-out;
  color: white;
}
.block-editor-default-block-appender .block-editor-inserter button:hover {
  background: white !important;
}
.block-editor-default-block-appender .block-editor-inserter button:hover svg {
  color: #d50032;
}

.block-editor-block-list__block .block-list-appender {
  position: relative !important;
}

.block-editor-block-list__block .block-list-appender .block-editor-default-block-appender {
  height: 54px !important;
}

block-preview .acf-block-body {
  margin: 50px 0 !important;
}

block-preview section {
  padding: 50px 0 !important;
}
block-preview p,
block-preview li {
  margin: 0.5em !important;
  line-height: 1.2 !important;
}

/*# sourceMappingURL=editor.css.map */
