.aspirico-timeline {
  position: relative;
  padding: 25px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 1024px) {
  .aspirico-timeline {
    padding-bottom: 150px;
  }
}
.aspirico-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/aspirico/blocks/aspirico-timeline/bg-one.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.aspirico-timeline h2 {
  color: #68A690;
  font-weight: 400;
}
.aspirico-timeline h2 strong {
  font-weight: 700;
}
.aspirico-timeline .item {
  position: relative;
  border-bottom: 1px solid rgba(104, 162, 215, 0.5);
  padding: 20px 0;
  max-width: 35px;
}
@media only screen and (min-width: 768px) {
  .aspirico-timeline .item {
    max-width: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .aspirico-timeline .item {
    max-width: 80px;
  }
}
.aspirico-timeline .item.active .year {
  color: #68A2D7;
}
.aspirico-timeline .item.active .content {
  opacity: 1;
}
.aspirico-timeline .item:not(.active) .content {
  pointer-events: none;
}
.aspirico-timeline .year {
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-weight: 700;
  color: #2B2E74;
  font-size: 14px;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .aspirico-timeline .year {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .aspirico-timeline .year {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1366px) {
  .aspirico-timeline .year {
    font-size: 20px;
  }
}
.aspirico-timeline .year:hover {
  color: #68a2d7;
}
.aspirico-timeline .year-overlay {
  color: rgb(104, 162, 215);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: 1.13px;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) {
  .aspirico-timeline .year-overlay {
    font-size: 30px;
    top: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .aspirico-timeline .year-overlay {
    font-size: 45px;
  }
}
.aspirico-timeline .content {
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  padding: 16px;
  width: 66vw;
  top: 50%;
  transform: translate(0, -50%);
  left: 50px;
}
@media only screen and (min-width: 768px) {
  .aspirico-timeline .content {
    width: 55vw;
    padding: 16px 50px;
    left: 100px;
  }
}
@media only screen and (min-width: 1024px) {
  .aspirico-timeline .content {
    padding: 16px 75px;
    left: 125px;
  }
}
.aspirico-timeline .content .logo {
  position: relative;
  margin-right: 3vw;
}
@media only screen and (max-width: 767px) {
  .aspirico-timeline .content svg {
    max-width: 90px;
    height: auto;
  }
}
.aspirico-timeline .two p {
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .aspirico-timeline .two p {
    margin: 20px 0;
  }
}
.aspirico-timeline .bot {
  padding-top: 50px;
}
@media only screen and (min-width: 1024px) {
  .aspirico-timeline .bot {
    padding-top: 150px;
  }
}
.aspirico-timeline .arrow {
  position: absolute;
  left: -10px;
}
@media only screen and (min-width: 1024px) {
  .aspirico-timeline .arrow {
    left: -38px;
  }
}
.aspirico-timeline .arrow svg {
  max-width: 10px;
  filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.1));
}
@media only screen and (min-width: 1024px) {
  .aspirico-timeline .arrow svg {
    max-width: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
