@import "mixins.scss";

.aspirico-timeline{
    position: relative;
    padding: 25px;
    padding-bottom: 100px;
    @include screen(1024) {
        padding-bottom: 150px;
    }
    &:before {
        content:"";
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background:url('/wp-content/themes/aspirico/blocks/aspirico-timeline/bg-one.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index:-1;
    }
    h2 {
        color:#68A690;
        font-weight: 400;
        strong {
            font-weight: 700;
        }
    }
    .item {
        position:relative;
        border-bottom:1px solid rgba(104, 162, 215, 0.5);
        padding: 20px 0;
        max-width: 35px;
        @include screen(768) {
            max-width: 50px;
        }
        @include screen(1024) {
            max-width: 80px;
        }
        &.active {
            .year {
                color:#68A2D7;
            }
            .content {
                opacity:1;
            }
        }
        &:not(.active) {
            .content {
                pointer-events: none;
            }
        }
    }
    .year {
        transition: all 0.3s ease-out;
        cursor:pointer;
        font-weight: 700;
        color:#2B2E74;
        font-size: 14px;
        line-height: 1.2;
        @include screen(768) {
            font-size: 16px;
        }
        @include screen(1280) {
            font-size: 18px;
        }
        @include screen(1366) {
            font-size: 20px;
        }
        &:hover {
            color: #68a2d7;
        }
        &-overlay {
            color:rgba(104, 162, 215, 1);
            font-weight:700;
            font-size: 20px;
            line-height: 1.33;
            letter-spacing: 1.13px;
            position: absolute;
            left: 50%;
            top: 51%;
            transform: translate(-50%,-50%);
            @include screen(768) {
                font-size: 30px;
                top: 60%;
            }
            @include screen(1024) {
                font-size: 45px;
            }
        }
    }
    .content {
        transition:all 0.5s ease-out;
        opacity:0;
        position:absolute;
        background: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        display: flex;
        align-items: center;
        padding: 16px;
        width: 66vw;
        top: 50%;
        transform: translate(0, -50%);
        left: 50px;
        @include screen(768) {
            width: 55vw;
            padding: 16px 50px;
            left: 100px;
        }
        @include screen(1024) {
            padding: 16px 75px;
            left: 125px;
        }
        .logo {
            position:relative;
            margin-right: 3vw;
        }
        svg {
            @include screen(0,767) {
                max-width: 90px;
                height: auto;
            }
        }
    }
    .two {
        p {
            margin:10px 0;
            @include screen(768) {
                margin:20px 0;
            }
        }
        
    }
    .bot {
        padding-top: 50px;
        @include screen(1024) {
            padding-top: 150px;
        }
    }
    .arrow {
        position: absolute;
        left: -10px;
        @include screen(1024) {
            left: -38px;
        }
        svg {
            max-width: 10px;
            @include screen(1024) {
                max-width: 40px;
            }
            filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.1));
        }
    }
}