{% extends "block-base.twig" %}

{% block content %}
<section class="aspirico-timeline {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="container">
            <ul class="timeline">
            {% for item in fields.content.years %}
            <li class="item {% if loop.first %}active{% endif %}" onclick="toggleYear(this)">
                <div class="year">{{item.year}}</div>
                <div class="content">
                    <div class="logo">
                        <div class="bg">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="230.672" height="206.944" viewBox="0 0 230.672 206.944">
                            <defs>
                                <clipPath id="clip-path">
                                <rect id="Rectangle_18" data-name="Rectangle 18" width="230.672" height="206.944" fill="none"/>
                                </clipPath>
                            </defs>
                            <g id="Group_14140" data-name="Group 14140" opacity="0.498">
                                <g id="Group_10" data-name="Group 10" clip-path="url(#clip-path)">
                                <g id="Group_9" data-name="Group 9">
                                    <g id="Group_8" data-name="Group 8" clip-path="url(#clip-path)">
                                    <g id="Group_7" data-name="Group 7" opacity="0.1">
                                        <g id="Group_6" data-name="Group 6">
                                        <g id="Group_5" data-name="Group 5" clip-path="url(#clip-path)">
                                            <path id="Path_20" data-name="Path 20" d="M230.672,14.553A116.492,116.492,0,0,0,229.761,0,115.356,115.356,0,0,1,115.336,100.782,115.355,115.355,0,0,1,.911,0a115.341,115.341,0,1,0,229.76,14.553" transform="translate(0 77.056)" fill="#4b92d0"/>
                                            <path id="Path_21" data-name="Path 21" d="M124.514,7.2A83.57,83.57,0,0,0,116.274,0,82.937,82.937,0,0,1,0,116.274,82.948,82.948,0,1,0,124.514,7.2" transform="translate(62.709 0.001)" fill="#4b92d0"/>
                                            <path id="Path_22" data-name="Path 22" d="M117.565,7.276A59.319,59.319,0,0,0,117.1,0,58.78,58.78,0,0,1,58.783,51.506,58.779,58.779,0,0,1,.465,0,59.188,59.188,0,0,0,0,7.276a58.783,58.783,0,0,0,117.565,0" transform="translate(54.556 47.898)" fill="#4b92d0"/>
                                            <path id="Path_23" data-name="Path 23" d="M23.3,11.651A11.651,11.651,0,1,1,11.651,0,11.651,11.651,0,0,1,23.3,11.651" transform="translate(101.688 68.586)" fill="#4b92d0"/>
                                            <path id="Path_24" data-name="Path 24" d="M21.43,76.828A67.247,67.247,0,0,1,24.682,0,43.6,43.6,0,0,0,21.43,76.828" transform="translate(21.332 10.163)" fill="#4b92d0"/>
                                        </g>
                                        </g>
                                    </g>
                                    </g>
                                </g>
                                </g>
                            </g>
                            </svg>
                        </div>
                        <div class="year-overlay">{{item.year}}</div>
                    </div>
                    <div class="inner">
                        <div class="one">
                            {{item.date}}
                        </div>
                        <div class="two">
                            {{item.content}}
                        </div>
                    </div>
                    <div class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="39.6" height="69.8" viewBox="0 0 39.6 69.8">
                        <path id="Subtraction_1" data-name="Subtraction 1" d="M16692.6,106.544h0l-39.6-34.9,39.6-34.9v69.8Z" transform="translate(-16653 -36.744)" fill="#fff"/>
                        </svg>

                    </div>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
function toggleYear(e) {
    document.querySelectorAll('.aspirico-timeline .item.active').forEach(function(el) {
        el.classList.remove('active');
    });
    e.classList.add('active');
}
</script>
{% endblock %}

