@import "mixins.scss";

.support-page {
    padding:25px;
    @include screen(1024) {
        padding-top:50px;
        padding-bottom: 100px;
    }
    .columns {
        padding-top:30px;
        @include screen(1024) {
            padding-top:60px;
        }
    }
    .col {
        position: relative;
        z-index: 4;
        border-radius: 5px;
        box-shadow: 0 20px 80px rgb(0 0 0 / 16%);
        &-wrapper {
            padding: 25px;
            @include screen(1024) {
                padding: 35px 75px;
            }
        }

    }
    .item {
        &:not(:first-child) {
            border-top: 1px solid rgba(104, 162, 215, 1);
        }
        &.title {
            border:none;
            padding-top: 0;
            padding-bottom: 25px;
            @include screen(1024) {
                padding-bottom: 45px;
            }
            .item-head {
                &:after{
                    content: unset;
                }
            }
        }
        a,
        p {
            font-weight: 500;
        }
        &-head {
            transition: all 0.2s ease-out;
            font-weight: 400;
            cursor: pointer;
            font-weight:500;
            position: relative;
            padding-right: 50px;
            padding-top: 25px;
            padding-bottom: 25px;
            @include screen(1024) {
                padding-top: 35px;
                padding-bottom: 35px;
            }
            &:after {
                transition: all 0.3s ease-out;
                font-family: "icomoon";
                content: "\e901";
                color: #68a2d7;
                position: absolute;
                font-size: 20px;
                top: 27px;
                right: 10px;
                transform: rotate(270deg);
                @include screen(1024) {
                    font-size: 38px;
                }
            }
        }
        &-body {
            overflow:hidden;
            transition: all 0.3s ease-out;
        }
        &:not(.open) {
            .item-body {
                max-height: 0;
            }
        }
        &.open {
            .item-body {
                max-height: 500px;
                padding-bottom: 25px;
                @include screen(1024) {
                    margin: 30px 0;
                }
            }
            .item-head {
                font-size: 105%;
                font-weight: 800;
                &:after {
                    transform: rotate(90deg);
                }
            }
        }
    }
    .top {
        margin-top:25px;
        @include screen(1024) {
            margin-top: 50px;
        }
    }
    .search-holder {
        position: relative;
        padding: 0 25px;
        @include screen(1024) {
            padding: 0 75px;
        }
        .search {
            position: absolute;
            top: 31px;
            left: 47px;        
            @include screen(1024) {
                top: 27px;
                left: 105px;
            }
            &:before {
                font-family: "icomoon";
                content: "\e905";
                color: #68a2d7;
            }
        }
    }
    #spsb {
        height: 76px;
        width: calc(100% - 75px);
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-radius: 5px;
        border: none;
        color: rgba(104, 162, 215, 1);
        letter-spacing: 0.5px;
        outline:none;
        font-weight: 500;
        padding-left: 50px;
        box-sizing: border-box;
        width: 100%;
        @include screen(1024) {
            padding-left: 75px;
            font-size: 20px;
            line-height: 28px;
        }
        &::placeholder {
            color: rgba(104, 162, 215, 1);
            letter-spacing: 0.5px;
            font-weight: 500;
            @include screen(1024) {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}