.support-page {
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .support-page {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
.support-page .columns {
  padding-top: 30px;
}
@media only screen and (min-width: 1024px) {
  .support-page .columns {
    padding-top: 60px;
  }
}
.support-page .col {
  position: relative;
  z-index: 4;
  border-radius: 5px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.16);
}
.support-page .col-wrapper {
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .support-page .col-wrapper {
    padding: 35px 75px;
  }
}
.support-page .item:not(:first-child) {
  border-top: 1px solid rgb(104, 162, 215);
}
.support-page .item.title {
  border: none;
  padding-top: 0;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .support-page .item.title {
    padding-bottom: 45px;
  }
}
.support-page .item.title .item-head:after {
  content: unset;
}
.support-page .item a,
.support-page .item p {
  font-weight: 500;
}
.support-page .item-head {
  transition: all 0.2s ease-out;
  font-weight: 400;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .support-page .item-head {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.support-page .item-head:after {
  transition: all 0.3s ease-out;
  font-family: "icomoon";
  content: "\e901";
  color: #68a2d7;
  position: absolute;
  font-size: 20px;
  top: 27px;
  right: 10px;
  transform: rotate(270deg);
}
@media only screen and (min-width: 1024px) {
  .support-page .item-head:after {
    font-size: 38px;
  }
}
.support-page .item-body {
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.support-page .item:not(.open) .item-body {
  max-height: 0;
}
.support-page .item.open .item-body {
  max-height: 500px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .support-page .item.open .item-body {
    margin: 30px 0;
  }
}
.support-page .item.open .item-head {
  font-size: 105%;
  font-weight: 800;
}
.support-page .item.open .item-head:after {
  transform: rotate(90deg);
}
.support-page .top {
  margin-top: 25px;
}
@media only screen and (min-width: 1024px) {
  .support-page .top {
    margin-top: 50px;
  }
}
.support-page .search-holder {
  position: relative;
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .support-page .search-holder {
    padding: 0 75px;
  }
}
.support-page .search-holder .search {
  position: absolute;
  top: 31px;
  left: 47px;
}
@media only screen and (min-width: 1024px) {
  .support-page .search-holder .search {
    top: 27px;
    left: 105px;
  }
}
.support-page .search-holder .search:before {
  font-family: "icomoon";
  content: "\e905";
  color: #68a2d7;
}
.support-page #spsb {
  height: 76px;
  width: calc(100% - 75px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  border: none;
  color: rgb(104, 162, 215);
  letter-spacing: 0.5px;
  outline: none;
  font-weight: 500;
  padding-left: 50px;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .support-page #spsb {
    padding-left: 75px;
    font-size: 20px;
    line-height: 28px;
  }
}
.support-page #spsb::placeholder {
  color: rgb(104, 162, 215);
  letter-spacing: 0.5px;
  font-weight: 500;
}
@media only screen and (min-width: 1024px) {
  .support-page #spsb::placeholder {
    font-size: 20px;
    line-height: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
