{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <div class="search-holder">
                <span class="icon search po-a"></span>
                <input id="spsb" class="spsb" type="text" name="search" placeholder="Search" minlength="4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="col right">
                <ul class="col-wrapper">
                {% for item in fields.questions.items %}
                    <li class="item">
                        <div class="item-head" onclick="toggleTab(this)">{{item.question}}</div>
                        <div class="item-body">{{item.answer}}</div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
    function toggleTab(tab) {
        tab.parentNode.classList.toggle('open');
    }
</script>
<script>
document.getElementById('spsb').addEventListener('input', function(e) {
    [...document.querySelectorAll(".item")].filter(a => !a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "none");
    [...document.querySelectorAll(".item")].filter(a => a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "block");
});
</script>
{% endblock %}

