{% extends "block-base.twig" %}

{% block content %}
<div class="single-container single">
    <section class="pattern-hero-one">
        <div class="container">
            <div class="wrapper">
                <div class="flex">
                    <h1>{{post.title}}</h1>
                    <p>{{ post.preview.length().read_more('') }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="single-holder {{blockClasses(block)}}" {{blockSection(block)}}>
        <div class="container">
            <div class="wrapper">
                <div class="flex">
                    <InnerBlocks/>
                </div>
                <div class="single-fields">
                    <ul class="">
                    {% if fields.data.client|length > 2 %}
                        <li>
                            <div class="label">Client</div>
                            <div class="value">{{fields.data.client}}</div>
                        </li>
                    {% endif %}
                    {% if industry %}
                        <li>
                            <div class="label">Industry</div>
                            <div class="value">{{industry[0].name}}</div>
                        </li>
                    {% endif %}
                    {% if fields.data.project|length > 2 %}
                        <li>
                            <div class="label">Project</div>
                            <div class="value">{{fields.data.project}}</div>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% if fields.add_testimonial %}
    <section class="single-testimonial">
        <div class="bg"></div>
        <div class="inner">
            <div class="single-testimonial-content">{{fields.quote}}</div>
            <div class="single-testimonial-author">{{fields.author}}</div>
            <div class="shape">
                <svg id="Group_30" data-name="Group 30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34.225" height="30.679" viewBox="0 0 34.225 30.679">
                    <defs>
                        <clipPath id="clip-path">
                        <rect id="Rectangle_85" data-name="Rectangle 85" width="34.225" height="30.679" fill="#1f7a8c"/>
                        </clipPath>
                    </defs>
                    <g id="Group_29" data-name="Group 29" transform="translate(0 0)" clip-path="url(#clip-path)">
                        <path id="Path_8" data-name="Path 8" d="M0,21.647C0,15.2,4.3,5.591,13.189,0l1.577,1.577c-5.3,5.734-7.311,9.748-8.171,15.339a3.153,3.153,0,0,1,1.147-.144,6.956,6.956,0,0,1,0,13.906C4.014,30.679,0,27.955,0,21.647m19.459,0C19.459,15.2,23.76,5.591,32.5,0l1.721,1.577c-5.3,5.734-7.455,9.748-8.171,15.339a2.789,2.789,0,0,1,1.147-.144,6.956,6.956,0,0,1,0,13.906c-3.727,0-7.741-2.724-7.741-9.032" transform="translate(0 0)" fill="#1f7a8c"/>
                    </g>
                </svg>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="case-study-feed-one">
        <div class="container">
            <div class="wrapper">
                <ul class="color-boxes fade-up">
                    {% for box in related %}
                        <a class="box" href="{{box.link}}">
                            <div class="inner">
                                <div class="box-title">
                                    <div class="title">{{box.title}}</div>
                                    <div class="arrow"></div>
                                </div>
                                <p>{{fn('get_the_terms', box.id, 'Industry')[0].name}}</p>
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}

