@media only screen and (max-width: 1023px) {
  .csf {
    padding: 15px;
  }
}
.csf-top {
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .csf-top {
    padding: 0;
  }
}
.csf-top h2 {
  color: rgb(104, 162, 215);
}
.csf-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .csf-button.hide-desktop .btn {
    margin: auto;
  }
}

.related {
  padding: 50px 0 !important;
}
.related-list {
  display: flex;
}
.related-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  background: white;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 45px;
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .related-item {
    flex: 0 0 33.33%;
    max-width: 440px;
  }
}
.related-item h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.related-sum p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
.related-list {
  flex-wrap: wrap;
  column-gap: 15px;
  margin-top: 25px;
}
@media only screen and (max-width: 1023px) {
  .related-list {
    justify-content: center;
  }
}
.related-container {
  display: flex;
  flex-direction: column;
}
.related-info {
  flex-grow: 1;
  display: flex;
}
.related-read .read-more {
  position: relative;
  transition: all 0.3s ease-out;
  display: block;
  border-radius: 5px;
  border: 1px solid #68A2D7;
  color: #68A2D7;
  padding: 20px;
}
.related-read .read-more span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.related-read .read-more:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e901";
  color: #68a2d7;
  font-family: "icomoon";
  right: 0;
  transform: rotate(180deg);
  right: 25px;
}
.related-read .read-more:hover {
  background: #68A2D7;
  color: white;
}
.related-read .read-more:hover:before {
  color: white;
}
.related-image {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}
.related-image img {
  display: block;
  transition: 0.5s ease;
  object-fit: cover;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1024px) {
  .related-image img {
    width: 352px;
    height: 198px;
  }
}
.related-image label {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #92D400;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: max-content;
  text-align: center;
  display: block;
  padding: 0 10px;
}

.post-feed-full {
  padding: 50px 25px;
}
@media only screen and (min-width: 1024px) {
  .post-feed-full {
    padding: 100px 0;
  }
}
.post-feed-full .see-all {
  margin: auto;
  color: #68A2D7;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  min-width: 300px;
  display: block;
  width: fit-content;
  text-align: center;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
}
.post-feed-full .see-all:hover {
  color: white;
  background: #68A2D7;
}

/*# sourceMappingURL=style.css.map */
