.contact-columns {
  padding: 25px;
}
@media only screen and (min-width: 1280px) {
  .contact-columns {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-columns .columns {
    display: flex;
    gap: 5vw;
    align-items: baseline;
  }
}
.contact-columns .col {
  position: relative;
  z-index: 4;
  border-radius: 5px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.16);
}
@media only screen and (min-width: 1280px) {
  .contact-columns .col {
    flex: 0 0 calc(50% - 2.5vw);
    border-radius: 15px;
  }
}
.contact-columns .col-wrapper {
  padding: 50px;
}
@media only screen and (min-width: 1280px) {
  .contact-columns .col-wrapper {
    padding: 75px;
  }
}
.contact-columns .col.left {
  background: linear-gradient(360deg, rgb(104, 162, 215) 0%, rgb(83, 125, 191) 100%);
}
.contact-columns .col.left .item.title h2 {
  color: #ed196f;
}
.contact-columns .col.left .item-head:after {
  content: unset;
}
.contact-columns .col.left a,
.contact-columns .col.left p {
  font-weight: 500;
  color: white;
  margin-bottom: 0;
}
.contact-columns .col.right {
  background: white;
}
.contact-columns .col.right .item.title h2 {
  color: #ED196F;
}
.contact-columns .col.right .item-head {
  cursor: pointer;
}
.contact-columns .col.right a {
  font-weight: 500;
  color: #2b2e74;
}
.contact-columns .col.right p {
  margin-bottom: 0;
  margin-top: 10px;
}
.contact-columns .col + .col {
  margin-top: 50px;
}
@media only screen and (min-width: 1280px) {
  .contact-columns .col + .col {
    margin-top: 0;
  }
}
.contact-columns .item {
  border-top: 1px solid rgb(104, 162, 215);
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1280px) {
  .contact-columns .item {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.contact-columns .item.title {
  border: none;
  padding-top: 0;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1280px) {
  .contact-columns .item.title {
    padding-bottom: 45px;
  }
}
.contact-columns .item.title .item-head:after {
  content: unset;
}
.contact-columns .item a,
.contact-columns .item p {
  font-weight: 500;
}
.contact-columns .item-head {
  position: relative;
  margin-right: 50px;
}
.contact-columns .item-head:after {
  transition: all 0.3s ease-out;
  font-family: "icomoon";
  content: "\e901";
  color: #68a2d7;
  position: absolute;
  font-size: 20px;
  top: 7px;
  right: -40px;
  transform: rotate(270deg);
}
@media only screen and (min-width: 1280px) {
  .contact-columns .item-head:after {
    font-size: 38px;
  }
}
.contact-columns .item-body {
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.contact-columns .item:not(.open) .item-body {
  max-height: 0;
}
.contact-columns .item.open .item-body {
  max-height: 200px;
}
@media only screen and (min-width: 1280px) {
  .contact-columns .item.open .item-body {
    margin-top: 20px;
  }
}
.contact-columns .item.open .item-head:after {
  transform: rotate(90deg);
}

/*# sourceMappingURL=style.css.map */
