@import "mixins.scss";

.contact-columns {
    padding:25px;
    @include screen(1280) {
        padding-top:50px;
        padding-bottom: 100px;
    }
    .columns {
        @include screen(1280) {
            display:flex;
            gap:5vw;
            align-items: baseline;
        }
    }
    .col {
        position: relative;
        z-index: 4;
        border-radius: 5px;
        box-shadow: 0 20px 80px rgb(0 0 0 / 16%);
        @include screen(1280) {
            flex: 0 0 calc(50% - 2.5vw);
            border-radius: 15px;
        }
        &-wrapper {
            padding: 50px;
            @include screen(1280) {
                padding: 75px;
            }
        }
        &.left {
            background: linear-gradient(360deg, rgba(104,162,215,1) 0%, rgba(83,125,191,1) 100%);
            .item.title  {
                h2 {
                    color: #ed196f;
                }
            }
            .item-head {
                &:after{
                    content: unset;
                }
            }
            a,
            p {
                font-weight: 500;
                color:white;
                margin-bottom: 0;
            }
        }
        &.right {
            background:white;
            .item.title {
                h2 {
                    color:#ED196F;
                }
            }
            .item-head {
                cursor:pointer;
            }
            a {
                font-weight: 500;
                color:#2b2e74;
            }
            p {
                margin-bottom: 0;
                margin-top:10px;
            }
        }
        & + .col {
            margin-top: 50px;
            @include screen(1280) {
                margin-top:0;
            }
        }
    }
    .item {
        border-top: 1px solid rgba(104, 162, 215, 1);
        padding-top: 25px;
        padding-bottom: 25px;
        @include screen(1280) {
            padding-top: 35px;
            padding-bottom: 35px;
        }
        &.title {
            border:none;
            padding-top: 0;
            padding-bottom: 25px;
            @include screen(1280) {
                padding-bottom: 45px;
            }
            .item-head {
                &:after{
                    content: unset;
                }
            }
        }
        a,
        p {
            font-weight: 500;
        }
        &-head {
            position: relative;
            margin-right: 50px;
            &:after {
                transition: all 0.3s ease-out;
                font-family: "icomoon";
                content: "\e901";
                color: #68a2d7;
                position: absolute;
                font-size: 20px;
                top: 7px;
                right: -40px;
                transform: rotate(270deg);
                @include screen(1280) {
                    font-size: 38px;
                }
            }
        }
        &-body {
            overflow:hidden;
            transition: all 0.3s ease-out;
        }
        &:not(.open) {
            .item-body {
                max-height: 0;
            }
        }
        &.open {
            .item-body {
                max-height: 200px;
                @include screen(1280) {
                    margin-top: 20px;
                }
            }
            .item-head {
                &:after {
                    transform: rotate(90deg);
                }
            }
        }
    }
}