{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="columns">
            <div class="col left">
                <ul class="col-wrapper">
                {% if fields.left_tab.title %}
                    <li class="item title">
                        <div class="item-head"><h2>{{fields.left_tab.title}}</h2></div>
                    </li>
                {% endif %}
                {% for item in fields.left_tab.items %}
                    <li class="item open">
                        <div class="item-head"><h2>{{item.title}}</h2></div>
                        <div class="item-body">{{item.content}}</div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            
            <div class="col right">
                <ul class="col-wrapper">
                {% if fields.right_tab.title %}
                    <li class="item title">
                        <div class="item-head"><h2>{{fields.right_tab.title}}</h2></div>
                    </li>
                {% endif %}
                {% for item in fields.right_tab.items %}
                    <li class="item {% if loop.first %}open{% endif %}">
                        <div class="item-head" onclick="toggleTab(this)"><h2>{{item.title}}</h2></div>
                        <div class="item-body">{{item.content}}</div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
    function toggleTab(tab) {
        tab.parentNode.classList.toggle('open');
    }
</script>
{% endblock %}

