@media only screen and (min-width: 1200px) {
  .wheel-hero {
    padding: 100px 0;
  }
}
.wheel-hero .wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 75px;
  padding-bottom: 75px;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .wrapper {
    margin-top: 10vh;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
.wheel-hero .top {
  padding: 0 50px;
  padding-top: 75px;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .top {
    padding: 0;
  }
}
.wheel-hero .media {
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .media {
    margin: auto;
    max-width: 594px;
  }
}
.wheel-hero .label {
  font-size: 20px;
  line-height: 1.1;
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(104, 162, 215);
  font-weight: 700;
}
@media only screen and (min-width: 400px) {
  .wheel-hero .label {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .label {
    top: 54%;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.8px;
  }
}
.wheel-hero .wheel-box.single {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  background: #537DBF;
  width: 245px;
  height: 71px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 400px) {
  .wheel-hero .wheel-box.single {
    top: -52px;
  }
}
@media only screen and (min-width: 400px) {
  .wheel-hero .wheel-box.single {
    top: 2.5%;
  }
}
.wheel-hero .wheel {
  display: block;
  position: relative;
  height: 524px;
  width: 548px;
  overflow: hidden;
  max-width: 100vw;
}
@media only screen and (max-width: 1023px) {
  .wheel-hero .wheel {
    margin: -50px auto;
  }
}
.wheel-hero .wheel svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90%;
  margin: auto;
}
@media only screen and (max-width: 1023px) {
  .wheel-hero .wheel svg {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .wheel svg {
    max-width: 100vw;
  }
}
.wheel-hero .wheel-box {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  background: rgb(43, 46, 116);
  padding: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: -30px;
}
@media only screen and (min-width: 1024px) {
  .wheel-hero .wheel-box {
    font-size: 25px;
  }
}
.wheel-hero .wheel-boxes .wheel-box {
  padding: 0 25px;
  position: absolute;
  width: 300px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wheel-hero .wheel-boxes .wheel-box:nth-child(1) {
  background: #537DBF;
  left: 0;
  right: 0;
  z-index: -1;
  top: -52px;
}
.wheel-hero .wheel-boxes .wheel-box:nth-child(2) {
  background: #ED196F;
  left: 0;
  z-index: -1;
  top: 34.5%;
  right: -861px;
}
.wheel-hero .wheel-boxes .wheel-box:nth-child(3) {
  background: #2B2E74;
  left: 0;
  z-index: -1;
  bottom: -76px;
  right: -659px;
}
.wheel-hero .wheel-boxes .wheel-box:nth-child(4) {
  background: #344BA0;
  left: 0;
  z-index: -1;
  bottom: -76px;
  left: -227px;
}
.wheel-hero .wheel-boxes .wheel-box:nth-child(5) {
  background: #68A2D7;
  left: 0;
  z-index: -1;
  top: 34.5%;
  left: -330px;
}

@media only screen and (min-width: 1280px) {
  .wheel-block-one .wheel-box {
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    opacity: 1;
  }
  .wheel-block-one .wheel-box:nth-child(1) {
    transition-delay: 0s;
  }
  .wheel-block-one .wheel-box:nth-child(2) {
    transition-delay: 1s;
  }
  .wheel-block-one .wheel-box:nth-child(3) {
    transition-delay: 2s;
  }
  .wheel-block-one .wheel-box:nth-child(4) {
    transition-delay: 3s;
  }
  .wheel-block-one .wheel-box:nth-child(5) {
    transition-delay: 4s;
  }
  .wheel-block-one:not(.active) .wheel-box {
    opacity: 0;
  }
}
.legend {
  display: flex;
  gap: 17px;
  align-items: center;
  max-width: 80%;
  margin: 10px auto;
}

@media only screen and (max-width: 1279px) {
  .wheel-box.single {
    background: none !important;
    box-shadow: none;
  }
}
.wheel-box.single[data-state="1"] .mobile-boxes .wheel-box:nth-child(1) {
  display: flex !important;
}
.wheel-box.single[data-state="2"] .mobile-boxes .wheel-box:nth-child(2) {
  display: flex !important;
}
.wheel-box.single[data-state="3"] .mobile-boxes .wheel-box:nth-child(3) {
  display: flex !important;
}
.wheel-box.single[data-state="4"] .mobile-boxes .wheel-box:nth-child(4) {
  display: flex !important;
}
.wheel-box.single[data-state="5"] .mobile-boxes .wheel-box:nth-child(5) {
  display: flex !important;
}

@media only screen and (max-width: 1279px) {
  .mobile-boxes .wheel-box {
    padding: 20px;
    display: none;
    min-height: 72px;
    box-sizing: border-box;
    align-items: center;
  }
}
.mobile-boxes .wheel-box:nth-child(1) {
  background: #537DBF;
}
.mobile-boxes .wheel-box:nth-child(2) {
  background: #ED196F;
}
.mobile-boxes .wheel-box:nth-child(3) {
  background: #2B2E74;
}
.mobile-boxes .wheel-box:nth-child(4) {
  background: #344BA0;
}
.mobile-boxes .wheel-box:nth-child(5) {
  background: #68A2D7;
}

.wheel[data-state="1"] .mobile-boxes .wheel-box:nth-child(1) {
  display: flex !important;
}
.wheel[data-state="2"] .mobile-boxes .wheel-box:nth-child(2) {
  display: flex !important;
}
.wheel[data-state="3"] .mobile-boxes .wheel-box:nth-child(3) {
  display: flex !important;
}
.wheel[data-state="4"] .mobile-boxes .wheel-box:nth-child(4) {
  display: flex !important;
}
.wheel[data-state="5"] .mobile-boxes .wheel-box:nth-child(5) {
  display: flex !important;
}

/*# sourceMappingURL=style.css.map */
