@import "mixins.scss";

.wheel-hero {
    @include screen(1200) {
        padding: 100px 0;
    }
    .wrapper {
        display:flex;
        flex-direction: column-reverse;
        padding-top: 75px;
        padding-bottom: 75px;
        @include screen(1024) {
            margin-top:10vh;
            flex-direction: row;
            padding-top: 100px;
            padding-bottom: 150px;
        }
    }
    .top {
        padding: 0 50px;
        padding-top: 75px;
        @include screen(1024) {
            padding:0;
        }
    }
    .media {
        position: relative;
//        overflow: hidden;
        @include screen(1024) {
            margin: auto;
            max-width: 594px;
        }
        svg {
//            transform: rotate(324deg);
        }
    }
    .label {
        font-size: 20px;
        line-height: 1.1;
        position: absolute;
        left: 50%;
        top: 44%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: rgba(104, 162, 215, 1);
        font-weight: 700;
        @include screen(400) {
            font-size: 25px;
        }
        @include screen(1024) {
            top: 54%;
            font-size: 30px;
            line-height: 1.2;
            letter-spacing: 0.8px;
        }
    }
    .wheel-box.single {
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        right: 0;
        background: #537DBF;
        width: 245px;
        height: 71px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include screen(400) {
            top: -52px;
        }
        @include screen(400) {
            top: 2.5%;
        }
    }
    .wheel {
        display:block;
        position:relative;
//        height:593px;
//        width:593px;
        height:524px;
        width:548px;
        overflow: hidden;
        max-width: 100vw;
        @include screen(0,1023) {
            margin: -50px auto;
        }
        svg {
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            max-width: 90%;
            margin: auto;
            @include screen(0,1023) {
                max-width: 90%;
            }
            @include screen(1024) {
                max-width: 100vw;
            }
        }
    }
    .wheel-box {
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-radius: 15px;
        background: rgba(43, 46, 116, 1);
        padding: 40px;
        color: white;
        font-size: 16px;
        text-align: center;
        width: fit-content;
        margin: auto;
        margin-top: -30px;
        @include screen(1024) {
            font-size: 25px;
        }
    }
    .wheel-boxes {
        .wheel-box {
            padding:0 25px;
            position: absolute;
            width: 300px;
            height: 102px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1) {
                background:#537DBF;
                left:0;
                right:0;
                z-index:-1;
//                top: -44px;
                top:-52px;
            }
            &:nth-child(2) {
                background:#ED196F;
                left:0;
                z-index:-1;
//                top: 32.5%;
                top: 34.5%;
                right: -861px;
            }
            &:nth-child(3) {
                background:#2B2E74;
                left:0;
                z-index:-1;
//                bottom: -18px;
                bottom: -76px;
                right: -659px;
            }
            &:nth-child(4) {
                background:#344BA0;
                left:0;
                z-index:-1;
                // bottom: -18px;
                // left: -208px;
                bottom: -76px;
                left: -227px;
            }
            &:nth-child(5) {
                background:#68A2D7;
                left:0;
                z-index:-1;
                // top: 32.5%;
                // left: -310px;
                top: 34.5%;
                left: -330px;
            }
        }
    }
}

@include screen(1280) {
    .wheel-block-one {
        .wheel-box {
            transition-property: opacity;
            transition-timing-function: ease-out;
            transition-duration: 0.5s;
            opacity:1;
            &:nth-child(1) {
                transition-delay: 0s;
            }
            &:nth-child(2) {
                transition-delay: 1s;
            }
            &:nth-child(3) {
                transition-delay: 2s;
            }
            &:nth-child(4) {
                transition-delay: 3s;
            }
            &:nth-child(5) {
                transition-delay: 4s;
            }
            @include screen(1280) {
                
            }
        }
        &:not(.active) {
            .wheel-box {
                opacity:0;
            }
        }
    }
}

.legend {
    display: flex;
    gap: 17px;
    align-items: center;
    max-width: 80%;
    margin: 10px auto;
}

.wheel-box.single {
    @include screen(0,1279) {
        background: none !important;
        box-shadow: none;
    }
    &[data-state="1"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(1) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="2"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(2) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="3"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(3) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="4"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(4) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="5"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(5) {
                    display: flex !important;
                }
            }
        }
    }
}

.mobile-boxes {
    .wheel-box {
        @include screen(0,1279) {
            padding: 20px;
            display:none;
            min-height: 72px;
            box-sizing: border-box;
            align-items: center;
        }
        &:nth-child(1) {
            background:#537DBF;
        }
        &:nth-child(2) {
            background:#ED196F;
        }
        &:nth-child(3) {
            background:#2B2E74;
        }
        &:nth-child(4) {
            background:#344BA0;
        }
        &:nth-child(5) {
            background:#68A2D7;
        }
    }
}

.wheel {
    &[data-state="1"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(1) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="2"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(2) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="3"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(3) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="4"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(4) {
                    display: flex !important;
                }
            }
        }
    }
    &[data-state="5"] {
        .mobile-boxes {
            .wheel-box {
                &:nth-child(5) {
                    display: flex !important;
                }
            }
        }
    }
}