{% extends "block-base.twig" %}

{% block content %}
<section class="wheel-hero {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="media">
                <div class="wheel" onclick="toggleWheelState(this.dataset, this);" data-state="1">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="548.199" height="523.316" viewBox="0 0 548.199 523.316">
                    <defs>
                      <radialGradient id="radial-gradient" cx="0.5" cy="0.5" r="0.5" gradientUnits="objectBoundingBox">
                        <stop offset="0"/>
                        <stop offset="0.185" stop-color="#020202"/>
                        <stop offset="0.318" stop-color="#0c0c0c"/>
                        <stop offset="0.435" stop-color="#1b1b1b"/>
                        <stop offset="0.542" stop-color="#323232"/>
                        <stop offset="0.643" stop-color="#4f4f4f"/>
                        <stop offset="0.739" stop-color="#727272"/>
                        <stop offset="0.832" stop-color="#9c9c9c"/>
                        <stop offset="0.919" stop-color="#cbcbcb"/>
                        <stop offset="1" stop-color="#fff"/>
                      </radialGradient>
                      <linearGradient id="linear-gradient" y1="0.5" x2="16.508" y2="0.5" gradientUnits="objectBoundingBox">
                        <stop offset="0" stop-color="#68a2d7"/>
                        <stop offset="0.262" stop-color="#537dbf"/>
                        <stop offset="0.5" stop-color="#344ba0"/>
                        <stop offset="0.738" stop-color="#2b2e74"/>
                        <stop offset="1" stop-color="#ed196f"/>
                      </linearGradient>
                      <linearGradient id="linear-gradient-2" x1="-0.276" y1="0.5" x2="6.042" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-3" x1="-0.829" y1="0.5" x2="2.865" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-4" x1="-3.818" y1="0.5" x2="1.16" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-5" x1="-22.327" y1="0.5" x2="1" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-6" x1="-0.647" y1="0.5" x2="2.808" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-7" x1="-0.205" y1="0.5" x2="6.176" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-8" x1="-2.156" y1="0.5" x2="1.965" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-9" x1="-4.386" y1="0.5" x2="1.127" y2="0.5" xlink:href="#linear-gradient"/>
                      <linearGradient id="linear-gradient-10" x1="-1.986" y1="0.5" x2="1.878" y2="0.5" xlink:href="#linear-gradient"/>
                    </defs>
                    <g id="Group_14953" data-name="Group 14953" transform="translate(-166.748 -205.547)">
                      <g id="Group_14952" data-name="Group 14952" transform="translate(166.748 205.547)">
                        <g id="Group_14940" data-name="Group 14940" transform="translate(61.763 74.851)">
                          <path id="Path_432929" data-name="Path 432929" d="M433.172,695.757q-.879,0-1.757-.007l.016-1.987q1.98.015,3.958,0l.021,1.987Q434.292,695.757,433.172,695.757Zm-5.75-.076q-2-.053-3.991-.144l.089-1.985q1.973.087,3.955.142Zm11.975-.014-.056-1.987q1.982-.056,3.954-.15l.094,1.985Q441.4,695.61,439.4,695.668Zm-19.952-.348q-2-.127-3.983-.291l.163-1.98q1.968.161,3.946.289Zm27.931-.031-.131-1.982q1.978-.132,3.946-.3l.168,1.98Q449.374,695.156,447.376,695.288Zm-35.891-.625q-1.989-.2-3.969-.441l.237-1.973q1.961.236,3.933.436Zm43.85-.05-.206-1.975q1.973-.206,3.933-.446l.241,1.974Q457.324,694.406,455.335,694.614Zm-51.781-.906q-1.98-.277-3.95-.59l.313-1.963q1.951.312,3.913.585Zm59.707-.067-.28-1.967q1.963-.279,3.912-.594l.317,1.963Q465.242,693.361,463.262,693.641Zm-67.6-1.185q-1.968-.353-3.925-.738l.384-1.949q1.939.382,3.889.731Zm75.483-.086-.355-1.956q1.953-.353,3.888-.74l.389,1.949Q473.118,692.015,471.148,692.37ZM387.829,690.9q-1.953-.425-3.894-.886l.459-1.934q1.923.457,3.858.878Zm91.15-.1-.426-1.94q1.934-.425,3.855-.886l.464,1.933Q480.933,690.374,478.979,690.8Zm-98.921-1.741q-1.937-.5-3.858-1.032l.532-1.916q1.9.529,3.822,1.023Zm106.69-.12-.5-1.922q1.918-.5,3.821-1.033l.536,1.914Q488.682,688.438,486.749,688.94Zm-114.386-2.018q-1.917-.572-3.816-1.177l.6-1.894q1.882.6,3.781,1.167Zm122.076-.138-.573-1.9q1.9-.572,3.779-1.176l.609,1.892Q496.352,686.207,494.438,686.784Zm-129.7-2.3q-1.9-.647-3.782-1.328l.676-1.869q1.865.675,3.748,1.315Zm137.3-.151-.642-1.88q1.874-.641,3.731-1.318l.679,1.867Q503.933,683.691,502.041,684.338ZM357.2,681.762q-1.872-.718-3.728-1.47l.747-1.842q1.84.745,3.693,1.456Zm152.349-.156-.716-1.853q1.846-.714,3.678-1.459l.75,1.839Q511.413,680.886,509.549,681.605Zm-159.775-2.854q-1.841-.788-3.667-1.609l.815-1.813q1.807.814,3.633,1.6Zm167.159-.153-.786-1.827q1.814-.779,3.606-1.591l.821,1.81Q518.761,677.811,516.933,678.6Zm-174.464-3.132q-1.809-.858-3.6-1.748l.883-1.779q1.776.879,3.569,1.73Zm181.716-.15-.854-1.8q1.783-.849,3.545-1.726l.888,1.779Q525.985,674.462,524.185,675.317ZM335.3,671.905q-1.776-.925-3.533-1.881l.95-1.746q1.74.947,3.5,1.862Zm196.012-.14-.92-1.762q1.75-.915,3.48-1.86l.952,1.745Q533.08,670.843,531.312,671.765ZM328.27,668.078q-1.738-.99-3.458-2.013l1.016-1.708q1.7,1.012,3.426,1.993Zm210.033-.131-.985-1.727q1.713-.976,3.409-1.988l1.017,1.706Q540.033,666.958,538.3,667.946Zm-216.909-3.959q-1.7-1.055-3.379-2.141l1.079-1.668q1.663,1.076,3.348,2.12Zm223.753-.122-1.048-1.689q1.677-1.041,3.332-2.117l1.083,1.668Q546.839,662.812,545.146,663.865Zm-230.469-4.22q-1.658-1.117-3.3-2.264l1.142-1.628q1.62,1.137,3.265,2.245Zm237.159-.115-1.111-1.649q1.638-1.1,3.252-2.24l1.144,1.626Q553.491,658.412,551.837,659.529Zm-243.7-4.475q-1.615-1.178-3.208-2.387l1.2-1.584q1.577,1.2,3.177,2.364Zm250.23-.111-1.174-1.6q1.6-1.168,3.168-2.363l1.2,1.581Q559.974,653.767,558.363,654.944Zm-256.6-4.724q-1.569-1.237-3.114-2.5l1.261-1.537q1.531,1.256,3.085,2.482Zm262.949-.1-1.231-1.559q1.55-1.226,3.077-2.48l1.263,1.537Q566.279,648.877,564.711,650.115Zm-269.127-4.96q-1.521-1.3-3.017-2.617l1.315-1.49q1.483,1.312,2.991,2.594Zm275.3-.1-1.289-1.512q1.506-1.285,2.984-2.594l1.318,1.488Q572.4,643.755,570.88,645.051ZM289.6,639.862q-1.471-1.35-2.916-2.728l1.37-1.438q1.432,1.362,2.89,2.7Zm287.256-.1L575.51,638.3q1.456-1.338,2.887-2.7l1.371,1.439Q578.324,638.405,576.855,639.758Zm-293.037-5.407q-1.42-1.4-2.812-2.835l1.424-1.386q1.381,1.417,2.786,2.809Zm298.814-.105-1.4-1.411q1.406-1.394,2.785-2.811l1.425,1.385Q584.049,632.84,582.632,634.246Zm-304.383-5.617q-1.367-1.456-2.7-2.938l1.475-1.331q1.324,1.468,2.678,2.909Zm309.948-.111-1.45-1.36q1.353-1.442,2.678-2.913l1.476,1.331Q589.564,627.06,588.2,628.518Zm-315.3-5.813q-1.31-1.505-2.591-3.036l1.523-1.275q1.269,1.516,2.567,3.006Zm320.65-.119-1.5-1.3q1.3-1.494,2.567-3.012l1.526,1.276Q594.857,621.078,593.548,622.586Zm-325.775-6q-1.252-1.552-2.474-3.129l1.57-1.218q1.211,1.562,2.452,3.1Zm330.9-.13-1.547-1.247q1.242-1.541,2.453-3.108l1.572,1.218Q599.927,614.9,598.672,616.456Zm-335.788-6.173q-1.192-1.6-2.355-3.219l1.615-1.159q1.153,1.6,2.334,3.189Zm340.684-.145-1.6-1.186q1.184-1.59,2.337-3.2l1.615,1.157Q604.76,608.534,603.568,610.138ZM258.236,603.8q-1.132-1.641-2.232-3.3l1.657-1.1q1.091,1.648,2.211,3.274Zm349.987-.167-1.637-1.126q1.122-1.631,2.214-3.284l1.659,1.1Q609.355,601.991,608.223,603.636Zm-354.389-6.48q-1.069-1.68-2.107-3.383l1.7-1.036q1.029,1.687,2.087,3.353Zm358.8-.193-1.68-1.064q1.062-1.674,2.09-3.366l1.7,1.032Q613.7,595.274,612.631,596.963Zm-362.946-6.615q-1-1.718-1.977-3.459l1.735-.969q.964,1.723,1.958,3.427Zm367.1-.22-1.717-1q1-1.713,1.964-3.443l1.734.967Q617.794,588.4,616.785,590.128ZM245.8,583.4q-.939-1.756-1.845-3.531l1.771-.9q.9,1.759,1.827,3.5Zm374.885-.258-1.753-.934q.932-1.751,1.83-3.517l1.771.9Q621.625,581.372,620.683,583.137ZM242.175,576.3q-.87-1.788-1.709-3.6l1.8-.836q.831,1.79,1.693,3.562Zm382.139-.3-1.789-.868q.867-1.783,1.7-3.584l1.805.833Q625.187,574.2,624.314,576Zm-385.49-6.92q-.8-1.819-1.572-3.657l1.833-.766q.764,1.817,1.559,3.62Zm388.849-.351-1.82-.8q.8-1.816,1.56-3.649l1.836.765Q628.477,566.9,627.673,568.731Zm-391.924-6.988q-.736-1.855-1.439-3.726l1.86-.7q.7,1.853,1.426,3.692Zm395-.405-1.849-.731q.73-1.843,1.423-3.7l1.862.693Q631.489,559.476,630.753,561.337Zm-397.811-7.075q-.665-1.881-1.3-3.776l1.885-.628q.625,1.877,1.285,3.742Zm400.612-.436-1.875-.658q.658-1.872,1.281-3.759l1.886.622Q634.22,551.938,633.554,553.826Zm-403.133-7.143q-.593-1.9-1.152-3.824l1.908-.556q.553,1.9,1.142,3.79Zm405.648-.47-1.9-.586q.584-1.889,1.134-3.792l1.908.552Q636.657,544.306,636.068,546.212Zm-407.88-7.2q-.519-1.927-1.006-3.866l1.927-.483q.481,1.922,1,3.83Zm410.093-.476-1.921-.516q.514-1.908.99-3.83l1.929.477Q638.8,536.612,638.281,538.539Zm-412.032-7.274q-.447-1.941-.86-3.9l1.945-.41q.409,1.941.852,3.864Zm413.954-.48-1.939-.442q.44-1.927.843-3.865l1.947.4Q640.644,528.84,640.2,530.785Zm-415.6-7.337q-.373-1.958-.711-3.93l1.959-.336q.334,1.954.7,3.894Zm417.226-.485-1.954-.367q.365-1.942.7-3.895l1.961.33Q642.2,521,641.83,522.964Zm-418.574-7.388q-.3-1.971-.563-3.955l1.971-.26q.26,1.965.557,3.918Zm419.9-.488-1.964-.291q.291-1.956.547-3.92l1.972.257Q643.453,513.117,643.158,515.088ZM222.206,507.66q-.226-1.983-.415-3.974l1.979-.187q.187,1.971.41,3.935Zm421.987-.491-1.977-.22q.221-1.965.4-3.937l1.978.183Q644.414,505.186,644.193,507.169Zm-422.74-7.462q-.151-1.987-.265-3.984l1.983-.114q.115,1.978.263,3.949Zm423.474-.493-1.982-.145q.146-1.968.254-3.949l1.985.11Q645.073,497.227,644.927,499.214ZM221,491.733q-.075-1.985-.116-3.982l1.987-.04q.041,1.978.115,3.946Zm424.367-.492-1.987-.072q.072-1.973.107-3.957l1.987.037Q645.436,489.248,645.364,491.241Zm-422.539-7.486h-1.988v-.337q0-2,.037-3.989l1.987.038q-.036,1.971-.037,3.955Zm422.68-.5h-1.987q0-1.983-.039-3.957l1.987-.039Q645.5,481.253,645.5,483.256Zm-422.534-7.744-1.986-.073q.074-2,.184-3.99l1.986.111Q223.044,473.531,222.971,475.512Zm420.394-.16q-.072-1.982-.185-3.952l1.984-.112q.113,1.989.187,3.99ZM223.411,467.61l-1.982-.147q.147-2,.333-3.981l1.979.185Q223.557,465.635,223.411,467.61Zm419.509-.158q-.146-1.978-.332-3.943l1.979-.186q.187,1.985.337,3.979Zm-418.776-7.72-1.974-.22q.223-1.99.482-3.966l1.97.258Q224.366,457.762,224.144,459.732Zm418.037-.159q-.223-1.968-.481-3.927l1.972-.259q.259,1.977.484,3.963Zm-417.007-7.686-1.966-.3q.3-1.977.631-3.943l1.959.332Q225.468,449.929,225.174,451.888Zm415.972-.158q-.3-1.958-.629-3.908l1.961-.332q.332,1.966.633,3.943ZM226.5,444.086l-1.953-.37q.372-1.965.78-3.918l1.946.405Q226.865,442.139,226.5,444.086Zm413.32-.156q-.368-1.947-.774-3.879l1.945-.409q.408,1.953.783,3.918Zm-411.7-7.59-1.938-.442q.445-1.951.927-3.886l1.93.48Q228.556,434.41,228.114,436.34Zm410.078-.153q-.442-1.93-.921-3.847l1.93-.482q.481,1.936.93,3.885Zm-408.169-7.525-1.918-.515q.519-1.932,1.073-3.848l1.909.553Q230.538,426.748,230.023,428.662Zm406.256-.153q-.517-1.911-1.068-3.809l1.909-.554q.557,1.915,1.077,3.846Zm-404.056-7.446-1.9-.589q.594-1.918,1.224-3.818l1.888.626Q232.811,419.163,232.224,421.063Zm401.849-.153q-.586-1.893-1.209-3.766l1.886-.627q.629,1.893,1.222,3.8Zm-399.354-7.389-1.875-.66q.668-1.893,1.368-3.768l1.862.7Q235.379,411.646,234.719,413.521Zm396.864-.119q-.661-1.869-1.354-3.72l1.862-.7q.7,1.869,1.365,3.753ZM237.5,406.084l-1.848-.732q.738-1.863,1.508-3.711l1.835.766Q238.228,404.238,237.5,406.084Zm391.309-.094q-.728-1.833-1.487-3.651l1.834-.766q.766,1.834,1.5,3.685Zm-388.25-7.229-1.819-.8q.807-1.834,1.648-3.649l1.8.835Q241.358,396.944,240.557,398.761Zm385.209-.043q-.795-1.805-1.624-3.594l1.8-.835q.836,1.8,1.64,3.627Zm-3.315-7.155q-.862-1.774-1.757-3.531l1.77-.9q.906,1.773,1.776,3.565Zm-378.561,0-1.787-.869q.875-1.8,1.785-3.583l1.771.9Q244.758,389.778,243.89,391.561Zm374.981-7.027q-.93-1.744-1.891-3.466l1.735-.967q.971,1.737,1.909,3.5ZM247.493,384.5l-1.754-.935q.944-1.766,1.918-3.512l1.736.968Q248.425,382.747,247.493,384.5Zm367.532-6.856q-.993-1.706-2.02-3.391l1.7-1.032q1.035,1.7,2.039,3.423Zm-363.666-.065-1.717-1q1.009-1.73,2.049-3.437l1.7,1.034Q252.356,375.862,251.358,377.576ZM610.92,370.9q-1.057-1.668-2.146-3.315l1.657-1.1q1.1,1.663,2.168,3.347Zm-355.439-.089-1.679-1.065q1.072-1.689,2.176-3.356l1.657,1.1Q256.542,369.134,255.48,370.806Zm351.085-6.5q-1.122-1.627-2.271-3.233l1.615-1.158q1.163,1.62,2.293,3.263ZM259.853,364.2l-1.637-1.128q1.136-1.646,2.3-3.27l1.615,1.158Q260.976,362.569,259.853,364.2Zm342.11-6.316q-1.178-1.586-2.389-3.147l1.57-1.217q1.221,1.576,2.414,3.177Zm-337.495-.12-1.593-1.189q1.2-1.6,2.421-3.181l1.57,1.22Q265.652,356.176,264.468,357.764Zm332.657-6.13q-1.242-1.54-2.508-3.057l1.526-1.274q1.278,1.53,2.529,3.085Zm-327.8-.127-1.548-1.248q1.256-1.555,2.537-3.088l1.524,1.275Q270.564,349.967,269.322,351.508Zm322.731-5.939q-1.3-1.492-2.621-2.961l1.477-1.33q1.336,1.482,2.644,2.988Zm-317.649-.13-1.5-1.305q1.312-1.507,2.651-2.989l1.474,1.333Q275.7,343.944,274.4,345.439ZM586.756,339.7q-1.351-1.444-2.73-2.862l1.425-1.385q1.393,1.432,2.757,2.889Zm-307.048-.131-1.449-1.359q1.365-1.458,2.759-2.888l1.424,1.386Q281.063,338.121,279.709,339.565Zm301.536-5.542q-1.406-1.392-2.838-2.759l1.375-1.438q1.442,1.379,2.86,2.785ZM285.228,333.9l-1.4-1.414q1.418-1.4,2.864-2.782l1.371,1.439Q286.634,332.5,285.228,333.9Zm290.293-5.336q-1.458-1.339-2.938-2.651l1.318-1.488q1.5,1.324,2.965,2.677Zm-284.568-.121-1.344-1.465q1.47-1.348,2.965-2.672l1.317,1.489Q292.41,327.1,290.954,328.438ZM569.6,323.311q-1.5-1.285-3.035-2.541l1.261-1.537q1.545,1.269,3.065,2.565ZM296.878,323.2l-1.288-1.513q1.519-1.293,3.063-2.559l1.259,1.537Q298.382,321.918,296.878,323.2Zm266.6-4.912q-1.554-1.226-3.13-2.425l1.2-1.583q1.591,1.211,3.158,2.448Zm-260.484-.1-1.232-1.56q1.567-1.235,3.155-2.441l1.2,1.583Q304.542,316.965,302.993,318.188ZM557.174,313.5q-1.6-1.17-3.22-2.307l1.142-1.627q1.637,1.149,3.251,2.329Zm-247.887-.086-1.172-1.6q1.61-1.177,3.244-2.321l1.141,1.627Q310.881,312.245,309.287,313.41Zm241.406-4.468q-1.644-1.108-3.306-2.186l1.08-1.668q1.679,1.086,3.337,2.2Zm-234.938-.07-1.111-1.648q1.653-1.113,3.326-2.2l1.08,1.668Q317.392,307.77,315.754,308.872Zm228.286-4.239q-1.682-1.046-3.385-2.06l1.017-1.708q1.718,1.026,3.418,2.079Zm-221.655-.053-1.048-1.688q1.692-1.05,3.405-2.071l1.017,1.709Q324.06,303.54,322.385,304.581Zm214.846-4q-1.72-.981-3.461-1.931l.952-1.746q1.757.959,3.494,1.95Zm-208.061-.033-.984-1.727q1.728-.987,3.478-1.94l.952,1.744Q330.885,299.569,329.17,300.545Zm201.1-3.765q-1.757-.915-3.534-1.8l.886-1.779q1.793.892,3.567,1.817ZM336.1,296.767,335.18,295q1.764-.92,3.549-1.808l.885,1.78Q337.846,295.856,336.1,296.767Zm7.062-3.514-.851-1.8q1.8-.851,3.612-1.672l.818,1.812Q344.94,292.409,343.16,293.254Zm180.01-.006q-1.792-.85-3.6-1.665l.816-1.812q1.828.824,3.635,1.682ZM350.347,290.01l-.782-1.827q1.826-.781,3.67-1.534l.75,1.842Q352.158,289.234,350.347,290.01Zm165.59-.024q-1.821-.779-3.661-1.528l.748-1.841q1.858.754,3.7,1.543Zm-158.274-2.951-.714-1.854q1.862-.718,3.741-1.4l.678,1.867Q359.509,286.325,357.663,287.035ZM508.585,287q-1.85-.711-3.719-1.387l.678-1.869q1.884.683,3.754,1.4ZM365.1,284.335l-.642-1.881q1.887-.644,3.791-1.256l.607,1.893Q366.971,283.7,365.1,284.335Zm136.02-.041q-1.877-.641-3.772-1.248l.606-1.892q1.912.611,3.807,1.258Zm-128.486-2.376-.571-1.9q1.911-.572,3.837-1.111l.534,1.914Q374.528,281.349,372.634,281.917Zm120.937-.04q-1.894-.567-3.8-1.1l.533-1.915q1.927.536,3.838,1.109Zm-113.316-2.09-.5-1.924q1.932-.5,3.876-.965l.462,1.933Q382.167,279.293,380.255,279.788Zm105.693-.035q-1.915-.5-3.841-.953l.462-1.934q1.944.464,3.876.964Zm-98-1.8-.426-1.941q1.949-.428,3.91-.819l.388,1.949Q389.88,277.526,387.951,277.949Zm90.3-.032q-1.93-.42-3.873-.807l.388-1.949q1.959.391,3.91.815ZM395.711,276.4l-.352-1.956q1.963-.353,3.937-.67l.314,1.963Q397.654,276.052,395.711,276.4Zm74.78-.025q-1.946-.348-3.9-.66l.312-1.963q1.975.315,3.938.667Zm-66.967-1.228-.277-1.969q1.973-.277,3.96-.52l.241,1.972Q405.479,274.873,403.523,275.149Zm59.155-.019q-1.956-.274-3.923-.514l.239-1.972q1.987.24,3.961.517Zm-51.3-.939-.2-1.977q1.983-.2,3.976-.372l.167,1.98Q413.342,273.99,411.378,274.191Zm43.445-.015q-1.968-.2-3.941-.365l.164-1.98q1.994.166,3.977.369Zm-35.561-.647-.129-1.985q1.989-.128,3.987-.223l.092,1.985Q421.233,273.4,419.262,273.529Zm27.674-.009q-1.971-.128-3.95-.218l.091-1.986q2,.091,3.987.22Zm-19.769-.36-.056-1.987q1.99-.055,3.99-.074l.019,1.987Q429.138,273.1,427.167,273.16Zm11.866,0q-1.975-.055-3.957-.072l.018-1.987q2,.017,3.992.072Z" transform="translate(-220.837 -271.098)" fill="#e2e2e2"/>
                        </g>
                        <path id="Path_432930" data-name="Path 432930" d="M590.812,476.791A163.684,163.684,0,1,1,427.127,313.107,163.684,163.684,0,0,1,590.812,476.791Zm-163.684-152.5A153.175,153.175,0,1,0,580.3,477.463,153.175,153.175,0,0,0,427.127,324.288Z" transform="translate(-153.029 -190.287)" fill="url(#radial-gradient)"/>
                        <path id="Path_432931" data-name="Path 432931" d="M549.036,472.174A126.525,126.525,0,1,1,422.51,345.65,126.525,126.525,0,0,1,549.036,472.174ZM422.51,355.624A117.222,117.222,0,1,0,539.732,472.846,117.222,117.222,0,0,0,422.51,355.624Z" transform="translate(-148.413 -185.67)" fill="url(#radial-gradient)"/>
                        <g id="Group_14941" data-name="Group 14941" transform="translate(138.404 151.482)">
                          <path id="Path_432932" data-name="Path 432932" d="M423.8,609.6l0-1.987q1.987,0,3.962-.063l.059,1.987Q425.813,609.592,423.8,609.6Zm-4.022-.054q-2.014-.056-4.016-.171l.113-1.986q1.973.115,3.959.17Zm12.058-.188-.121-1.985q1.987-.12,3.953-.295l.177,1.98Q433.848,609.232,431.835,609.353Zm-20.083-.272q-2.009-.176-4-.409l.231-1.973q1.963.229,3.942.4Zm28.091-.442-.236-1.974q1.973-.235,3.928-.524l.292,1.964Q441.845,608.4,439.842,608.639Zm-36.078-.491q-1.994-.293-3.968-.642l.346-1.958q1.946.344,3.911.634Zm44.03-.693-.354-1.956q1.958-.353,3.892-.759l.409,1.945Q449.778,607.1,447.794,607.455Zm-51.947-.711q-1.973-.409-3.923-.878l.462-1.933q1.923.459,3.866.867Zm59.815-.947-.466-1.932q1.929-.466,3.836-.989l.524,1.918Q457.619,605.322,455.662,605.8Zm-67.633-.927q-1.944-.526-3.865-1.11l.578-1.9q1.893.574,3.808,1.1Zm75.39-1.2-.582-1.9q1.9-.582,3.77-1.215l.638,1.882Q465.344,603.084,463.419,603.673Zm-83.1-1.143q-1.915-.644-3.8-1.344l.691-1.865q1.86.689,3.746,1.326Zm90.713-1.439-.7-1.862q1.858-.694,3.692-1.44l.749,1.842Q472.919,600.388,471.034,601.092Zm-98.277-1.363q-1.872-.755-3.715-1.568l.8-1.819q1.816.8,3.659,1.545Zm105.714-1.663-.805-1.817q1.807-.8,3.588-1.652l.859,1.793Q480.307,597.254,478.471,598.066Zm-113.092-1.585q-1.821-.867-3.612-1.787l.909-1.769q1.764.908,3.558,1.762ZM485.7,594.606l-.91-1.766q1.757-.9,3.487-1.862l.96,1.74Q487.49,593.687,485.7,594.606Zm-127.494-1.8q-1.764-.973-3.5-2l1.012-1.711q1.706,1.007,3.446,1.969Zm134.514-2.078-1.015-1.708q1.7-1.011,3.374-2.068l1.063,1.68Q494.452,589.7,492.725,590.723Zm-141.446-2.016q-1.7-1.076-3.372-2.2l1.112-1.648q1.644,1.108,3.322,2.167Zm148.229-2.279-1.113-1.648q1.641-1.108,3.248-2.263l1.159,1.615Q501.172,585.3,499.508,586.428ZM344.6,584.208q-1.634-1.175-3.233-2.4l1.206-1.579q1.576,1.2,3.187,2.359Zm161.426-2.469-1.209-1.578q1.572-1.2,3.109-2.452l1.253,1.542Q507.622,580.518,506.028,581.739Zm-167.819-2.415q-1.562-1.266-3.086-2.581l1.3-1.5q1.5,1.293,3.04,2.543Zm174.053-2.654-1.3-1.505q1.5-1.295,2.96-2.631L515.264,574Q513.783,575.356,512.261,576.67Zm-180.147-2.6q-1.485-1.357-2.929-2.759l1.385-1.426q1.422,1.382,2.884,2.717Zm186.072-2.832-1.383-1.427q1.422-1.381,2.8-2.8l1.425,1.385Q519.63,569.842,518.186,571.243Zm-191.844-2.767q-1.4-1.44-2.759-2.923l1.466-1.343q1.338,1.461,2.718,2.881Zm197.446-3-1.467-1.342q1.339-1.463,2.633-2.963l1.505,1.3Q525.147,563.986,523.789,565.472Zm-202.876-2.921q-1.314-1.521-2.581-3.082l1.541-1.253q1.25,1.536,2.543,3.035Zm208.128-3.171-1.544-1.253q1.252-1.54,2.455-3.115l1.579,1.207Q530.31,557.817,529.041,559.38Zm-213.2-3.061q-1.221-1.594-2.394-3.226l1.613-1.16q1.156,1.6,2.359,3.177Zm218.082-3.33-1.615-1.16q1.158-1.61,2.267-3.255l1.649,1.111Q535.1,551.354,533.925,552.989ZM311.151,549.8q-1.124-1.661-2.2-3.359l1.679-1.063q1.06,1.672,2.166,3.309Zm227.278-3.486-1.682-1.062q1.06-1.677,2.071-3.386l1.711,1.012Q539.5,544.612,538.429,546.315Zm-231.576-3.3q-1.023-1.725-1.995-3.482l1.738-.963q.959,1.732,1.966,3.43Zm235.673-3.637-1.739-.959q.957-1.739,1.866-3.5l1.769.908Q543.5,537.62,542.526,539.382ZM302.967,536q-.92-1.78-1.785-3.591l1.793-.859q.853,1.783,1.757,3.54Zm243.241-3.784-1.793-.856q.853-1.79,1.653-3.608l1.82.8Q547.074,530.4,546.208,532.216Zm-246.7-3.45q-.81-1.829-1.568-3.69l1.842-.749q.745,1.831,1.544,3.635Zm249.953-3.927-1.843-.747q.747-1.838,1.438-3.7l1.865.691Q550.213,522.974,549.458,524.839Zm-252.982-3.507q-.7-1.882-1.35-3.789l1.883-.638q.637,1.879,1.329,3.732Zm255.786-4.056-1.883-.635q.635-1.881,1.214-3.785l1.9.578Q552.905,515.368,552.261,517.277Zm-258.37-3.559q-.589-1.918-1.121-3.861l1.917-.526q.524,1.913,1.1,3.8Zm260.715-4.147-1.918-.522q.519-1.906.981-3.838l1.934.464Q555.132,507.634,554.607,509.57Zm-262.841-3.608q-.473-1.951-.888-3.922l1.945-.411q.409,1.946.875,3.865Zm264.715-4.209-1.945-.409q.4-1.934.751-3.888l1.956.348Q556.892,499.788,556.48,501.753Zm-266.374-3.659q-.356-1.973-.653-3.968l1.965-.292q.293,1.966.644,3.909Zm267.783-4.259-1.967-.29q.289-1.954.52-3.927l1.973.232Q558.182,491.852,557.889,493.835Zm-268.972-3.692q-.238-1.992-.417-4l1.979-.177q.177,1.98.411,3.941Zm269.907-4.293-1.981-.175q.173-1.966.287-3.95l1.986.113Q559,483.853,558.825,485.85ZM288.2,482.134q-.12-2-.182-4.017l1.987-.059q.06,1.987.178,3.958Zm271.086-4.312-1.987-.056q.055-1.925.056-3.865l1.421-.071.566.038C559.343,475.212,559.324,476.521,559.287,477.823ZM289.943,474.1h-1.987v-.186c0-1.354.019-2.694.057-4.029l1.988.057q-.058,1.975-.058,3.962ZM557.3,469.843q-.062-1.989-.177-3.96l1.984-.116q.116,2,.179,4.015Zm-267.123-3.862-1.983-.115q.117-2.014.293-4.01l1.979.175Q290.289,464,290.174,465.981Zm266.653-4.049q-.176-1.978-.409-3.942l1.974-.234q.236,1.992.414,4Zm-265.959-3.844-1.974-.232q.236-2,.53-3.985l1.965.29Q291.1,456.118,290.868,458.089Zm265.027-4.023q-.291-1.966-.641-3.911l1.956-.349q.355,1.973.65,3.968Zm-263.867-3.813-1.957-.351q.355-1.982.765-3.947l1.946.409Q292.376,448.3,292.028,450.253ZM554.5,446.268q-.408-1.944-.872-3.865l1.932-.466q.469,1.951.885,3.922ZM293.652,442.5l-1.933-.466q.473-1.958,1-3.894l1.918.522Q294.115,440.568,293.652,442.5Zm258.987-3.93q-.526-1.917-1.1-3.807l1.9-.58q.587,1.918,1.119,3.861Zm-256.9-3.713-1.9-.58q.589-1.932,1.234-3.841l1.883.635Q296.315,432.95,295.734,434.854Zm254.587-3.864q-.636-1.881-1.328-3.734l1.862-.693q.7,1.882,1.347,3.789ZM298.28,427.324l-1.864-.693q.7-1.893,1.46-3.759l1.842.748Q298.972,425.46,298.28,427.324Zm249.279-3.759q-.747-1.831-1.543-3.637l1.818-.8q.81,1.833,1.564,3.691Zm-246.291-3.6-1.819-.8q.817-1.846,1.683-3.662l1.794.856Q302.071,418.144,301.268,419.964Zm243.1-3.624q-.853-1.785-1.756-3.54l1.766-.91q.916,1.781,1.782,3.593ZM304.69,412.8l-1.768-.91q.923-1.792,1.9-3.552l1.739.96Q305.6,411.032,304.69,412.8Zm236.059-3.487q-.959-1.73-1.965-3.431l1.711-1.013q1.021,1.727,1.994,3.483ZM308.53,405.853l-1.709-1.014q1.026-1.732,2.1-3.432l1.68,1.064Q309.541,404.144,308.53,405.853Zm228.189-3.346q-1.057-1.672-2.164-3.31l1.648-1.112q1.124,1.663,2.2,3.359ZM312.775,399.15l-1.648-1.112q1.129-1.67,2.3-3.3l1.613,1.161Q313.884,397.506,312.775,399.15Zm219.519-3.2q-1.153-1.607-2.357-3.179l1.579-1.207q1.22,1.595,2.393,3.226Zm-214.887-3.236-1.578-1.208q1.223-1.6,2.49-3.157l1.543,1.253Q318.611,391.138,317.406,392.713Zm210.082-3.051q-1.25-1.536-2.543-3.037l1.505-1.3q1.312,1.521,2.58,3.08Zm-205.081-3.1-1.5-1.3q1.314-1.523,2.673-3l1.465,1.342Q323.7,385.062,322.408,386.563Zm199.906-2.9q-1.336-1.461-2.715-2.883l1.425-1.384q1.4,1.442,2.758,2.926ZM327.762,380.72l-1.425-1.385q1.4-1.442,2.843-2.841l1.384,1.426Q329.142,379.3,327.762,380.72ZM516.8,377.981q-1.423-1.381-2.884-2.719l1.343-1.466q1.482,1.358,2.924,2.758ZM333.447,375.2l-1.341-1.466q1.482-1.355,3.005-2.667l1.3,1.5Q334.909,373.868,333.447,375.2Zm177.506-2.575q-1.5-1.293-3.04-2.545l1.254-1.542q1.562,1.269,3.084,2.582Zm-171.506-2.593-1.253-1.544q1.559-1.266,3.156-2.485l1.206,1.578Q340.984,368.789,339.447,370.035ZM504.8,367.63q-1.576-1.2-3.186-2.363l1.16-1.613q1.634,1.175,3.233,2.4Zm-159.064-2.4-1.16-1.616q1.631-1.17,3.3-2.293l1.111,1.648Q347.343,364.076,345.737,365.23ZM498.362,363q-1.644-1.11-3.322-2.171l1.062-1.68q1.7,1.077,3.37,2.2ZM352.3,360.806l-1.062-1.68q1.694-1.072,3.423-2.094l1.012,1.711Q353.967,359.749,352.3,360.806Zm139.364-2.046q-1.709-1.011-3.447-1.971l.961-1.74q1.762.975,3.5,2ZM359.1,356.779l-.961-1.739q1.754-.969,3.54-1.888l.909,1.768Q360.831,355.825,359.1,356.779ZM484.71,354.92q-1.766-.906-3.559-1.763l.856-1.794q1.821.868,3.611,1.788Zm-118.579-1.755-.856-1.794q1.807-.863,3.644-1.673l.8,1.819Q367.911,352.316,366.131,353.165ZM477.544,351.5q-1.814-.8-3.659-1.548l.747-1.842q1.87.759,3.712,1.571Zm-104.187-1.526-.748-1.841q1.86-.757,3.748-1.458l.692,1.864Q375.19,349.231,373.357,349.976Zm96.824-1.462q-1.86-.689-3.745-1.327l.635-1.883q1.915.646,3.8,1.346Zm-89.4-1.3-.636-1.883q1.9-.642,3.828-1.231l.58,1.9Q382.656,346.581,380.782,347.215Zm81.868-1.242q-1.891-.575-3.807-1.1l.522-1.917q1.944.529,3.863,1.113ZM388.36,344.9l-.523-1.917q1.936-.528,3.894-1l.466,1.932Q390.268,344.382,388.36,344.9Zm66.645-1.008q-1.923-.462-3.865-.868l.407-1.946q1.971.411,3.922.882Zm-58.944-.848-.408-1.945q1.963-.413,3.946-.767l.349,1.957Q398,342.638,396.062,343.045Zm51.189-.773q-1.946-.346-3.911-.637l.29-1.965q1.994.293,3.969.645Zm-43.391-.622-.29-1.965q1.982-.295,3.984-.531l.233,1.973Q405.815,341.36,403.86,341.65Zm35.553-.536q-1.963-.229-3.942-.4l.174-1.98q2.009.176,4,.41Zm-27.685-.394-.176-1.98q2-.176,4.009-.295l.118,1.983Q413.7,340.547,411.728,340.72Zm19.793-.3q-1.975-.113-3.96-.171l.058-1.987q2.013.058,4.015.175Zm-11.885-.168-.057-1.987q2-.058,4.021-.061V340.2Q421.612,340.2,419.637,340.255Z" transform="translate(-287.956 -338.208)" fill="#e2e2e2"/>
                        </g>
                        <g id="Group_14942" data-name="Group 14942" transform="translate(0 186.545)">
                          <path id="Path_432933" data-name="Path 432933" d="M184.453,404.322a17.7,17.7,0,1,1,17.7-17.7A17.725,17.725,0,0,1,184.453,404.322Zm0-27.459a9.754,9.754,0,1,0,9.755,9.754A9.766,9.766,0,0,0,184.453,376.864Z" transform="translate(-166.748 -368.914)" fill="#68a2d7"/>
                        </g>
                        <g id="Group_14943" data-name="Group 14943" transform="translate(10.832 197.375)">
                          <path id="Path_432934" data-name="Path 432934" d="M183.107,392.146a6.874,6.874,0,1,1,6.873-6.874A6.881,6.881,0,0,1,183.107,392.146Zm0-11.76a4.887,4.887,0,1,0,4.886,4.886A4.892,4.892,0,0,0,183.107,380.386Z" transform="translate(-176.234 -378.399)" fill="#e2e2e2"/>
                        </g>
                        <g id="Group_14944" data-name="Group 14944" transform="translate(256.392)">
                          <path id="Path_432935" data-name="Path 432935" d="M409,240.959a17.71,17.71,0,1,1,5.435-.861A17.736,17.736,0,0,1,409,240.959Zm-.019-27.461a9.755,9.755,0,1,0,9.288,6.753A9.741,9.741,0,0,0,408.983,213.5Z" transform="translate(-391.284 -205.547)" fill="#537dbf"/>
                        </g>
                        <g id="Group_14945" data-name="Group 14945" transform="translate(267.223 10.832)">
                          <path id="Path_432936" data-name="Path 432936" d="M407.65,228.781a6.874,6.874,0,0,1-2.122-13.414h0a6.874,6.874,0,1,1,2.122,13.414Zm-1.51-11.523a4.886,4.886,0,1,0,6.152,3.145,4.89,4.89,0,0,0-6.152-3.145Z" transform="translate(-400.77 -215.033)" fill="#e2e2e2"/>
                        </g>
                        <g id="Group_14946" data-name="Group 14946" transform="translate(512.792 186.541)">
                          <path id="Path_432937" data-name="Path 432937" d="M633.563,404.327a17.872,17.872,0,0,1-2.854-.23,17.626,17.626,0,1,1,2.854.23Zm-.051-27.459a9.75,9.75,0,0,0-7.894,15.462h0a9.754,9.754,0,1,0,7.893-15.462Z" transform="translate(-615.827 -368.91)" fill="#ed196f"/>
                        </g>
                        <g id="Group_14947" data-name="Group 14947" transform="translate(523.619 197.375)">
                          <path id="Path_432938" data-name="Path 432938" d="M632.19,392.144a6.866,6.866,0,1,1,4.016-1.3A6.87,6.87,0,0,1,632.19,392.144Zm-.021-11.758a4.889,4.889,0,1,0,3.971,2.027h0a4.854,4.854,0,0,0-3.184-1.963A4.974,4.974,0,0,0,632.169,380.386Z" transform="translate(-625.309 -378.398)" fill="#e2e2e2"/>
                        </g>
                        <g id="Group_14948" data-name="Group 14948" transform="translate(414.194 487.908)">
                          <path id="Path_432939" data-name="Path 432939" d="M547.151,668.241a17.758,17.758,0,1,1,2.737-.211A18.025,18.025,0,0,1,547.151,668.241Zm.057-27.466a9.757,9.757,0,1,0,5.745,1.888A9.743,9.743,0,0,0,547.208,640.776Z" transform="translate(-529.48 -632.834)" fill="#2b2e74"/>
                        </g>
                        <g id="Group_14949" data-name="Group 14949" transform="translate(425.032 498.731)">
                          <path id="Path_432940" data-name="Path 432940" d="M545.828,656.063a6.905,6.905,0,1,1,1.061-.082A6.931,6.931,0,0,1,545.828,656.063Zm.019-11.759a4.883,4.883,0,1,0,2.882.943A4.882,4.882,0,0,0,545.847,644.3Z" transform="translate(-538.971 -642.312)" fill="#e2e2e2"/>
                        </g>
                        <g id="Group_14950" data-name="Group 14950" transform="translate(97.125 486.83)">
                          <path id="Path_432941" data-name="Path 432941" d="M269.5,667.308a17.705,17.705,0,1,1,16.822-12.144A17.637,17.637,0,0,1,269.5,667.308Zm0-27.464a9.782,9.782,0,1,0,3.074.5h0A9.771,9.771,0,0,0,269.5,639.843Z" transform="translate(-251.805 -631.89)" fill="#344ba0"/>
                        </g>
                        <g id="Group_14951" data-name="Group 14951" transform="translate(107.954 497.667)">
                          <path id="Path_432942" data-name="Path 432942" d="M268.161,655.13a6.874,6.874,0,1,1,6.53-4.715A6.851,6.851,0,0,1,268.161,655.13Zm0-11.763a4.887,4.887,0,0,0-1.529,9.527h0a4.886,4.886,0,1,0,1.529-9.527Z" transform="translate(-261.289 -641.38)" fill="#e2e2e2"/>
                        </g>
                        <path id="Path_432943" data-name="Path 432943" d="M386.591,633.892a7.77,7.77,0,1,1-7.77,7.769A7.77,7.77,0,0,1,386.591,633.892Z" transform="translate(-136.66 -144.776)" fill="#e2e2e2"/>
                        <path id="Path_432944" data-name="Path 432944" d="M286.7,587.343a7.77,7.77,0,1,1-10.86,1.673A7.771,7.771,0,0,1,286.7,587.343Z" transform="translate(-151.485 -151.593)" fill="#e2e2e2"/>
                        <path id="Path_432945" data-name="Path 432945" d="M386.591,282.124a7.77,7.77,0,1,0-7.77-7.769A7.77,7.77,0,0,0,386.591,282.124Z" transform="translate(-136.66 -196.887)" fill="#e2e2e2"/>
                        <path id="Path_432946" data-name="Path 432946" d="M286.7,328.672A7.77,7.77,0,1,0,275.835,327,7.77,7.77,0,0,0,286.7,328.672Z" transform="translate(-151.485 -190.07)" fill="#e2e2e2"/>
                        <circle id="Ellipse_290" data-name="Ellipse 290" cx="7.77" cy="7.77" r="7.77" transform="translate(51.78 287.65) rotate(-47.469)" fill="#e2e2e2"/>
                        <path id="Path_432947" data-name="Path 432947" d="M428.919,633.892a7.77,7.77,0,1,0,7.769,7.769A7.769,7.769,0,0,0,428.919,633.892Z" transform="translate(-130.655 -144.776)" fill="#e2e2e2"/>
                        <path id="Path_432948" data-name="Path 432948" d="M528.815,587.343a7.77,7.77,0,1,0,10.86,1.673A7.771,7.771,0,0,0,528.815,587.343Z" transform="translate(-115.83 -151.593)" fill="#e2e2e2"/>
                        <path id="Path_432949" data-name="Path 432949" d="M428.919,282.124a7.77,7.77,0,1,1,7.769-7.769A7.77,7.77,0,0,1,428.919,282.124Z" transform="translate(-130.655 -196.887)" fill="#e2e2e2"/>
                        <circle id="Ellipse_291" data-name="Ellipse 291" cx="7.77" cy="7.77" r="7.77" transform="translate(409.47 139.752) rotate(-87.444)" fill="#e2e2e2"/>
                        <circle id="Ellipse_292" data-name="Ellipse 292" cx="7.77" cy="7.77" r="7.77" transform="translate(475.234 283.1) rotate(-23.224)" fill="#e2e2e2"/>
                        <path id="Path_432950" data-name="Path 432950" d="M607.726,431.853a10.52,10.52,0,0,1-5.579-17.21,185.384,185.384,0,0,0-68.519-86.954l-8.45-.581,2.315-3.439a183.164,183.164,0,0,0-88.749-27.914,10.521,10.521,0,0,1-18.091,0,183.485,183.485,0,0,0-106.478,40.565l-3,7.879-2.6-3.191a185.114,185.114,0,0,0-51.326,73.638,10.522,10.522,0,0,1-5.58,17.214,184.427,184.427,0,0,0,6.941,116.83l6.8,5.253-3.884,1.593A185.45,185.45,0,0,0,313.644,623.1a10.521,10.521,0,0,1,14.51,10.657A183.284,183.284,0,0,0,427.778,664.3l7.442-4.264-.014,4.2a183.231,183.231,0,0,0,95.012-29.793A10.52,10.52,0,0,1,544.8,623.876a185.008,185.008,0,0,0,60.789-88.542l-1.931-8.405,4.027,1.236a184.6,184.6,0,0,0,.045-96.311Z" transform="translate(-155.603 -192.749)" fill="none"/>
                        <path id="Path_432951" data-name="Path 432951" d="M259.89,532.138a184.428,184.428,0,0,1-6.941-116.83,10.468,10.468,0,0,1-9.862-2.9A194.7,194.7,0,0,0,250.367,536l1.372-10.159Z" transform="translate(-156.88 -176.198)" fill="url(#linear-gradient)"/>
                        <path id="Path_432952" data-name="Path 432952" d="M312.81,590.826a185.45,185.45,0,0,1-52.115-67.569l-9.51,3.9a195.756,195.756,0,0,0,55.251,71.722,10.389,10.389,0,0,1,6.374-8.055Z" transform="translate(-154.769 -160.472)" fill="url(#linear-gradient-2)"/>
                        <path id="Path_432953" data-name="Path 432953" d="M418.2,622.3a183.284,183.284,0,0,1-99.624-30.536,10.466,10.466,0,0,1-5.771,8.5A193.5,193.5,0,0,0,418.1,632.576l-8.848-5.148Z" transform="translate(-146.026 -150.752)" fill="url(#linear-gradient-3)"/>
                        <path id="Path_432954" data-name="Path 432954" d="M497.8,324.761a185.384,185.384,0,0,1,68.519,86.954,10.474,10.474,0,0,1,9.687-3.442,195.7,195.7,0,0,0-72.252-91.883l4.444,9.088Z" transform="translate(-119.78 -189.821)" fill="url(#linear-gradient-4)"/>
                        <path id="Path_432955" data-name="Path 432955" d="M562.7,415.3a184.6,184.6,0,0,1-.045,96.311l9.829,3.018a194.88,194.88,0,0,0,.078-102.227,10.4,10.4,0,0,1-9.862,2.9Z" transform="translate(-110.579 -176.199)" fill="url(#linear-gradient-5)"/>
                        <path id="Path_432956" data-name="Path 432956" d="M306.392,337.6A183.486,183.486,0,0,1,412.869,297.03a10.483,10.483,0,0,1-.29-10.272,193.7,193.7,0,0,0-112.415,42.665l9.947-1.608Z" transform="translate(-147.82 -194.025)" fill="url(#linear-gradient-6)"/>
                        <path id="Path_432957" data-name="Path 432957" d="M256.972,410.012A185.114,185.114,0,0,1,308.3,336.374l-6.495-7.969a195.439,195.439,0,0,0-54.519,78.172,10.4,10.4,0,0,1,9.688,3.436Z" transform="translate(-155.322 -188.116)" fill="url(#linear-gradient-7)"/>
                        <path id="Path_432958" data-name="Path 432958" d="M414.709,297.03a183.164,183.164,0,0,1,88.749,27.914l5.74-8.529A193.4,193.4,0,0,0,415,286.757a10.4,10.4,0,0,1-.288,10.273Z" transform="translate(-131.569 -194.025)" fill="url(#linear-gradient-8)"/>
                        <path id="Path_432959" data-name="Path 432959" d="M568.374,505.567a185.009,185.009,0,0,1-60.789,88.542,10.47,10.47,0,0,1,6.332,8.09,195.325,195.325,0,0,0,64.289-93.634l-7.533,7.009Z" transform="translate(-118.392 -162.982)" fill="url(#linear-gradient-9)"/>
                        <path id="Path_432960" data-name="Path 432960" d="M506.627,592.358a183.232,183.232,0,0,1-95.012,29.793l-.034,10.285a193.456,193.456,0,0,0,100.772-31.547,10.719,10.719,0,0,1-1.459-.884A10.51,10.51,0,0,1,506.627,592.358Z" transform="translate(-132.012 -150.668)" fill="url(#linear-gradient-10)"/>
                        <path id="Path_432961" data-name="Path 432961" d="M411.259,283.07V233.08h-7.95v49.991A16.552,16.552,0,0,1,411.259,283.07Z" transform="translate(-133.186 -201.641)" fill="#537dbf"/>
                        <path id="Path_432962" data-name="Path 432962" d="M195.066,384.806l-2.446,7.564,47.571,15.387a16.563,16.563,0,0,1,2.446-7.565Z" transform="translate(-163.077 -180.115)" fill="#68a2d7"/>
                        <path id="Path_432963" data-name="Path 432963" d="M627.173,392.371l-2.447-7.564-47.568,15.384a16.577,16.577,0,0,1,2.447,7.565Z" transform="translate(-108.521 -180.114)" fill="#ed196f"/>
                        <path id="Path_432964" data-name="Path 432964" d="M509.485,605.715l29.279,40.527,6.445-4.656-29.278-40.527A16.561,16.561,0,0,1,509.485,605.715Z" transform="translate(-118.122 -149.434)" fill="#2b2e74"/>
                        <path id="Path_432965" data-name="Path 432965" d="M301.159,600.328l-29.551,40.33,6.414,4.7,29.549-40.33A16.548,16.548,0,0,1,301.159,600.328Z" transform="translate(-151.871 -149.537)" fill="#344ba0"/>
                        <path id="Path_432966" data-name="Path 432966" d="M250.908,391.346a16.686,16.686,0,0,0-16.62,15.483c-.029.4-.061.794-.061,1.2a16.68,16.68,0,1,0,16.68-16.681Zm2.336,26.951a10.522,10.522,0,1,1,8.2-10.27A10.5,10.5,0,0,1,253.244,418.3Z" transform="translate(-157.174 -179.187)" fill="#68a2d7"/>
                        <path id="Path_432967" data-name="Path 432967" d="M412.838,276.919a16.551,16.551,0,0,0-7.95,0c-.387.095-.774.186-1.159.311a16.726,16.726,0,1,0,9.109-.312Zm5.068,21.576a10.537,10.537,0,1,1,.288-10.273,10.4,10.4,0,0,1-.288,10.273Z" transform="translate(-134.765 -195.49)" fill="#537dbf"/>
                        <path id="Path_432968" data-name="Path 432968" d="M577.322,408.808a10.549,10.549,0,1,1-2.449-7.564l6.119-1.98c-.21-.338-.417-.678-.653-1.006a16.722,16.722,0,1,0,3.1,8.571Z" transform="translate(-112.355 -179.187)" fill="#ed196f" style="mix-blend-mode: multiply;isolation: isolate"/>
                        <path id="Path_432969" data-name="Path 432969" d="M572.288,400.87a10.475,10.475,0,0,1,1.961,6.954l6.117-1.979a16.578,16.578,0,0,0-2.447-7.565l-6.119,1.98C571.966,400.458,572.134,400.656,572.288,400.87Z" transform="translate(-109.282 -178.203)" fill="#da15bf"/>
                        <path id="Path_432970" data-name="Path 432970" d="M572.288,400.87a10.475,10.475,0,0,1,1.961,6.954l6.117-1.979a16.578,16.578,0,0,0-2.447-7.565l-6.119,1.98C571.966,400.458,572.134,400.656,572.288,400.87Z" transform="translate(-109.282 -178.203)" fill="#da15bf" style="mix-blend-mode: multiply;isolation: isolate"/>
                        <path id="Path_432971" data-name="Path 432971" d="M501.312,603.068a10.717,10.717,0,0,1-1.459-.884,10.547,10.547,0,1,1,15.161-2.926l3.767,5.213c.257-.3.517-.6.757-.931a16.725,16.725,0,1,0-7.2,5.587l-3.766-5.213A10.544,10.544,0,0,1,501.312,603.068Z" transform="translate(-120.972 -152.847)" fill="#2b2e74"/>
                        <path id="Path_432972" data-name="Path 432972" d="M516.4,601.706l-3.767-5.213c-.137.219-.273.44-.429.653a10.472,10.472,0,0,1-6.015,4l3.766,5.213A16.562,16.562,0,0,0,516.4,601.706Z" transform="translate(-118.59 -150.082)" fill="#8f05bc"/>
                        <path id="Path_432973" data-name="Path 432973" d="M516.4,601.706l-3.767-5.213c-.137.219-.273.44-.429.653a10.472,10.472,0,0,1-6.015,4l3.766,5.213A16.562,16.562,0,0,0,516.4,601.706Z" transform="translate(-118.59 -150.082)" fill="#8f05bc" style="mix-blend-mode: multiply;isolation: isolate"/>
                        <path id="Path_432974" data-name="Path 432974" d="M315.985,577.192a16.668,16.668,0,0,0-18.012,26.538l3.8-5.188a10.535,10.535,0,0,1-1.422-7.194,10.54,10.54,0,0,1,13.7-8.327,10.534,10.534,0,0,1-5.869,20.219l-3.8,5.189c.369.152.735.307,1.12.434a16.68,16.68,0,0,0,10.479-31.672Z" transform="translate(-148.685 -152.94)" fill="#344ba0" style="mix-blend-mode: multiply;isolation: isolate"/>
                        <path id="Path_432975" data-name="Path 432975" d="M306.949,600.277a10.463,10.463,0,0,1-5.66-4.492l-3.8,5.188a16.549,16.549,0,0,0,6.413,4.7l3.8-5.189C307.45,600.421,307.2,600.359,306.949,600.277Z" transform="translate(-148.199 -150.182)" fill="#1737b8"/>
                        <path id="Path_432976" data-name="Path 432976" d="M306.949,600.277a10.463,10.463,0,0,1-5.66-4.492l-3.8,5.188a16.549,16.549,0,0,0,6.413,4.7l3.8-5.189C307.45,600.421,307.2,600.359,306.949,600.277Z" transform="translate(-148.199 -150.182)" fill="#1737b8" style="mix-blend-mode: multiply;isolation: isolate"/>
                      </g>
                      <circle id="Ellipse_293" data-name="Ellipse 293" cx="117.222" cy="117.222" r="117.222" transform="translate(323.624 375.501)" fill="#fff"/>
                    </g>
                  </svg>
                </div>
                <div class="label">PERSON SUPPORTED</div>
                <div class="wheel-boxes hide-mobile">
                    <div class="wheel-box">{{fields.content.box_label_one}}</div>
                    <div class="wheel-box">{{fields.content.box_label_two}}</div>
                    <div class="wheel-box">{{fields.content.box_label_three}}</div>
                    <div class="wheel-box">{{fields.content.box_label_four}}</div>
                    <div class="wheel-box">{{fields.content.box_label_five}}</div>
                </div>
                <div class="wheel-box single hide-desktop" data-state="1">
                  <div class="hide-mobile">{{fields.content.box_label_one}}</div>
                  <div class="mobile-boxes hide-desktop">
                    <div class="wheel-box">{{fields.content.box_label_one}}</div>
                    <div class="wheel-box">{{fields.content.box_label_two}}</div>
                    <div class="wheel-box">{{fields.content.box_label_three}}</div>
                    <div class="wheel-box">{{fields.content.box_label_four}}</div>
                    <div class="wheel-box">{{fields.content.box_label_five}}</div>
                  </div>
                </div>
                <div class="legend hide-desktop">
                  <div class="tap"><img src="/wp-content/themes/aspirico/blocks/wheel-block-one/tap.svg"></div>
                  <div class="text">
                    <h3>Click the graphic below to view each iplanit module</h3>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    let imageCallback = function (entries, observer) {
    entries.forEach(entry => {
        if(entry.isIntersecting) {
            console.log('visible');
            document.querySelector('.wheel-block-one').classList.add('active');
        } else {
            console.log('not visible');
        }
    });
    };

    const options = {
  "rootMargin": "0px 0px 0px 0px",
  "threshold": "1"
        //array of thresholds which are points that your element
        //that is being observed is coming in or out of obervation area
    };

    let wheelObserver = new IntersectionObserver(imageCallback, options);
    wheelObserver.observe(document.querySelector('.wheel-block-one .wheel'));

    function toggleWheelState(data, wheel) {
        if(screen.width < 1280) {
            if(data.state < 5) {
              document.querySelector('.wheel-box.single').dataset.state = parseInt(data.state) + 1;
              wheel.dataset.state = parseInt(data.state) + 1;
            } else if(data.state == 5) {
              document.querySelector('.wheel-box.single').dataset.state = 1;
              wheel.dataset.state = 1;
            }
        }
    }
</script>
{% endblock %}

