@import "mixins.scss";

.colorful-list {
    padding: 25px;
    @include screen(1024) {
        padding: 100px;
    }
    .flex {
        margin-bottom: 25px;
    }
    .wrapper {
        background:#f4f4f8;
        padding:25px;
        color:rgba(43, 46, 116, 1);
        border-radius: 15px;
        @include screen(1024) {
            padding:40px;
        }
        @include screen(1366) {
            padding:80px;
        }
    }
    ul {
        list-style: initial;
        padding-left: 20px;
        margin-top: 25px;
    }
    li {
        line-height: 1.3;
        font-weight: 600;
        & + li {
            margin-top:25px;
        }
        &::marker {
            color:rgba(254, 190, 18, 1);
        }
    }
    &.yellow {
        h3 {
            color:rgba(254, 190, 18, 1);
        }
    }
}

@include screen(1280) {
    .colorful-content {
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
    }
}