.colorful-list {
  padding: 25px;
}
@media only screen and (min-width: 1024px) {
  .colorful-list {
    padding: 100px;
  }
}
.colorful-list .flex {
  margin-bottom: 25px;
}
.colorful-list .wrapper {
  background: #f4f4f8;
  padding: 25px;
  color: rgb(43, 46, 116);
  border-radius: 15px;
}
@media only screen and (min-width: 1024px) {
  .colorful-list .wrapper {
    padding: 40px;
  }
}
@media only screen and (min-width: 1366px) {
  .colorful-list .wrapper {
    padding: 80px;
  }
}
.colorful-list ul {
  list-style: initial;
  padding-left: 20px;
  margin-top: 25px;
}
.colorful-list li {
  line-height: 1.3;
  font-weight: 600;
}
.colorful-list li + li {
  margin-top: 25px;
}
.colorful-list li::marker {
  color: rgb(254, 190, 18);
}
.colorful-list.yellow h3 {
  color: rgb(254, 190, 18);
}

@media only screen and (min-width: 1280px) {
  .colorful-content .wrapper {
    flex-direction: row;
  }
  .colorful-content .wp-block-image {
    margin-bottom: 60px;
  }
  .colorful-content .wp-block-buttons {
    margin-top: 40px;
  }
  .colorful-content .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
