{% set images = fn('get_field', 'images', item.id) %}
<div class="related-container">
	<div class="related-image cp">
		<a href="{{item.link}}">
			{{imageElement(images.thumbnail_image)}}
		</a>
		{% if fields.post_type == "post" %}
		<label>{{ item.date('j F Y') }}</label>
		{% else %}
		<label>{{fn('get_field', 'case_study_category', item.id)}}</label>
		{% endif %}
	</div>
	<div class="related-info">
		<div class="related-content">
			<h4>{{item.title}}</h4>
		</div>
	</div>
	<div class="related-sum">
		<p class="preview">{{ item.preview.length(15).read_more('') }}</p>
	</div>
	<div class="related-read">
		<a class="read-more d-f ai-c cp" href="{{item.link}}">
			<span>View Case Study</span>
		</a>
	</div>
</div>