@import "mixins.scss";

.numbered-list {
    background:linear-gradient(180deg, rgba(104,162,215,1) 0%, rgba(83,125,191,1) 100%);
    color:white;
    position: relative;
    padding: 7.5vh 50px;
    @include screen(1280) {
        padding: 15vh 50px;
    }
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:url('/wp-content/themes/aspirico/blocks/numbered-list/bg-one.png');
        background-position: right;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
        background-size: contain;
    }
    h2 {
        font-weight: 400;
        strong {
            font-weight: 700;
        }
    }
    .items {
        padding: 50px 0;
        @include screen(1280) {
            display: flex;
            flex-wrap: wrap;
            row-gap: 50px;
            column-gap: 100px;
        }
    }
    li {
        display: flex;
        align-items: flex-start;
        @include screen(1280) {
            flex: 0 0 calc(50% - 50px);
            max-width: calc(50% - 50px);
        }
        .label {
            font-weight: 300;
            color:#2B2E74;
            font-size: 25px;
            margin-right: 1.5vw;
            flex: 0 0 40px;
            max-width: 40px;
            @include screen(768) {
                flex: 0 0 60px;
                max-width: 60px;
                margin-right: 6vw;
                font-size: 35px;
            }
            @include screen(1280) {
                flex: 0 0 75px;
                max-width: 75px;
                line-height: 0.8;
                font-size: 55px;
                margin-right: 3vw;
            }
        }
        p {
            font-size: 14px;
            line-height: 16px;
            margin-top:0;
            letter-spacing: 0.5px;
            @include screen(768) {
                font-size: 18px;
                line-height: 20px;
            }
            @include screen(1280) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        strong {
            color:#2B2E74;
        }
    }
}