.numbered-list {
  background: linear-gradient(180deg, rgb(104, 162, 215) 0%, rgb(83, 125, 191) 100%);
  color: white;
  position: relative;
  padding: 7.5vh 50px;
}
@media only screen and (min-width: 1280px) {
  .numbered-list {
    padding: 15vh 50px;
  }
}
.numbered-list:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/aspirico/blocks/numbered-list/bg-one.png");
  background-position: right;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  background-size: contain;
}
.numbered-list h2 {
  font-weight: 400;
}
.numbered-list h2 strong {
  font-weight: 700;
}
.numbered-list .items {
  padding: 50px 0;
}
@media only screen and (min-width: 1280px) {
  .numbered-list .items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 100px;
  }
}
.numbered-list li {
  display: flex;
  align-items: flex-start;
}
@media only screen and (min-width: 1280px) {
  .numbered-list li {
    flex: 0 0 calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
}
.numbered-list li .label {
  font-weight: 300;
  color: #2B2E74;
  font-size: 25px;
  margin-right: 1.5vw;
  flex: 0 0 40px;
  max-width: 40px;
}
@media only screen and (min-width: 768px) {
  .numbered-list li .label {
    flex: 0 0 60px;
    max-width: 60px;
    margin-right: 6vw;
    font-size: 35px;
  }
}
@media only screen and (min-width: 1280px) {
  .numbered-list li .label {
    flex: 0 0 75px;
    max-width: 75px;
    line-height: 0.8;
    font-size: 55px;
    margin-right: 3vw;
  }
}
.numbered-list li p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  letter-spacing: 0.5px;
}
@media only screen and (min-width: 768px) {
  .numbered-list li p {
    font-size: 18px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .numbered-list li p {
    font-size: 20px;
    line-height: 28px;
  }
}
.numbered-list li strong {
  color: #2B2E74;
}

/*# sourceMappingURL=style.css.map */
