{% extends "block-base.twig" %}

{% block content %}
<section class="numbered-list {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="container">
            <ul class="items">
            {% for item in fields.content.items %}
            <li>
                <div class="label">{{item.label}}</div>
                <div class="content">{{item.content}}</div>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
