.book-a-demo-two {
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}
.book-a-demo-two:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/wp-content/themes/aspirico/blocks/book-a-demo-two/bg-two.png");
  z-index: -2;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo-two {
    padding: 150px 0;
  }
}
.book-a-demo-two .circle {
  background: linear-gradient(153deg, rgb(104, 162, 215) 0%, rgb(52, 75, 160) 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  height: 80vw;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo-two .circle {
    height: 685px;
    width: 685px;
  }
}
.book-a-demo-two .circle:before {
  content: "";
  position: absolute;
  top: -61px;
  bottom: -98px;
  left: -233px;
  right: -186px;
  background: url(/wp-content/themes/aspirico/blocks/book-a-demo-two/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo-two .circle:before {
    top: -150px;
    bottom: -222px;
    left: -195px;
    right: -150px;
  }
}
.book-a-demo-two .top {
  color: rgb(104, 162, 215);
  letter-spacing: 2.1px;
  margin-top: 15px;
}
.book-a-demo-two .mid {
  letter-spacing: 2.1px;
  color: white;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
}
@media only screen and (min-width: 1280px) {
  .book-a-demo-two .mid {
    font-size: 42px;
    line-height: 50px;
  }
}
.book-a-demo-two .inner {
  text-align: center;
}
.book-a-demo-two form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .book-a-demo-two form {
    gap: 30px;
  }
}
.book-a-demo-two .gform_button {
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #ed196f;
  border: 1px solid #ed196f;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 7px 20px;
  min-width: 120px;
}
@media only screen and (min-width: 768px) {
  .book-a-demo-two .gform_button {
    font-size: 18px;
    min-width: 175px;
    padding: 13px 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .book-a-demo-two .gform_button {
    font-size: 20px;
    min-width: 200px;
  }
}
.book-a-demo-two .gform_button:hover {
  background: white;
  color: #ed196f;
}
.book-a-demo-two input[type=email] {
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 3px;
  color: rgb(43, 46, 116);
  font-weight: 700;
  padding-left: 15px;
  height: 32px;
  width: 145px;
  font-size: 12px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo-two input[type=email] {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .book-a-demo-two input[type=email] {
    height: 46px;
    min-width: 300px;
  }
}
.book-a-demo-two input[type=email]::placeholder {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  color: rgb(43, 46, 116);
  opacity: 0.6;
  font-size: 12px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo-two input[type=email]::placeholder {
    font-size: 16px;
  }
}
.book-a-demo-two label {
  display: none;
}
.book-a-demo-two .gform_title {
  display: none;
}
.book-a-demo-two .gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 15px;
}
@media only screen and (min-width: 1024px) {
  .book-a-demo-two .gform_fields {
    column-gap: 50px;
    row-gap: 30px;
  }
}
.book-a-demo-two .gform_submission_error {
  font-size: 15px;
  color: white;
  margin: 25px 0;
  border: 2px solid red;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.book-a-demo-two .gform_validation_errors:focus-visible {
  outline: none;
}
.book-a-demo-two .gfield {
  box-sizing: border-box;
}
.book-a-demo-two .gfield_validation_message {
  color: white;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.book-a-demo-two .gfield_error {
  border: 1px solid red !important;
  padding: 15px;
}
.book-a-demo-two .gfield_label {
  display: none;
}
.book-a-demo-two .gfield--type-honeypot {
  display: none;
}

/*# sourceMappingURL=style.css.map */
