@import "mixins.scss";

.book-a-demo-two {
    padding: 50px 0;
    overflow: hidden;
    position:relative;
    &:before {
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: url('/wp-content/themes/aspirico/blocks/book-a-demo-two/bg-two.png');
        z-index: -2;
    }
    @include screen(1280) {
        padding: 150px 0;
    }
    .circle {
        background: linear-gradient(153deg, rgba(104,162,215,1) 0%, rgba(52,75,160,1) 100%);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        height:80vw;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        margin:auto;
        @include screen(1280) {
            height:685px;
            width: 685px;
        }
    }
    .circle {
        &:before {
            content:"";
            position:absolute;
            top: -61px;
            bottom: -98px;
            left: -233px;
            right: -186px;
            background: url(/wp-content/themes/aspirico/blocks/book-a-demo-two/bg.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            @include screen(1280) {
                top: -150px;
                bottom: -222px;
                left: -195px;
                right: -150px;
            }
        }
    }
    .top {
        color: rgba(104, 162, 215, 1);
        letter-spacing: 2.1px;
        margin-top:15px;
    }
    .mid {
        letter-spacing: 2.1px;
        color:white;
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        @include screen(1280) {
            font-size: 42px;
            line-height: 50px;
        }
    }
    .inner {
        text-align: center;
    }
    form {
        display:flex;
        gap: 10px;
        align-items: center;
        margin-top:25px;
        @include screen(768) {
            gap: 30px;
        }
    }
    .gform_button {
        box-sizing: border-box;
        font-family: "Figtree",sans-serif;
        font-weight: 500;
        cursor:pointer;
        transition:all 0.3s ease-out;
        background:#ed196f;
        border:1px solid #ed196f;
        color:white;
        font-size: 14px;
        border-radius: 5px;
        padding: 7px 20px;
        min-width: 120px;
        @include screen(768) {
            font-size: 18px;
            min-width: 175px;
            padding: 13px 25px;
        }
        @include screen(1280) {
            font-size: 20px;
            min-width: 200px;
        }
        &:hover {
            background: white;
            color:#ed196f;;
        }
    }
    input[type="email"] {
        box-sizing: border-box;
        outline: none;
        border: 1px solid rgba(218, 218, 218, 1);
        border-radius: 3px;
        color: rgba(43, 46, 116, 1);
        font-weight: 700;
        padding-left: 15px;
        height: 32px;
        width: 145px;
        font-size: 12px;
        @include screen(1024) {
            font-size: 16px;
        }
        @include screen(1280) {
            height: 46px;
            min-width: 300px;
        }
        &::placeholder {
            font-family: "Figtree",sans-serif;
            font-weight: 500;
            color: rgba(43, 46, 116, 1);
            opacity:0.6;
            font-size: 12px;
            @include screen(1024) {
                font-size: 16px;
            }
        }
    }
    label {
        display:none;
    }
    .gform {
        &_title {
            display:none;
        }
        &_fields {
            display:flex;
            flex-wrap:wrap;
            column-gap:25px;
            row-gap:15px;
            @include screen(1024) {
                column-gap:50px;
                row-gap:30px;
            }
        }
        &_submission_error {
            font-size: 15px;
            color: white;
            margin: 25px 0;
            border: 2px solid red;
            border-radius: 3px;
            padding: 20px;
            outline: none;
        }
        &_validation_errors {
            &:focus-visible {
                outline: none;
            }
        }

    }
    .gfield {
        box-sizing: border-box;
        &_validation_message {
            color: white;
            font-size: 14px;
            margin-top: 15px;
            font-weight: 700;
        }
        &_error {
            border: 1px solid red !important;
            padding: 15px;
        }
        &_label {
            display:none;
        }
        &--type {
            &-honeypot {
                display:none;
            }

        }
    }
    

}