{% extends "block-base.twig" %}

{% block content %}
<section class="book-a-demo-two {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="container">
            <div class="circle">
                <div class="inner">
                    <div class="top">{{fields.content.top_text}}</div>
                    <div class="mid">{{fields.content.bottom_text}}</div>
                    <div class="fields">
                    [gravityform id="{{fields.content.form_id}}" title="false"]
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
