@import "mixins.scss";

.service-boxes-two {
    @include screen(1024) {
        padding: 75px 0;
    }
    .box {
        box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        & + .box {
            margin-top:30px;
            @include screen(1024) {
                margin-top:70px;
            }
        }
        &:nth-child(1) {
            h2,
            h3,
            h4,
            .label {
                color:rgba(104, 162, 215, 1);
            }
        }
        &:nth-child(2) {
            h2,
            h3,
            h4,
            .label {
                color:rgba(241, 88, 34, 1);
            }
        }
        &:nth-child(3) {
            h2,
            h3,
            h4,
            .label {
                color:rgba(104, 166, 144, 1);
            }
        }
        &:nth-child(4) {
            h2,
            h3,
            h4,
            .label {
                color:rgba(254, 190, 18, 1);
            }
        }
        p,
        li {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.3px;
            @include screen(1024) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        li {
            position: relative;
            padding-left:20px;
            @include screen(1024) {
                padding-left:40px;
            }
            &:before {
                font-family: "icomoon";
                content: "\e900";
                color: #FEBE12;
                font-size: 5px;
                position: absolute;
                left: 10px;
                top: 2px;
                @include screen(1024) {
                    font-size: 9px;
                }
            }
            & + li {
                margin-top:15px;
                @include screen(1024) {
                    margin-top:25px;
                }
            }
        }
        .label {
            font-weight: 300;
            letter-spacing: 2.25px;
            font-size: 35px;
            margin-bottom: 15px;
            @include screen(1024) {
                margin-bottom: 40px;
                font-size: 55px;
                line-height: 35px;
            }
        }
        &.one {
            padding: 50px;
            @include screen(1024) {
                padding: 75px;
            }
        }
        &.two {
            .inner {
                @include screen(768) {
                    display:flex;
                    align-items: stretch;
                }
            }
            .left {
                padding: 50px;
                @include screen(768) {
                    flex:0 0 calc(50% - 100px);
                    max-width: calc(50% - 100px);
                }
                @include screen(1024) {
                    padding: 75px;
                    flex:0 0 calc(50% - 150px);
                    max-width: calc(50% - 150px);
                }
            }
            .right {
                padding: 50px;
                background:#f4f4f8;
                @include screen(768) {
                    flex:0 0 calc(50% - 100px);
                    max-width: calc(50% - 100px);
                    display: flex;
                    align-items: center;
                }
                @include screen(1024) {
                    padding: 75px;
                    flex:0 0 calc(50% - 150px);
                    max-width: calc(50% - 150px);
                }
            }
        }
        &.three {
            padding: 50px;
            .wrapper {
                @include screen(768) {
                    display:flex;
                    align-items: center;
                    margin-top: 50px;
                    gap: 5vw;
                }
            }
            .right {
                @include screen(768) {
                    flex:0 0 calc(50% - 2.5vw);
                    max-width: calc(50% - 2.5vw);
                }
            }
            .left {
                margin: 25px 0;
                @include screen(768) {
                    flex:0 0 calc(50% - 2.5vw);
                    max-width: calc(50% - 2.5vw);
                }
                @include screen(1024) {
                    margin: 0;
                }
            }
        }
    }
}