@media only screen and (min-width: 1024px) {
  .service-boxes-two {
    padding: 75px 0;
  }
}
.service-boxes-two .box {
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.service-boxes-two .box + .box {
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box + .box {
    margin-top: 70px;
  }
}
.service-boxes-two .box:nth-child(1) h2,
.service-boxes-two .box:nth-child(1) h3,
.service-boxes-two .box:nth-child(1) h4,
.service-boxes-two .box:nth-child(1) .label {
  color: rgb(104, 162, 215);
}
.service-boxes-two .box:nth-child(2) h2,
.service-boxes-two .box:nth-child(2) h3,
.service-boxes-two .box:nth-child(2) h4,
.service-boxes-two .box:nth-child(2) .label {
  color: rgb(241, 88, 34);
}
.service-boxes-two .box:nth-child(3) h2,
.service-boxes-two .box:nth-child(3) h3,
.service-boxes-two .box:nth-child(3) h4,
.service-boxes-two .box:nth-child(3) .label {
  color: rgb(104, 166, 144);
}
.service-boxes-two .box:nth-child(4) h2,
.service-boxes-two .box:nth-child(4) h3,
.service-boxes-two .box:nth-child(4) h4,
.service-boxes-two .box:nth-child(4) .label {
  color: rgb(254, 190, 18);
}
.service-boxes-two .box p,
.service-boxes-two .box li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box p,
  .service-boxes-two .box li {
    font-size: 20px;
    line-height: 28px;
  }
}
.service-boxes-two .box li {
  position: relative;
  padding-left: 20px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box li {
    padding-left: 40px;
  }
}
.service-boxes-two .box li:before {
  font-family: "icomoon";
  content: "\e900";
  color: #FEBE12;
  font-size: 5px;
  position: absolute;
  left: 10px;
  top: 2px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box li:before {
    font-size: 9px;
  }
}
.service-boxes-two .box li + li {
  margin-top: 15px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box li + li {
    margin-top: 25px;
  }
}
.service-boxes-two .box .label {
  font-weight: 300;
  letter-spacing: 2.25px;
  font-size: 35px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box .label {
    margin-bottom: 40px;
    font-size: 55px;
    line-height: 35px;
  }
}
.service-boxes-two .box.one {
  padding: 50px;
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box.one {
    padding: 75px;
  }
}
@media only screen and (min-width: 768px) {
  .service-boxes-two .box.two .inner {
    display: flex;
    align-items: stretch;
  }
}
.service-boxes-two .box.two .left {
  padding: 50px;
}
@media only screen and (min-width: 768px) {
  .service-boxes-two .box.two .left {
    flex: 0 0 calc(50% - 100px);
    max-width: calc(50% - 100px);
  }
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box.two .left {
    padding: 75px;
    flex: 0 0 calc(50% - 150px);
    max-width: calc(50% - 150px);
  }
}
.service-boxes-two .box.two .right {
  padding: 50px;
  background: #f4f4f8;
}
@media only screen and (min-width: 768px) {
  .service-boxes-two .box.two .right {
    flex: 0 0 calc(50% - 100px);
    max-width: calc(50% - 100px);
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box.two .right {
    padding: 75px;
    flex: 0 0 calc(50% - 150px);
    max-width: calc(50% - 150px);
  }
}
.service-boxes-two .box.three {
  padding: 50px;
}
@media only screen and (min-width: 768px) {
  .service-boxes-two .box.three .wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 5vw;
  }
}
@media only screen and (min-width: 768px) {
  .service-boxes-two .box.three .right {
    flex: 0 0 calc(50% - 2.5vw);
    max-width: calc(50% - 2.5vw);
  }
}
.service-boxes-two .box.three .left {
  margin: 25px 0;
}
@media only screen and (min-width: 768px) {
  .service-boxes-two .box.three .left {
    flex: 0 0 calc(50% - 2.5vw);
    max-width: calc(50% - 2.5vw);
  }
}
@media only screen and (min-width: 1024px) {
  .service-boxes-two .box.three .left {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
