{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">{{fields.content.content}}</div>
    </div>
    <div class="bot">
        <div class="container">
            <ul class="boxes">
            {% for box in fields.boxes %}
            <li class="box {% if box.type == 1 %}one{% endif %}{% if box.type == 2 %}two{% endif %}{% if box.type == 3 %}three{% endif %}">
                <div class="inner">
                {% if box.type == 1 %}
                    <div class="label">{{box.label}}</div>
                    <div class="content">{{box.content}}</div>
                {% endif %}
                {% if box.type == 2 %}
                <div class="left">
                    <div class="label">{{box.label}}</div>
                    <div class="content">{{box.content}}</div>
                </div>
                <div class="right">
                    <div class="content">{{box.list_content}}</div>
                </div>
                {% endif %}
                {% if box.type == 3 %}
                <div class="label">{{box.label}}</div>
                <h2 class="title">{{box.list_title}}</h2>
                <div class="wrapper">
                    <div class="left">
                        {{imageElement(box.image)}}
                    </div>
                    <div class="right">
                        <div class="content">{{box.content}}</div>
                    </div>
                </div>
                {% endif %}
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}

